.discussion-thread {
	padding: 0em 1em;
	.back {
		display: block;
		border-bottom: 1px solid #E0E0E0;
		margin-bottom: 1em;
	}
	.title {
		font-weight: bold;
		margin-bottom: 2em;
		line-height: 24px;
	}
	.thread-buttons {
		float: right;
	}
}