.collection-autocomplete-component {
	.input {
		width: 100%;
	}
	.pt-popover-target {
		width: 100%;
	}
}
.collection-autocomplete-popover {
	.autocomplete-name {
		padding: 0em 1em;
	}	
	.pt-menu-item {
		display: flex;
	    align-content: center;
	    align-items: center;
	}
	.new-title {
		padding-right: 0.5em;
	}
}
