.nav-drag-component {
	width: 100%;
	.new-collection-wrapper {
		margin: 0em 0em 1em;
		width: 350px;
	}
	.main-list-wrapper {
		overflow: hidden;
		overflow-x: scroll;
		padding-bottom: 25px;
		// height: 40px;
	}
	.main-list-wrapper-scroll {
		// overflow: hidden;
		// overflow-x: scroll;
		// height: 90px;
		// padding-bottom: 50px;
	}
	.main-list {
		position: relative;	
		display: inline-flex;
		line-height: 40px;
		min-width: 100%;
		// height: 40px;
		// overflow: hidden;
	}
	.nav-item-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		z-index: 1;
	}
	.nav-item {
		z-index: 2;
		position: relative;
		user-select: none;
		white-space: nowrap;
		text-transform: uppercase;
		font-weight: 500;
		margin: 0em 1em;
		.pt-icon-lock2 {
			font-size: 14px;
			padding-right: 0.15em;
			position: relative;
			top: -1px;
		}
		.pt-icon-small-cross {
			opacity: 0.75;
		}
		// &.dragging {
		// 	background: lightgreen;
		// }
	}
	.pt-icon-drag-handle-horizontal, .pt-icon-drag-handle-vertical {
		padding-right: 0.25em;
	}
	.sub-nav-item {
		display: flex;
		height: 40px;
		padding: 5px 0px;
		line-height: 30px;
	}
	.dragger-horiz {
		cursor: ew-resize;
	}
	.dragger-vert {
		cursor: ns-resize;
		flex-grow: 1;
		flex-shrink: 1;
	}
	.dropdown-wrapper {
		color: #333;
		text-transform: none;
		font-weight: 400;
		padding: 0.5em;
		.pt-icon-small-cross {
			opacity: 0.5;
		}
	}
}