.pub-options-sharing-component {
	.managers {
		&:after {
			display: table;
			clear: both;
			content: "";
		}
	}
	.manager {
		width: calc(50% - 0.5em);
		margin-right: 0.5em;
		margin-bottom: 1em;
		float: left;
		padding: 0.5em;
		&:nth-child(odd) {
			margin-right: 0em;
			margin-left: 0.5em;
		}
		display: flex;
		height: 49px;
		.name {
			flex-grow: 1;
			flex-shrink: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: flex;
			align-items: center;
			font-size: 16px;
			.avatar-component {
				margin-right: 0.5em;
			}
		}
		.options {
			margin-left: 1em;
			white-space: nowrap;
			flex-shrink: 0;
			flex-grow: 0;
			display: flex;
			align-items: center;
		}
		&.add {
			padding: 0em;
			.user-autocomplete-component {
				width: 100%;
				input {
					height: 49px;
				    box-shadow: none;
				    background: #F0F0F0;
				}
			}
		}
	}
	.draggable-item {
		// margin-bottom: 1em;
		background-color: rgba(255, 255, 255, 0.75);
		&.dragging {
			box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
		}
	}
	.pt-icon-drag-handle-horizontal {
		padding: 0em 1em;
		cursor: ns-resize;
	}
	.share-link {
		display: flex;
		align-items: center;
		&:not(:last-of-type) {
			padding-bottom: 0.5em;
		}
		b {
			width: 15em;
			display: inline-block;
		}
		input {
			display: block;
			flex-shrink: 1;
			flex-grow: 1;
			text-align: center;
		}
	}
	.wrapper {
		padding-bottom: 4em;
	}
	.collaborators-wrapper {
		padding-top: 1em;
		padding-bottom: 2em;
	}	
}