.pub-options-sharing-component {
	.managers {
		margin-bottom: 2em;
		&:after {
			display: table;
			clear: both;
			content: "";
		}
	}
	.manager {
		width: calc(50% - 0.5em);
		margin-right: 0.5em;
		margin-bottom: 1em;
		float: left;
		padding: 0.5em;
		&:nth-child(odd) {
			margin-right: 0em;
			margin-left: 0.5em;
			width: calc(50% - 0.5em - 1px);
		}
		display: flex;
		height: 49px;
		.name {
			flex-grow: 1;
			flex-shrink: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: flex;
			align-items: center;
			font-size: 16px;
			.avatar-component {
				margin-right: 0.5em;
			}
		}
		.options {
			margin-left: 1em;
			white-space: nowrap;
			flex-shrink: 0;
			flex-grow: 0;
			display: flex;
			align-items: center;
		}
		&.add {
			padding: 0em;
			.user-autocomplete-component {
				width: 100%;
				input {
					height: 49px;
				    box-shadow: none;
				    background: #F0F0F0;
				}
			}
		}
	}
	.version-block {
		&.draft {
			background: #F4F4F4;
		}
		&:last-of-type {
			border-bottom: 1px solid #CCC;
		}
		&:not(.active):hover {
			background: #F9F9F9;
		}
		&.active {
			cursor: default;
		}
		cursor: pointer;
		border: 1px solid #CCC;
		border-bottom: 0px solid transparent;
		padding: 1em;
		.header {
			display: flex;
			.title {
				flex-grow: 1;
				flex-shrink: 1;
				span {
					padding-left: 1em;
				}
			}
			.privacy {
				white-space: nowrap;
				padding-left: 2em;
			}
		}
		a {
			color: #2B88DF;
			margin-right: 1em;
			display: inline-block;
		}
	}
	.pt-checkbox {
		margin-bottom: 0px;
	}
}