.pub-options-sharing-component {
	.cards-wrapper {
		margin-bottom: 2em;
		display: flex;
		flex-wrap: wrap;
	}
	.card {
		margin-right: 0.5em;
		margin-bottom: 0.5em;
		padding: 4px 6px;
		display: flex;
		height: 33px;
		background-color: white;
		.name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: flex;
			align-items: center;
			font-size: 14px;
			margin-right: 3em;
			.avatar-component {
				margin-right: 0.5em;
			}
			.pt-icon-people {
				font-size: 14px;
				margin-right: 2px;
			}
			.managers-preview {
				margin-left: 5px;
				.avatar-component {
					margin-right: 1px;
				}
			}
		}
		.options {
			white-space: nowrap;
			display: flex;
			align-items: center;
		}
		&.add {
			padding: 0em;
			.user-autocomplete-component {
				width: 100%;
				input {
					height: 33px;
				    box-shadow: none;
				    // background: #F9F9F9;
				    font-size: 14px;
				}
			}
		}
		&.flat {
		    background: #F9F9F9;
		}
	}
	.version-block {
		&:last-of-type {
			border-bottom: 1px solid #CCC;
		}
		&:not(.active):hover {
			background: #F9F9F9;
		}
		&.active {
			cursor: default;
			background: #F4F4F4;
		}
		cursor: pointer;
		border: 1px solid #CCC;
		border-bottom: 0px solid transparent;
		padding: 1em;
		.header {
			display: flex;
			.title {
				flex-grow: 1;
				flex-shrink: 1;
				span {
					padding-left: 1em;
				}
			}
			.privacy {
				white-space: nowrap;
				padding-left: 2em;
			}
		}
		a {
			color: #2B88DF;
			margin-right: 1em;
			display: inline-block;
		}
	}
	.access-preview {
		display: flex;
		align-items: center;
		& > * {
			margin-right: 1px;
		}
	}
	.pt-checkbox {
		margin-bottom: 0px;
	}
}

.pub-options-dropdown.pt-menu {
	min-width: auto;
}
