.pub-collab-share-component {
	h5 {
		margin-bottom: 1em;
	}
	// .intro {
	// 	padding-bottom: 2em;
	// 	span {
	// 		text-decoration: underline;
	// 		cursor: pointer;
	// 	}
	// }
	.draggable-item {
		// margin-bottom: 1em;
		background-color: rgba(255, 255, 255, 0.75);
		&.dragging {
			box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
		}
	}
	.pt-icon-drag-handle-horizontal {
		padding: 0em 1em;
		cursor: ns-resize;
	}
	.share-link {
		display: flex;
		align-items: center;
		&:not(:last-of-type) {
			padding-bottom: 0.5em;
		}
		b {
			width: 15em;
			display: inline-block;
		}
		input {
			display: block;
			flex-shrink: 1;
			flex-grow: 1;
			text-align: center;
		}
	}
	.wrapper {
		padding-bottom: 4em;
	}
	.collaborators-wrapper {
		padding-top: 1em;
		padding-bottom: 2em;
	}
}