.header {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	&.has-image {
		color: white;
	}
	.header-gradient {
		background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.0) 100%);
		color: white;
		.pt-button:not([class*="pt-intent-"]), .pt-button[class*="pt-icon-"]::before { color: inherit; }
	}
	.headerItems {
		height: 40px;
		display: flex;
		align-items: center;		
	}
	.headerItemsLeft {
		float: left;
	}
	.headerItemsRight {
		float: right;
	}
	.headerLogo {
		height: 40px;
	}
	.homeLogo {
		height: 150px;
	}
	.avatar-button.pt-button.pt-large {
		padding: 0px 5px;
	}
	.community-header {
		// margin-top: -56px;
		// padding-top: 56px;
		// z-index: -1;
		// position: relative;
		// background-size: cover;
		// background-repeat: no-repeat;
		// background-position: center center;
		// &.has-image {
		// 	color: white;
		// }
		.logo {
			// height: calc(150px + 2em);
			display: block;
			padding-top: 2em;
			max-width: 100%;
			max-height: 200px;
		}
		.description {
			padding: 1em 0em 2em;
			font-size: 1.5em;
			font-size: 1.75em;
			font-weight: 200;
			max-width: 600px;
			text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
		}
	}

}

@media only screen and (max-width: 720px) {  /* Used to be 45em */
	.community-header {
		.description {
			max-width: 100%;
		}
	}
}