.pub-pres-doi-component {
	h5.overlay-title {
		padding-top: 5px;
		margin-bottom: 30px;
	}
	p {
		font-size: 1em;
		line-height: 1.4;
		margin-bottom: 30px;
	}
	a {
		font-family: 'Courier', monospace;
		text-decoration: underline;
	}
}