.pub-pres-header {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	.wrapper {
		padding: 2em 0em 1em;
		&.dim {
			padding: 2.5em 0em;
			background-color: rgba(0, 0, 0, 0.17);
		}
	}
	h1 {
		color: inherit;
		line-height: 1;
		margin: 0;
	}
	.description {
		padding-top: 1.5em;
		max-width: 700px;
		font-size: 1.3em;
		line-height: 1.3;
		font-weight: 100;
	}
}