.pub-options-review-component {
	.header-bar {
		display: flex;
		h1 {
			flex-grow: 1;
			flex-shrink: 1;
		}
		span {
			text-transform: capitalize;
		}
	}
	.editor:not(.read-only) {
		border: 1px solid #CCC;
		border-radius: 2px;
		padding: 1em;
		margin: 0.5em 0em;
	}
	.editor.read-only {
		margin-top: 0.5em;
	}
	.pt-tag, .status {
		text-transform: capitalize;
		&.pt-intent-warning {
			background: #d9c72b;
		}
	}
	.pt-callout a {
		text-decoration: underline;
	}
	.button-row {
		margin-bottom: 4em;
		display: flex;
		flex-wrap: wrap;
		.statuses {
			flex-grow: 1;
			flex-shrink: 1;
			margin-bottom: 0.5em;
		}
		.pt-intent-primary {
			margin-bottom: 0.5em;
		}
	}
	.review-item {
		padding-left: 2em;
		padding-bottom: 2em;
		margin-left: 13px;
		position: relative;
		&:not(:last-of-type) {
			border-left: 1px solid #CCC;	
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: -13px;
			width: 25px;
			height: 25px;
			border-radius: 25px;
			background: #DDD;
		}
		.avatar-component {
			position: absolute;
			top: 0;
			left: -13px;
		}
		.item-header {
			display: flex;
			margin-bottom: 0.5em;
			.date {
				font-weight: 600;
			}
			.name {
				flex-grow: 1;
				flex-shrink: 1;
				margin-left: 0.5em;
			}
		}
	}
}
