@use 'styles/mixins';

$component-prefix: 'mobile-aware-component';

@include mixins.desktop {
	.#{$component-prefix}__mobile {
		display: none !important;
	}
}

@include mixins.mobile {
	.#{$component-prefix}__desktop {
		display: none !important;
	}
}
