@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import 'styles/mixins.scss';

.query-list-dropdown-component {
	.#{$bp}-popover-content > .search-wrapper {
		width: 400px;
		max-height: 400px;
		@include mobile {
			width: auto;
			max-width: 400px;
		}
		display: flex;
		flex-direction: column;
		.#{$bp}-input-group {
			z-index: 1;
		}
		.#{$bp}-menu {
			flex-grow: 1;
			overflow: auto;
			min-height: 0;
			padding: 0;
		}
	}
	.empty-list {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-style: italic;
	}
}
