.pub-collaborator-details-component {
	display: flex;
	align-items: flex-start;
	// padding-bottom: 1em;
	// margin-bottom: 1em;
	padding: 1em 0em;
	width: 100%;
	border-bottom: 1px solid #CCC;
	&.static {
		.content {
			.name {
				margin-bottom: 0px;
				.pt-tag {
					float: right;
					font-weight: 400;
				}
			}
			.role-wrapper {
				.pt-tag {
					margin: 8px 8px 0px 0px;
				}
			}
		}
	}
	.content {
		flex-shrink: 1;
		flex-grow: 1;
		padding: 0em 1em;
		.name {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
		.pt-checkbox {
			display: inline-block;
			margin-right: 2em;
			padding-left: 20px;
		}
	}
}