@import 'styles/variables.scss';

.pub-edge-component {
	display: flex;
	flex-direction: column;
	font-family: $header-font;
	text-decoration: none;
	padding: 24px 32px 18px;

	a {
		text-decoration: none;
	}

	&.acts-like-link {
		cursor: pointer;
		&:hover,
		&:focus {
			h4 a {
				text-decoration: underline;
			}
		}
	}

	&:not(.acts-like-link) {
		h4 a:hover {
			text-decoration: underline;
		}
	}

	h4 {
		font-size: 1.6em;
		font-weight: 400;
		letter-spacing: 1px;
		margin-bottom: 8px;
	}

	.top {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 90px;

		.top-left {
			flex: 0 0 120px;
			margin: 0 16px 0 0;

			img {
				background: #e5e5e5;
				border-radius: 3px;
				height: 90px;
				object-fit: cover;
				object-position: center;
				width: 100%;
			}
		}

		.top-right {
			display: flex;
			flex: 1 1 470px;
			flex-direction: column;
			justify-content: space-evenly;
			width: 100%;
		}

		.byline {
			font-style: italic;
		}

		@media screen and (max-width: 720px) {
			flex-direction: column;

			li:before {
				display: none;
			}

			.top-left {
				margin: 0 0 16px 0;
				flex: 0;
			}

			.top-right {
				flex: 1 0 auto;
			}

			.byline {
				margin-bottom: 12px;
			}
		}
	}

	ul.metadata {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			flex: 0 0 auto;
			font-family: $base-font;
			font-size: 0.8em;
			font-weight: 300;
		}

		li:last-child {
			flex: 0 1 auto;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		li:not(:last-child):after {
			content: '\00B7';
			margin: 4px;
		}

		a {
			text-decoration: none;

			&:hover,
			&:active,
			&:focus {
				text-decoration: underline;
			}
		}

		@media screen and (max-width: 720px) {
			flex-direction: column;

			li:after {
				display: none;
			}

			li {
				flex: 1;
				margin-bottom: 4px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}
		}
	}

	details {
		hr {
			border: none;
			border-bottom: 1px solid #a1a1a1;
			margin: 20px 0;
		}

		summary {
			display: none;
		}

		p {
			font-family: $body-font;
			font-style: normal;
			letter-spacing: -0.003em;
			letter-spacing: 0.01rem;
			line-height: 1.7;
			margin: 0em 0em 1em;
			word-break: break-word;
		}
	}
}
