.discussion-list-component {
	.discussion-header {
		margin-bottom: 36px;
		display: flex;
		h2 {
			flex-grow: 1;
			flex-shrink: 1;
		}
	}
	
	// .new-button {
	// 	float: right;
	// }
	.discussion-thread-component {
		border: 1px solid #D9D9D9;
		border-bottom: 0px solid #D9D9D9;
		&:last-of-type {
			border-bottom: 1px solid #D9D9D9;
		}
	}
	.pt-non-ideal-state {
		border: 1px solid #D9D9D9;
		padding: 4em;
		margin: 0;
		max-width: none;
	}
	.filter-bar {
		display: flex;
		background-color: #E9E9E9;
		border: 1px solid #D9D9D9;
		border-bottom: 0px solid #D9D9D9;
		padding: 10px 4px;
		flex-wrap: wrap;
		.left {
			flex-grow: 1;
			flex-shrink: 1;
			white-space: nowrap;
		}
		.right {
			text-align: right;
			white-space: nowrap;
		}
		.active {
			font-weight: bold;
		}
	}
	// .pagination-bar {
	// 	background-color: #E9E9E9;
	// 	border: 1px solid #D9D9D9;
	// 	border-top: 0px solid #D9D9D9;
	// 	padding: 15px 4px;
	// 	text-align: center;
	// 	.pt-button.pt-disabled {
	// 		cursor: default;
	// 	}
	// }
}