#collection-container {
	.page-content {
		padding-top: 2em;
		.collection-title {
			font-size: 2.25em;
			line-height: 1;
		}
	}
	.create-pub-wrapper {
		float: right;
		text-align: right;
		margin-bottom: 2em;
		.instructions-link {
			display: block;
			opacity: 0.85;
			padding-top: 0.25em;
		}
	}
	
	.pub-preview-component {
		margin-bottom: 2em;
	}
	.pt-non-ideal-state {
		padding: 8em 0em 16em;
	}
	// .description {
	// 	max-width: 800px;
	// 	line-height: 1.4;
	// }
	.layout-text, .layout-html {
		h1, h2, h3 {
			clear: both;
		}
		a {
			text-decoration: underline;
		}
	}
	.layout-drafts {
		margin: 2em 0em;
		.drafts-header {
			opacity: 0.85;
			border-top: 1px solid #EEE;
			border-bottom: 1px solid #EEE;
			text-align: center;
			padding: 2em 0em;
			background-color: #F9F9F9;
		}
		// .pub-preview {
		// 	margin-bottom: 2em;
		// 	min-height: auto;
		// }
	}
}