.pub-options-sharing-component {
	.cards-wrapper {
		margin-bottom: 2em;
		display: flex;
		flex-wrap: wrap;
	}
	.version-block {
		&:last-of-type {
			border-bottom: 1px solid #ccc;
		}
		&:not(.active):hover {
			background: #f9f9f9;
		}
		&.active {
			cursor: default;
			background: #f4f4f4;
		}
		cursor: pointer;
		border: 1px solid #ccc;
		border-bottom: 0px solid transparent;
		padding: 1em;
		.header {
			display: flex;
			.title {
				flex-grow: 1;
				flex-shrink: 1;
				span {
					padding-left: 1em;
				}
			}
			.privacy {
				white-space: nowrap;
				padding-left: 2em;
			}
		}
		a {
			color: #2b88df;
			margin-right: 1em;
			display: inline-block;
		}
	}
	.access-preview {
		display: flex;
		align-items: center;
		& > * {
			margin-right: 1px;
		}
	}
	.bp3-checkbox {
		margin-bottom: 0px;
	}
}

.pub-options-dropdown.bp3-menu {
	min-width: auto;
}
