.pub-connection-status-indicator-component {
    &.disconnected {
        background: #db3737;
        color: #ffffff;
        padding: 2px 6px;
        border-radius: 2px;
    }
    &.connecting,
    &.saving {
        background: #d9c72b;
        color: #ffffff;
        padding: 2px 6px;
        border-radius: 2px;
    }
    &.connected,
    &.saved {
        background: #22c17f;
        color: #ffffff;
        padding: 2px 6px;
        border-radius: 2px;
    }
    text-transform: capitalize;
    margin-right: 1em;
    white-space: nowrap;
}
