
/* Below this width, comments will be forced to a minimized view */
$compact-comments-cutoff-width: 750px;
/* The pub won't grow beyond this width */
$pub-max-width: 675px;
/* The space available for comments */
$comments-full-width: 275px;
/* The space available for comments on smaller screens */
$comments-compact-width: 25px;
/* The maximum width of all the content */
$content-max-width: $pub-max-width + $comments-full-width;
/* Full width of the gutter */
$gutter-full-width: 50px;
/* The pub won't shrink beyond this width */
$pub-min-width: $compact-comments-cutoff-width - $comments-full-width - $gutter-full-width;
/* Compact width of the gutter */
$gutter-compact-width: 15px;

@supports (display: grid) {
    .pub-grid-component {
        display: grid;
        grid-template-columns:
            minmax(2%, auto)
            minmax($pub-min-width, $pub-max-width)
            $gutter-full-width
            $comments-full-width
            minmax(2%, auto);
        grid-template-areas: '. pub . comments .';
        width: 100%;
        margin-top: 3em;
        .main-content {
            grid-area: pub;
        }
        .side-content {
            grid-area: comments;
        }
    }   
    @media only screen and (max-width: $compact-comments-cutoff-width) {
        .pub-grid-component {
            grid-template-columns:
                minmax(2%, auto)
                1fr
                $gutter-compact-width
                $comments-compact-width
                minmax(2%, auto);
            margin-top: 2em;
            .side-content {
                display: none;
            }
        }
    }
}

