.pub-draft-header-component {
	z-index: 19;
	background: #f0f0f0;
	border-bottom: 1px solid #d2d2d2;
	width: 100%;
	display: flex;
	align-items: center;

	.header-parts {
		display: flex;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
		align-items: stretch;
		.spacer {
			flex: 1 1 auto;
		}
		.bp3-callout {
			display: inline;
		}

		& > .formatting-bar-component {
			flex: 1 1 auto;
			min-width: 0;
			width: 85%;
		}
		.right-content {
			display: flex;
			align-items: center;
			padding-left: 5px;
		}
		.collab-status {
			&.disconnected {
				background: #db3737;
				color: #ffffff;
				padding: 2px 6px;
				border-radius: 2px;
			}
			&.connecting,
			&.saving {
				background: #d9c72b;
				color: #ffffff;
				padding: 2px 6px;
				border-radius: 2px;
			}
			&.connected,
			&.saved {
				background: #22c17f;
				color: #ffffff;
				padding: 2px 6px;
				border-radius: 2px;
			}
			text-transform: capitalize;
			margin-right: 1em;
			white-space: nowrap;
		}
		.save-version-button {
			white-space: nowrap;
		}
		.header-menu {
			border-bottom: 0px solid transparent;
			margin-bottom: 0px;
		}
		.avatar-wrapper {
			padding-right: 0.5em;
			display: inline-block;
			vertical-align: middle;
		}
	}

	&.disabled {
		opacity: 0.5;
		user-select: none;
		pointer-events: none;
	}
}

@media only screen and (max-width: 750px) {
	.pub-draft-header-component {
		.header-parts {
			.status-prefix,
			.save-version-button {
				display: none;
			}
		}
	}
}
