@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import '../PubHeader/pubHeader.scss';

.pub-draft-header-component {
	z-index: 19;
	// .wrapper {
	background: #f0f0f0;
	border-bottom: 1px solid $header-border-color;
	// &.fixed {
	// 	position: fixed;
	// 	top: 0;
	// 	width: 100%;

	// }
	// .col-12 {
	display: flex;
	align-items: center;
	// height: 24px;
	// &:first-of-type {
	// 	margin-bottom: 0px;
	// }
	.spacer {
		flex: 1 1 auto;
	}
	.#{$bp}-callout {
		display: inline;
	}
	// .left-section {
	// 	flex-grow: 1;
	// 	flex-shrink: 1;
	// 	.#{$bp}-callout {
	// 		display: inline;
	// 	}
	// }
	// .right-section {

	// }
	// .menu-button {
	// 	padding: 0px 10px;
	// 	height: 24px;
	// 	line-height: 24px;
	// 	min-height: 0px;
	// }
	& > .formatting-bar-component {
		flex: 1 1 auto;
		min-width: 0;
	}
	.right-content {
		display: flex;
		align-items: center;
		padding-left: 5px;
	}
	.save-version-button {
		white-space: nowrap;
	}
	.header-menu {
		border-bottom: 0px solid transparent;
		margin-bottom: 0px;
	}
	.avatar-wrapper {
		padding-right: 0.5em;
		display: inline-block;
		vertical-align: middle;
	}
	// }
	// }
	&.disabled {
		opacity: 0.5;
		user-select: none;
		pointer-events: none;
	}
}

@media only screen and (max-width: 750px) {
	.pub-draft-header-component {
		.status-prefix,
		.save-version-button {
			display: none;
		}
	}
}
