.pub-inline-menu-component {
    padding: 0.25em;
    border-radius: 2px;
    background-color: #444;
    color: white;
    z-index: 20;
    .bp3-button.bp3-minimal, .bp3-button.bp3-minimal.bp3-active {
        color: white;
        &:hover {
            color: white;
        }
        .bp3-icon {
            color: inherit;
        }
    }
}
