@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.pub-inline-menu-component {
	display: flex;
	align-items: center;
	padding: 0.25em;
	border-radius: 2px;
	background-color: #444;
	color: white;
	z-index: 20;
	.#{$bp}-button.#{$bp}-minimal,
	.#{$bp}-button.#{$bp}-minimal.#{$bp}-active {
		color: white;
		&:hover {
			color: white;
		}
		.#{$bp}-icon {
			color: inherit;
		}
	}
}
