$form-padding: 12px;

.collection-metadata-form-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    padding: $form-padding;
    padding-bottom: 0;
    .fields, .fields-empty-state {
        flex-grow: 1;
    }
    .fields {
        padding-top: 8px;
    }
    .bottom-button-group {
        justify-content: flex-end;
    }
}

.collection-metadata-dialog {
    padding-bottom: $form-padding;
}