.pub-section-nav-component {
	margin-bottom: 4em;
	&:not(:first-child) {
		margin-top: 4em;
	}
	.bp3-button-group.bp3-fill .bp3-button:not(.bp3-fixed) {
		flex: 0 1 auto;
		&.dropdown-button {
			flex: 1 1 auto;
			width: 100%;
		}
	}
	.bp3-popover-wrapper {
		flex: 1 1 auto;
		margin-right: -1px;
		margin-left: -1px;
	}
	.bp3-popover-target {
		display: block;
	}
	.bp3-overlay-content {
		width: 100%;
		.bp3-popover {
			width: 100%;
		}
	}
	.disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}
