@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.contributors-list_contributor-component {
	display: flex;
	margin-bottom: 8px;

	&:last-child {
		margin-bottom: 0;
	}

	.avatar-wrapper {
		flex-shrink: 0;
		z-index: 0;
		a {
			text-decoration: none;
			display: block;
		}
	}

	.details-wrapper {
		flex-grow: 1;
		padding-left: 7px;
		width: calc(100% - 40px);
		.name {
			font-weight: 600;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			a,
			a:hover,
			a:visited {
				color: inherit;
			}
			&:first-child:last-child {
				line-height: 30px; // Center w.r.t. avatar
			}
		}
	}

	.orcid {
		display: flex;
		align-items: center;
		margin-top: 3px;
		font-size: 12px;
		.#{$bp}-icon {
			margin-right: 3px;
		}
	}

	.affiliation {
		font-style: italic;
		margin-top: 3px;
		font-size: 12px;
	}

	.roles {
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		margin-top: 3px;
		font-size: 11px;
	}
}
