.pub-side-options-component {
	// margin: 2em 0em 0em;
	padding-top: 1em;
	height: 85px;
	// height: 113px;
	position: relative;
	z-index: 1;
	background: white;
	.side-options-wrapper {
		width: 275px;
		background: white;
		z-index: 15;
	}
	.links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.pt-icon {
			opacity: 0.75;
		}
	}
	.discussion-options {
		display: flex;
		white-space: nowrap;
		align-items: center;
		padding: 1em 0em;
		border-bottom: 1px solid #CCC;
		.pt-popover-wrapper {
			flex-grow: 1;
			flex-shrink: 1;
			margin-right: 1em;
		}
	}
}
