.dashboard-review-container {
	.details a{
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.bp3-tag {
		text-transform: capitalize;
		margin-right: 1em;
		&.open {
			background: #d1ffd6;
		}
		&.closed {
			background: #ffd1d1;
		}
		&.completed {
			background: #e8d1ff;
		}
	}
}
