.dropdown-rich-item-component {
	max-width: 350px;
	border-bottom: 1px solid #CCC;
	&.pt-menu-item {
		padding: 12px 7px;
	}
	&.no-border {
		border-bottom: 0px solid white;
	}
	.pt-icon-standard {
		padding-right: 0.5em;
		opacity: 0.85;
	}
	.title {
		font-weight: bold;
		display: inline-block;
		font-size: 1.1em;
		vertical-align: bottom;
	}
	.description {
		padding-top: 0.5em;
		white-space: normal;
		font-size: 0.9em;
	}
}