@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.dashboard-content_collection-metadata-editor {
	display: flex;
	flex-direction: column;
	width: 100%;
	.fields-empty-state {
		flex-grow: 1;
	}
	.fields {
		width: 100%;
		padding-top: 8px;
	}
	.field {
		width: 100%;
		max-width: 500px;
	}
	&:last-child:after {
		content: '';
		height: 20px;
		display: block;
		flex-shrink: 0;
	}
	.#{$bp}-callout {
		margin-top: 15px;
	}
}
