@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import 'styles/mixins.scss';

.attribution-editor-component {
	width: 100%;
	display: flex;
	flex-direction: column;
	.attribution-row {
		&.is-dragging {
			background-color: rgba(white, 0.75);
		}
		.drag-handle {
			width: 20px;
			padding-top: 18px; /* Hand-aligned to center of avatar bubble */
			display: flex;
			justify-content: center;
		}
		display: flex;
		padding: 1em 0;
		width: 100%;
		position: relative;
		border-bottom: 1px solid #ccc;
		.delete-button {
			position: absolute;
			top: 4px;
			right: 4px;
		}
		.content {
			flex-shrink: 1;
			flex-grow: 1;
			margin-left: 1em;
		}
		.top-content {
			display: flex;
			align-items: center;
			.name {
				flex-grow: 1;
				flex-shrink: 1;
				font-weight: bold;
			}
		}
		.bottom-content {
			display: flex;
			align-items: flex-start;
			margin-right: 1em;
			.#{$bp}-checkbox {
				margin-bottom: 0px;
				margin-right: 2em;
				margin-top: 7px;
				white-space: nowrap;
			}
		}
		.detail-controls {
			width: 100%;
			display: flex;
			margin-top: 2px;
			& > *:not(:last-child) {
				margin-right: 20px;
			}
			.roles {
				width: 45%;
			}
			/* Address the InputGroup created by MultiSelect */
			.roles > :first-child {
				width: 100%;
			}
			.right-details {
				min-width: 100px;
				width: 35%;
				@include mobile {
					display: flex;
					flex-direction: row;
					.#{$bp}-input-group {
						margin-right: 5px;
						min-width: 120px;
					}
				}
				& > :not(:last-child) {
					margin-bottom: 10px;
				}
			}
			@include mobile {
				font-size: 12px;
				display: flex;
				flex-direction: column;
				label,
				.roles {
					padding-bottom: 5px !important;
				}
				.roles {
					width: 70%;
				}
			}
		}
		.orcid-editor {
			font-size: 0.9em;
			font-weight: normal;
			margin-left: 1em;
		}
	}
}
