@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.editable-avatar-component {
	position: relative;
	.avatar-button {
		cursor: pointer;
		position: relative;
		overflow: hidden;

		.hover-overlay {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			color: white;
			background-color: rgba(black, 0.5);
			opacity: 0;
			.#{$bp}-icon {
				color: inherit;
			}
			&.no-image {
				background-color: #222;
			}
			&.is-loading {
				opacity: 1;
			}
		}
		&:hover {
			.hover-overlay {
				opacity: 1;
			}
		}
	}

	.remove-button {
		position: absolute;
		right: -5px;
		bottom: -5px;
		border-radius: 50px;
	}
}
