.landing-feature-component {
	display: flex;
	font-size: 1.2em;
	margin-bottom: 50px;
	.bp3-icon-large {
		margin-right: 15px;
		opacity: 0.5;
		font-size: 30px;
	}
	.title {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}
}