@mixin column {
	.section {
		flex-direction: column;
		align-items: flex-start !important;
		height: auto;
		h6 {
			margin-bottom: 0;
		}
	}
}

@media only screen and (max-width: 1020px) {
	.pub-details-component {
		@include column;
		&.expanded {
			flex-direction: column;
			.section {
				width: 100%;
				max-width: none;
			}
			.pub-contributors-component {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
			}
			& > *:last-child {
				margin-bottom: 10px;
			}
		}
		&:not(.expanded) {
			.section h6 {
				height: 24px !important;
			}
		}
		.expand-contract {
			top: -2px !important;
			.bp3-icon {
				margin-right: 0;
			}
			.bp3-button-text {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 580px) {
	.pub-details-component:not(.expanded) {
		.section {
			max-width: none;
		}
		.citation-and-doi {
			display: none;
		}
	}
}

@media only screen and (max-width: 580px) {
	.pub-contributors-component {
		display: block !important;
	}
}

.pub-details-component {
	position: relative;
	border-bottom: 1px solid #f0f0f7;
	display: flex;
	justify-content: space-between;
	&.expanded {
		@include column;
		&:after {
			position: absolute;
			left: -50vw;
			right: -50vw;
			height: 1px;
			background: #aaa;
			content: '';
			bottom: 0;
			z-index: 1;
		}
	}
	.section {
		display: flex;
		align-items: center;
		max-width: 25%;
		min-width: 15%;
		h6 {
			margin: 0;
			margin-right: 10px;
			height: 48px;
			display: flex;
			align-items: center;
			line-height: initial;
			color: #bcbcbc;
			white-space: nowrap;
		}
	}
	.citation-and-doi {
		.doi-and-button {
			display: flex;
			align-items: center;
			&:hover {
				.click-to-copy {
					opacity: 1;
				}
			}
		}
		.click-to-copy {
			margin-left: 3px;
			opacity: 0;
			transition: 50ms ease-out opacity;
		}
	}
	.publication-dates {
		.full-height-date {
			height: 30px;
			line-height: 30px;
		}
	}
	.spacing-placeholder {
		width: 10%;
		min-width: 100px;
		flex-shrink: 1;
	}
	.expand-contract {
		position: absolute;
		top: 8px;
		right: 0;
	}
}
