.custom-landing-component {
	.grid {
		display: grid;
		grid-template-columns:
			minmax(4%, auto)
			minmax(auto, calc(576px - 1%))
			2%
			minmax(auto, calc(576px - 1%))
			minmax(4%, auto);
		grid-template-rows: auto auto;
		.content {
			grid-area: 1 / 2 / 2 / 3;
		}
		.block:nth-of-type(1) {
			grid-area: 1 / 2 / 1 / 2;
		}
		.block:nth-of-type(2) {
			grid-area: 1 / 4 / 1 / 4;
		}
		.block:nth-of-type(3) {
			grid-area: 2 / 2 / 2 / 2;
		}
		.block:nth-of-type(4) {
			grid-area: 2 / 4 / 2 / 4;
		}
	}
	.banner-bar {
		background: #a2273e;
		font-size: 18px;
		color: white;
		text-transform: uppercase;
		padding: 1em 0em;
		letter-spacing: 2px;
	}
	.collections {
		margin-bottom: 6em;
	}
	.block {
		margin-top: 6em;
		.flare {
			position: absolute;
			z-index: -1;
			.b1 {
				width: 65px;
				height: 65px;
				border: 1px solid #a2273e;
				position: absolute;
				top: -8px;
				z-index: 2;
			}
			.b2 {
				width: 65px;
				height: 65px;
				border: 1px solid #ccc;
				position: absolute;
				top: -16px;
				left: 8px;
				z-index: 1;
			}
		}
		h2 {
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #a2273e;
			margin-left: 60px;
			background: white;
		}
		.subtitle {
			font-size: 14px;
			color: #a2273e;
			font-style: italic;
			margin-top: -15px;
			margin-bottom: 40px;
			margin-left: 60px;
			background: white;
			font-weight: 300;
		}
		.pub {
			border-left: 1px solid #ccc;
			padding-left: 20px;
			font-size: 16px;
			margin-bottom: 1em;
			.authors {
				color: #a2273e;
				font-style: italic;
				font-weight: 300;
			}
			.title {
				font-weight: 500;
			}
			.description {
				font-size: 14px;
				opacity: 75%;
			}
		}
	}
	.columns-wrapper {
		max-width: calc(1152px + 8%);
		padding: 6em 4% 4em;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.column {
			display: flex;
			align-items: center;
			margin-bottom: 2em;
		}
		h2 {
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #a2273e;
			line-height: 20px;
			margin-bottom: 0px;
		}
		.flare2 {
			position: relative;
			margin-right: 20px;
			.b1 {
				width: 20px;
				height: 20px;
				border: 1px solid #a2273e;
			}
			.b2 {
				width: 12px;
				height: 12px;
				border: 1px solid #ccc;
				position: absolute;
				top: 4px;
				left: 4px;
			}
		}
	}
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.line {
		border-bottom: 1px solid #CCC;
	}
}

@media only screen and (max-width: 720px) {
	.custom-landing-component {
		.grid {
			display: block;
			padding: 1em 4%;
		}
		.columns-wrapper {
			display: block;
		}
	}
}
