#page-container {
	&.narrow {
		.page-content {
			max-width: 800px;
			margin: 0 auto;
		}
	}

	.pub-preview-component {
		margin-bottom: 2em;
	}

	.block-content {
		margin-top: 2em;
		h1 {
			font-size: 32px;
			font-weight: 800;
		}
		h2 {
			font-size: 28px;
			font-weight: 800;
		}
		h1, h2, h3, h4, h5, h6 {
			clear: both;
			margin-bottom: 0.5em;
			line-height: 1em;
		}
	}

	.layout-text-component, .layout-html-component {
		a {
			text-decoration: underline;
		}
		p, li {
			font-size: 18px;
		    line-height: 1.6
		}
	}
}