.pub-collab-collaborators-component {
	h5 {
		margin-bottom: 2em;
	}
	.intro {
		padding-bottom: 1em;
		span {
			text-decoration: underline;
			cursor: pointer;
		}
	}
	.save-button-wrapper {
		float: right;
	}
	.collaborators-wrapper {
		margin-top: 2em;
	}
}