{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
  ]
}

