{
    extends: ["airbnb", "prettier"],
    plugins: ["react", "import", "prettier"],
    parser: "babel-eslint",
    env: {
        "browser": true,
        "node": true
    },
    "settings": {
      "import/resolver": {
        "node": {
            "paths": ["client"]
        }
      }
    },
    "rules": {
        "arrow-parens": [2, "always"],
        "arrow-body-style": 0,
        "comma-dangle": [2, "always-multiline"],
        "class-methods-use-this": 0,
        "func-names": 0,
        "function-paren-newline": [2, "multiline"],
        "import/no-extraneous-dependencies": [2, { devDependencies: true }],
        "jsx-a11y/click-events-have-key-events": 0,
        "no-console": [1, { allow: ["warn", "error", "info"] }],
        "object-shorthand": [2, "never"],
        "object-curly-newline": [2, { consistent: true }],
        "prefer-destructuring": [2, { object: false, array: false }],
        "prettier/prettier": "error",
        "no-tabs": 0,
        "operator-linebreak": 0,
        "react/destructuring-assignment": 0,
        "react/jsx-boolean-value": 0,
        "react/forbid-prop-types": 0,
        "react/jsx-filename-extension": [2, { extensions: [".js"] }],
        "react/jsx-indent": [2, "tab"],
        "react/jsx-indent-props": [2, "tab"],
        "react/jsx-one-expression-per-line": 0,
        "react/jsx-wrap-multilines": 0,
        "space-before-function-paren": [2, "never"],
    },
}