{
	"extends": ["airbnb", "prettier"],
	"plugins": ["react", "import", "prettier", "react-hooks", "pubpub-rules", "@typescript-eslint"],
	"parser": "@typescript-eslint/parser",
	"env": {
		"browser": true,
		"node": true
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["client"]
			},
			"alias": {
				"map": [
					["client", "./client"],
					["containers", "./client/containers"],
					["components", "./client/components"],
					["server", "./server"],
					["shared", "./shared"],
					["data", "./stories/data"],
					["stubstub", "./stubstub"],
					["utils", "./utils"],
					["types", "./types"],
					["facets", "./facets"]
				],
				"extensions": [".js", ".ts", ".tsx"]
			}
		}
	},
	"rules": {
		"no-restricted-imports": 0,
		"@typescript-eslint/no-restricted-imports": [
			"warn",
			{
				"paths": [
					{
						"name": "client/components",
						"message": "Please import from components directly"
					},
					{
						"name": "client/containers",
						"message": "Please import from containers directly"
					}
				]
			}
		],
		"@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "^_+$" }],
		"@typescript-eslint/no-use-before-define": ["error"],
		"@typescript-eslint/no-shadow": ["error"],
		"arrow-body-style": 0,
		"arrow-parens": [2, "always"],
		"camelcase": 0,
		"class-methods-use-this": 0,
		"comma-dangle": 0,
		"func-names": 0,
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		],
		"import/no-dynamic-require": 0,
		"import/no-extraneous-dependencies": [2, { "devDependencies": true }],
		"import/no-unresolved": [2, { "ignore": ["\\config.js$"] }],
		"import/prefer-default-export": 0,
		"jsx-a11y/click-events-have-key-events": 0,
		"jsx-a11y/accessible-emoji": 0,
		"jsx-a11y/label-has-associated-control": [2, { "controlComponents": ["Switch"] }],
		"lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
		"max-classes-per-file": 0,
		"no-async-promise-executor": 0,
		"no-console": [1, { "allow": ["warn", "error", "info"] }],
		"no-nested-ternary": 0,
		"no-param-reassign": 0,
		"no-plusplus": 0,
		"no-tabs": 0,
		"no-shadow": 0,
		"no-underscore-dangle": 0,
		"no-void": 0,
		"no-unused-vars": 0,
		"no-use-before-define": 0,
		"object-curly-newline": 0,
		"object-shorthand": [2, "properties"],
		"operator-linebreak": 0,
		"prefer-destructuring": [2, { "object": false, "array": false }],
		"prefer-template": 0,
		"prettier/prettier": "error",
		"pubpub-rules/no-user-model": 2,
		"react-hooks/exhaustive-deps": 1,
		"react-hooks/rules-of-hooks": 2,
		"react/destructuring-assignment": 0,
		"react/forbid-prop-types": 0,
		"react/jsx-boolean-value": 0,
		"react/jsx-closing-bracket-location": 0,
		"react/jsx-closing-tag-location": 0,
		"react/jsx-curly-newline": 0,
		"react/jsx-filename-extension": [2, { "extensions": [".js", ".tsx"] }],
		"react/jsx-fragments": 0,
		"react/jsx-indent-props": 0,
		"react/jsx-indent": 0,
		"react/jsx-one-expression-per-line": 0,
		"react/jsx-props-no-spreading": 0,
		"react/jsx-tag-spacing": 0,
		"react/jsx-wrap-multilines": 0,
		"react/no-children-prop": 0,
		"react/sort-comp": 0,
		"react/static-property-placement": 0,
		"react/no-unescaped-entities": ["error", { "forbid": [">", "}"] }],
		"react/require-default-props": 0,
		"space-before-function-paren": 0
	},
	"overrides": [
		{
			"files": "client/utils/activity/renderers/*",
			"rules": {
				"react/prop-types": 0
			}
		},
		{
			"files": ["**/*.test.ts", "**/*.test.js"],
			"env": {
				"jest": true
			}
		}
	]
}
