node_modules
.DS_Store
*.log
.atomignore
.info
*.swp
*.swo
npm-debug.log
config.js
migrate
dist
.node-version
.vscode
workers/tasks/export/styles/printDocument.css
pubpub-postgres-test/
pubpub-localdb/
.pubpub_repl_history*
