.pub-history-component {
    background: white;
    border-bottom: 1px solid #d2d2d2;
    &.js-is-sticky,
	&.js-is-stuck {
        z-index: 19;
    }
    .pub-history-inner {
    
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        .bp3-slider {
            margin-top: 5px;
        }
        .bp3-slider-label {
            white-space: nowrap;
        }
        .click-to-copy {
            margin-left: 50px;
        }
    }
}
