.dashboard-tags-component {
	// max-width: 600px;
	// margin: 0 auto;
	.autocomplete-wrapper {
		padding: 2em 0em;
		.pt-input {
			width: 100%;
		}
	}
	.error {
		color: #c23030;
	}
	.tag-wrapper {
		display: flex;
		align-items: center;
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid #CCC;
		.title {
			flex-grow: 1;
			flex-shrink: 1;
			display: flex;
			// .pt-editable-text:not(.pt-editable-text-editing) {
			.pt-editable-text-content {
				padding-right: 2em;
				height: 18px !important;
				line-height: 18px !important;
				&:after {
					// TODO 
					// font-family: 'pubpub-icons' !important;
					// content: "\E904";
					// padding-left: 0.5em;
					// opacity: 0.75;
					// // height: 18px;
					// position: absolute;
				}
			}
			// }
			.pt-editable-text-input {
				height: 18px !important;
				line-height: 18px !important;
			}
		}
		.pt-checkbox {
			margin: 0px 2em 0px;
		}
	}
}