@import 'styles/mixins.scss';

$margin-size: 15px;

.new-edge-editor-component {
	position: relative;
	width: 100%;

	h4 {
		@include bleed-top-border;
		top: -2px;

		color: #999;
		display: none;
		font-size: 10px;
		font-variant: small-caps;
		font-weight: normal;
		text-transform: lowercase;
		letter-spacing: 1px;
	}

	&.has-new-edge {
		padding: $margin-size;
		border-radius: 4px;
		border: 1px dashed #bbb;

		h4 {
			display: block;
		}
	}

	.pub-edge-listing-card-component {
		margin-bottom: $margin-size;
	}

	.controls-row {
		display: flex;

		&:first-of-type {
			margin-bottom: 20px;
		}

		> :not(:last-child) {
			margin-right: 10px;
		}
	}

	.error-callout {
		margin-top: $margin-size;
		margin-bottom: $margin-size;
	}

	margin-bottom: 30px;
}
