@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.new-edge-input-component {
	.#{$bp}-popover-target {
		width: 100%;
	}

	.loading-menu-item {
		height: 100%;
		display: flex;
		align-items: center;
	}
}
