// Import Normalize, Blueprint, Editor, and Grid
// ****************************
@use 'styles/vendor.scss';
@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

@import './grid.scss';
@import url('https://use.typekit.net/kmi0tdo.css');
@import './variables.scss';
@import './typography.scss';

$bp: vendor.$bp-namespace;

// Set global styles
// ****************************
body {
	background-color: #fff;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

.capitalize {
	text-transform: capitalize;
}

.hoverline {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.subtext {
	color: #555;
	font-size: 0.85em;
}

.confirmable {
	opacity: 0;
	transition: 0.2s linear opacity;
	color: #0d8050;
	&.confirmed {
		opacity: 1;
	}
}

.#{$bp}-non-ideal-state {
	height: auto;
}

.no-click {
	pointer-events: none;
}

.#{$bp}-icon {
	vertical-align: middle;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.legal-wrapper {
	margin: 1em 0em 2em;
	h1 {
		margin: 1em 0em;
	}
	ul,
	ol {
		li {
			margin-bottom: 1em;
		}
	}
}

.#{$bp}-input {
	-webkit-appearance: none;
}

.screenreader-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.global--one-line-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Blueprint overrides

.#{$bp}-control.#{$bp}-checkbox input:checked ~ .#{$bp}-control-indicator:before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 5c-.28 0-.53.11-.71.29L7 9.59l-2.29-2.3a1.003 1.003 0 0 0-1.42 1.42l3 3c.18.18.43.29.71.29s.53-.11.71-.29l5-5A1.003 1.003 0 0 0 12 5z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.#{$bp}-menu .#{$bp}-menu-item.#{$bp}-active.#{$bp}-intent-primary {
	/* This code is specified beause intent-primary */
	/* is being applied for some reason */
	background-color: rgba(132, 132, 132, 0.3);
	color: #2a2a2a;
}

// Link
a {
	color: $color-gray-black;
	&:hover {
		color: $color-gray-black;
	}
}

// Checkbox/radio
.#{$bp}-control,
.#{$bp}-control:hover {
	input:checked ~ .#{$bp}-control-indicator {
		background-color: $color-gray-dark;
	}
}

// Switch
.#{$bp}-control.#{$bp}-switch,
.#{$bp}-control.#{$bp}-switch:hover {
	input:checked ~ .#{$bp}-control-indicator {
		background: $color-gray-dark;
	}
}

// Tab
.#{$bp}-tab[aria-selected='true'],
.#{$bp}-tab:not([aria-disabled='true']):hover {
	color: $color-gray-black;
}

// Tab indicator
.#{$bp}-tab-indicator-wrapper .#{$bp}-tab-indicator {
	background-color: $color-gray-black;
}
