// Import Normalize, Blueprint, Editor, and Grid
// ****************************
@import '~normalize.css';
@import './blueprint.scss';
@import './grid.scss';

@import url('https://use.typekit.net/kmi0tdo.css');
@import './variables.scss';
@import './typography.scss';

// Set global styles
// ****************************
body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
}
a {
	text-decoration: underline;
	cursor: pointer;
}

.capitalize {
	text-transform: capitalize;
}

.hoverline {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.subtext {
	color: #555;
	font-size: 0.85em;
}

.confirmable {
	opacity: 0;
	transition: 0.2s linear opacity;
	color: #0d8050;
	&.confirmed {
		opacity: 1;
	}
}

.bp3-non-ideal-state {
	height: auto;
}

.no-click {
	pointer-events: none;
}

.bp3-icon {
	vertical-align: middle;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.legal-wrapper {
	margin: 1em 0em 2em;
	h1 {
		margin: 1em 0em;
	}
	ul,
	ol {
		li {
			margin-bottom: 1em;
		}
	}
}

.bp3-input {
	-webkit-appearance: none;
}

.screenreader-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.global--one-line-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
