// Import Normalize, Blueprint, Editor, and Grid
// ****************************
@import '~normalize.css';
@import './blueprint.scss';
@import './grid.scss';

@import url('https://use.typekit.net/kmi0tdo.css');
@import 'styles/variables.scss';

// Set global styles
// ****************************
body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
	color: #333;
	font-family: $base-font;
}
a {
	text-decoration: underline;
	cursor: pointer;
}
.underline-on-hover {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}
h1 {
	line-height: 40px;
	font-size: 36px;
}
h1,
h2 {
	color: #1f1f1f;
	font-weight: 600;
	margin: 0 0 10px;
	padding: 0;
}
h2 {
	line-height: 32px;
	font-size: 28px;
}
h3 {
	line-height: 25px;
	font-size: 22px;
}
h3,
h4 {
	color: #1f1f1f;
	font-weight: 600;
	margin: 0 0 10px;
	padding: 0;
}
h4 {
	line-height: 21px;
	font-size: 18px;
}
h5 {
	line-height: 19px;
	font-size: 16px;
}
h5,
h6 {
	color: #1f1f1f;
	font-weight: 600;
	margin: 0 0 10px;
	padding: 0;
}
h6 {
	line-height: 16px;
	font-size: 14px;
}
sup {
	line-height: 1;
}
.subtext {
	color: #555;
	font-size: 0.85em;
}
.confirmable {
	opacity: 0;
	transition: 0.2s linear opacity;
	color: #0d8050;
	&.confirmed {
		opacity: 1;
	}
}
.bp3-non-ideal-state {
	height: auto;
}
.no-click {
	pointer-events: none;
}
.bp3-icon {
	vertical-align: middle;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
.legal-wrapper {
	margin: 1em 0em 2em;
	h1 {
		margin: 1em 0em;
	}
	ul,
	ol {
		font-size: 1.125rem;
		line-height: 1.5;
	}
}

.bp3-input {
	-webkit-appearance: none;
}
