// Override Default blueprint colors
// ****************************
$dark-gray1: desaturate(#182026, 100%);
$dark-gray2: desaturate(#202b33, 100%);
$dark-gray3: desaturate(#293742, 100%);
$dark-gray4: desaturate(#30404d, 100%);
$dark-gray5: desaturate(#394b59, 100%);

$gray1: desaturate(#5c7080, 100%);
$gray2: desaturate(#738694, 100%);
$gray3: desaturate(#8a9ba8, 100%);
$gray4: desaturate(#a7b6c2, 100%);
$gray5: desaturate(#bfccd6, 100%);

$light-gray1: desaturate(#ced9e0, 100%);
$light-gray2: desaturate(#d8e1e8, 100%);
$light-gray3: desaturate(#e1e8ed, 100%);
$light-gray4: desaturate(#ebf1f5, 100%);
$light-gray5: desaturate(#f5f8fa, 100%);

$blue1: $dark-gray1;
$blue2: $dark-gray2;
$blue3: $dark-gray3;
$blue4: $dark-gray4;
$blue5: $dark-gray5;

$menu-min-width: auto;

.bp3-control.bp3-checkbox input:checked ~ .bp3-control-indicator:before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 5c-.28 0-.53.11-.71.29L7 9.59l-2.29-2.3a1.003 1.003 0 0 0-1.42 1.42l3 3c.18.18.43.29.71.29s.53-.11.71-.29l5-5A1.003 1.003 0 0 0 12 5z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.bp3-menu .bp3-menu-item.bp3-active.bp3-intent-primary {
	/* This code is specified beause intent-primary */
	/* is being applied for some reason */
	background-color: rgba(132, 132, 132, 0.3);
	color: #2a2a2a;
}

// Override Blueprint sass variables
// ****************************
@import '~@blueprintjs/core/src/common/_variables.scss';

$pt-border-radius: floor($pt-grid-size / 5);

// Import Core Blueprint sass
// ****************************
@import '~@blueprintjs/core/src/blueprint.scss';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
// @import '~@blueprintjs/icons/src/blueprint-icons.scss';
