@import './variables.scss';

body {
	color: #333;
	font-family: $base-font;
}

h1 {
	line-height: 40px;
	font-size: 36px;
}

h1,
h2 {
	color: #1f1f1f;
	font-weight: 600;
	margin: 0 0 10px;
	padding: 0;
}

h2 {
	line-height: 32px;
	font-size: 28px;
}

h3 {
	line-height: 25px;
	font-size: 22px;
}

h3,
h4 {
	color: #1f1f1f;
	font-weight: 600;
	margin: 0 0 10px;
	padding: 0;
}

h4 {
	line-height: 21px;
	font-size: 18px;
}

h5 {
	line-height: 19px;
	font-size: 16px;
}

h5,
h6 {
	color: #1f1f1f;
	font-weight: 600;
	margin: 0 0 10px;
	padding: 0;
}

h6 {
	line-height: 16px;
	font-size: 14px;
}

sup {
	line-height: 1;
}

@mixin link {
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

@mixin subheading {
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
