@function if-is-export($export, $default) {
	@if (variable-exists('PUBPUB_EXPORT')) {
		@return $export;
	}
	@return $default;
}

$cjk-body-font: source-han-serif-tc, source-han-serif-korean, source-han-serif-japanese,
	source-han-serif-sc;

$cjk-header-font: source-han-sans-cjk-tc, source-han-sans-cjk-ko, source-han-sans-cjk-ja,
	source-han-sans-cjk-sc;

$base-font: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
	'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
$header-font: multi-display, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif, $cjk-header-font;

// We make this distinction because Adobe Acrobat hates skolar
$export-body-font: Georgia, Cambria, 'Times New Roman', Times, 'DejaVu Serif', $cjk-body-font, serif;
$screen-body-font: skolar-latin, Georgia, Cambria, 'Times New Roman', Times, serif;
$body-font: if-is-export($export-body-font, $screen-body-font);

$mobile-cutoff: 750px;

$color-gray-black: #2a2a2a;
$color-gray-dark: #363636;
$color-gray: #ccc;
