.formatting-bar-component {
    .block-type-selector-component {
        .short-title {
            display: none;
        }
    }
}

@media only screen and (max-width: 750px) {
    .formatting-bar-component {
        .block-type-selector-component {
            .short-title {
                display: inline;
            }
            .full-title {
                display: none;
            }
        }
    }
}
