.formatting-bar-component {
    display: flex;
    max-width: 100%;
    position: relative;
    &:first-child {
        padding-left: 3px;
    }
    .block-type-selector-component {
        width: 125px;
    }
    .formatting-bar-button {
        display: inline-block;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        .bp3-button {
            min-width: auto;
            min-height: auto;
            padding: 5px 14px;
            margin: 0em 1px;
        }
        .indicator {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
        }
        &.open {
            .bp3-button {
                &:hover {
                    background: none;
                }
            }
            .bp3-icon {
                color: white;
            }
            &:not(.detached) {
                .bp3-button {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
        &.has-label {
            &.open {
                .bp3-button {
                    color: white;
                }
            }
            .bp3-button {
                display: inline-flex;
                align-items: center;
                .bp3-icon {
                    margin-right: 5px;
                }
            }
        }
    }
    .separator {
        display: inline-block;
        width: 1px;
        height: 26px;
        vertical-align: middle;
        background: #ccc;
        margin: 0px 3px;
    }
    .short-title {
        display: none;
    }
    &.small {
        line-height: 12px;
        .formatting-bar-button {
            padding-top: 2px;
            padding-bottom: 2px;
            .bp3-button {
                padding: 5px 10px;
            }
        }
        .separator {
            height: 22px;
        }
        .short-title {
            display: inline;
        }
        .full-title {
            display: none;
        }
    }
    &.translucent {
        .formatting-bar-button {
            color: white;
            .indicator {
                background: white !important;
            }
            .bp3-button,
            .bp3-button:hover {
                .bp3-icon {
                    color: white !important;
                }
                &.bp3-disabled {
                    opacity: 0.5;
                }
            }
            .bp3-button.bp3-active {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

.formatting-bar-popover-component {
    display: flex;
    position: absolute;
    z-index: 1;
    color: white;
    box-sizing: border-box;
    font-size: 14px;
    &:not(.floating) {
        left: 0;
        top: 100%;
        width: 100%;
        height: 200px;
        padding: 18px;
    }
    &.floating {
        padding: 10px;
        align-items: center;
        border-radius: 4px;
    }
    &.full-screen-width:not(.floating) {
        width: 100vw;
    }
    .inner {
        flex-grow: 1;
    }
    .bp3-button {
        .bp3-icon {
            color: white;
        }
    }
    .close-button-container {
        flex-shrink: 0;
    }
    * {
        outline-color: white;
    }
}

@media only screen and (max-width: 750px) {
    .formatting-bar-component {
        .block-type-selector-component {
            .short-title {
                display: inline;
            }
            .full-title {
                display: none;
            }
        }
    }
}
