$indicator-size: 4px;

.formatting-bar-component {
    display: flex;
    max-width: 100%;
    position: relative;
    .block-type-selector-component {
        width: 120px;
    }
    .formatting-bar-button {
        display: inline-block;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        .bp3-button {
            min-width: auto;
            min-height: auto;
            padding: 5px 14px;
            margin: 0em 1px;
        }
        &.open {
            .bp3-button {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                &:hover {
                    background: none;
                }
            }
            .bp3-icon {
                color: white;
            }
        }
        .indicator {
            position: absolute;
            top: calc(100% - 8px);
            left: calc(50% - #{$indicator-size / 2});
            width: $indicator-size;
            height: $indicator-size;
            border-radius: $indicator-size / 2;
        }
    }
    .separator {
        display: inline-block;
        width: 1px;
        height: 26px;
        vertical-align: middle;
        background: #ccc;
        margin: 0px 3px;
    }
    .short-title {
        display: none;
    }
    &.small {
        line-height: 12px;
        .formatting-bar-button {
            padding-top: 2px;
            padding-bottom: 2px;
            .bp3-button {
                padding: 5px 10px;
            }
        }
        .separator {
            height: 22px;
        }
        .short-title {
            display: inline;
        }
        .full-title {
            display: none;
        }
    }
    &.translucent {
        .formatting-bar-button {
            .bp3-icon {
                color: white;
            }
        }
    }
}

.formatting-bar-popover-component {
    position: absolute;
    z-index: 1;
    color: white;
    padding: 10px;
    min-height: 100px;
    top: 100%;
    width: 100%;
}

@media only screen and (max-width: 750px) {
    .formatting-bar-component {
        .block-type-selector-component {
            width: 60px;
            .short-title {
                display: inline;
            }
            .full-title {
                display: none;
            }
        }
    }
}
