#collection-submit-container {
	.page-content {
		padding-top: 2em;
	}
	.message {
		margin: 2em 0em;
	}
	.button-wrapper {
		text-align: center;
		margin: 4em 0em;
	}
}
.non-ideal-wrapper {
	padding: 10em 0em;
}
