#pub-presentation-container {
	.container.pub {
		max-width: 950px;
		&.mode-content {
			margin: 1em auto;
			.collaborators-wrapper {
				padding-top: 0em;
				padding-bottom: 0em;
			}
		}
	}
	.license-wrapper {
		padding: 4em 0em;
	}
	.no-snapshots-wrapper {
		padding: 10em 0em;
	}
	.pub-side-content {
		float: right;
		width: 250px;
		padding-left: 50px;
	}
	.pub-main-content {
		margin-right: 250px;
	}
	#discussions {
		border-top: 1px solid #E0E0E0;
		padding: 2em 0em 4em;
		margin-bottom: -2em;
		background-color: #F9F9F9;
	}
	.bottom-chapter-buttons {
		margin: 4em 0em;
		border: 1px solid #DDD;
		border-radius: 2px;
		background-color: #F9F9F9;
		.pt-button {
			padding: 10px 15px;
		}
		.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
	.fix-it {
		opacity: 0;
		transition: .2s linear opacity;
		position: fixed;
		top: 30vh;
		width: 200px;
		text-align: center;

		pointer-events: none;
		&.fixed {
			opacity: 1;
			pointer-events: auto;
		}
		.pt-button {
			margin-bottom: 5px;
			display: block;
			// text-align: right;
			// position: relative;

			margin: 0px auto 12px auto;
			display: block;
			padding: 0px;
			font-weight: 600;
			opacity: .4;
			border: 2px solid #555;
			width: 68px;
			height: 28px;
			&:hover {
				opacity: 0.75;
				background-color: white;
			}
			&.share-button {
				.pt-icon-standard {
					margin: 2px 2px 0px;
					font-size: 0.95em;
				}
			}
		}
		.arrow {
			width: 30px;
			display: inline-block;
			margin-right: 6px;
			margin-top: -5px;
			&:last-of-type {
				margin-right: 0px;
			}
			&.hidden {
				opacity: 0;
				pointer-events: none;
			}
		}
		.title {
			font-weight: 600;
			opacity: 0.4;
			margin-bottom: 5px;
			display: inline-block;
			margin-top: 20px;
			&:first-child {
				margin-top: 0px;
			}
		}
	}
}

@media only screen and (max-width: 720px), print {
	#pub-presentation-container {
		.container.pub {
			max-width: 100%;
		}
		.pub-side-content {
			display: none;
		}
		.pub-main-content {
			margin-right: 0px;
		}
	}
}

@media print {
	#pub-presentation-container {
		#discussions, .discussion-viewer-component, .highlight-dot-wrapper {
			display: none;
		}
		.pub.container {
			width: 100%;
		}
		.row {
			.col-1,
			.col-2,
			.col-3,
			.col-4,
			.col-5,
			.col-6,
			.col-7,
			.col-8,
			.col-9,
			.col-10,
			.col-11,
			.col-12 {
				float: left;
				margin: 0.5rem 0%;
			}
		}
	}
}
