.thread-nav-component {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 1.58em;
	.bubble-wrapper {
		display: flex;
		cursor: pointer;
		user-select: none;
	}
	.bubble {
		width: 18px;
		height: 18px;
		font-size: 11px;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		border-radius: 18px;
		font-weight: 800;
		margin-right: 5px;
	}
}