.thread-nav-component {
	display: flex;
	align-items: center;
	height: 1.58em;
	.bubble-wrapper {
		display: flex;
		align-items: center;
		cursor: pointer;
		user-select: none;
	}
	.bubble {
		width: 18px;
		height: 18px;
		line-height: 16px;
		border-radius: 18px;
		font-size: 11px;
		display: flex;
		text-align: center;
		justify-content: center;
		font-weight: 800;
		margin-right: 5px;
	}
	.names {
		font-size: 12px;
	}
	.caret-button {
		min-width: 14px;
	}
	.expand-icon {
		transform: rotate(45deg);
	}
	.close-wrapper {
		text-align: right;
		flex: 1 1 0;
	}
}
