.footer {
	ul {
		list-style: none;
		margin: 0px;
		padding: 2.5em 0px;
		width: 100%;
		white-space: nowrap;
		text-align: center;
	}
	li {
		text-decoration: inherit;
		padding: 0em 1em;
		display: inline-block;
	}
	a {
		color: inherit;
		user-select: none;
	}
}

@media only screen and (max-width: 45em) {  /* 720px */
	.footer {
		li {
			padding: 1em 0em;
			display: block;
		}
	}
}