@import '~prosemirror-view/style/prosemirror';
@import '~prosemirror-gapcursor/style/gapcursor';
@import '~prosemirror-tables/style/tables';

@import './latex.scss';

.editor {
	@import './textAlign.scss';
	@import './main.scss';
	@import './collab.scss';
	@import './figure.scss';
	@include figure-queries;
	@import './file.scss';
	@import './table.scss';
	@import './code.scss';
	@import './placeholder.scss';
	@import './suggestedEdits.scss';
}
