.codeblock-select-wrapper {
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 100;
	opacity: 0;
	transition: all 0.3s ease;
}

.codeblock-root {
	position: relative;
}

.codeblock-root:hover .codeblock-select-wrapper {
	opacity: 1;
}
