.codeblock-select {
	position: absolute;
	right: 0;
	z-index: 100;
	opacity: 0;
	transition: all 0.3s ease;
	margin: 6px 14px;
}
.codeblock-root {
	position: relative;
}

.codeblock-root:hover .codeblock-select {
	opacity: 1;
}
