figure {
	display: block;
	text-align: center;
	margin: 0;
	width: 100%;

	& > * {
		pointer-events: none;
		width: 100%;
	}

	& > a > img {
		width: 100%;
	}

	&.ProseMirror-selectednode {
		outline: 2px solid #bbbdc0;

		> * {
			pointer-events: auto;
		}
	}

	&[data-align='left'] {
		float: left;
		margin: 0.5em 1.5em 0.5em 0em;
	}

	&[data-align='right'] {
		float: right;
		margin: 0.5em 0em 0.5em 1.5em;
	}

	&[data-align='center'] {
		margin: 0 auto;
	}

	@for $i from 1 through 100 {
		&[data-size='#{$i}'] {
			& > :first-child {
				width: percentage($i * 0.01);
			}
		}
	}

	&[data-align='full'] {
		& > :first-child {
			width: 100%;
		}
	}

	figcaption {
		opacity: 0.75;
		margin: 1em auto;
		margin-top: 5px;
	}
}

&.ProseMirror.read-only {
	figure {
		> * {
			pointer-events: auto;
		}

		&.ProseMirror-selectednode {
			outline: none;
		}
	}
}

// These are contained within a mixin so we can avoid applying them in the paged.js exporter, which
// operates at mobile-like viewports but will fail to paginate when these styles are applied.
@mixin figure-queries {
	@media only screen and (max-width: 720px) {
		figure {
			float: none !important;
			width: 100% !important;
		}
	}
}
