.paste-placeholder-decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2em 0;
    height: 100px;
    width: 50%;
    background: whitesmoke;
}
