span[data-suggestion-addition='true'] {
    background-color: rgba(forestgreen, 0.2);
}

span[data-suggestion-removal='true'] {
    text-decoration: 2px darkred line-through;
}

*[data-suggestion='addition'] {
    background-color: rgba(forestgreen, 0.05);
}

*[data-suggestion='removal'] {
    background-color: rgba(darkred, 0.05);
}
