@import 'styles/mixins.scss';

@mixin smaller-font {
	font-size: 0.8em;
}

/* This clunky table, tableWrapper thing is because */
/* isReadOnly removes the wrapping div, so margins don't */
/* collapse as expected in all situations. */
.tableWrapper {
	margin: 1em 0;
	@include mobile {
		overflow-x: scroll;
	}
	table {
		margin: 0em;
		@include mobile {
			@include smaller-font();
			width: auto;
			max-width: fit-content;
			table-layout: auto;
		}
	}
	&[data-smaller-font='true'] {
		table {
			@include smaller-font();
		}
	}
}

th {
	font-weight: bold;
	text-align: left;
	background-color: #f0f0f4;
}

th,
td,
table caption {
	min-width: 1em;
	border: 1px solid #ddd;
	padding: 3px 5px;

	/* Two :last-of-type as a selector specificity hack */
	/* :last-child does not work here because the table plugin inserts nodes when resizing */
	& > p:last-of-type:last-of-type {
		margin-bottom: 0;
	}
}

@include mobile {
	th,
	td {
		min-width: 140px;
		width: auto;
	}
}

table {
	margin: 1em 0;
	max-width: 100%;

	caption {
		text-align: left;
		border-bottom: none;
		padding: 3px 5px;
	}
}
