@mixin text-align-style($alignment) {
    > [data-text-align='#{$alignment}'] {
        text-align: #{$alignment};
        @if $alignment == 'justify' {
            text-align-last: left;
        }
    }
    > ul,
    > ol {
        &[data-text-align='#{$alignment}'] {
            & > li > p {
                display: inline-block;
            }
        }
    }
}

@mixin text-align-styles {
    @include text-align-style('center');
    @include text-align-style('right');
    @include text-align-style('justify');
}

@include text-align-styles();

td {
    @include text-align-styles();
}

> blockquote {
    @include text-align-styles();
}
