#pub-test-container {
	.page-content {
		max-width: 750px;
		margin: 2em auto;
		min-height: 600px;
	}
	.editor {
		margin: 2em 0em;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
		padding: 2em;
	}
	.bp3-slider {
		margin: 2em 0em;
	}
	.addition {
		background-color: rgba(46, 204, 113, 0.4);
	}
	.deletion {
		background-color: rgba(192, 57, 43, 0.4);
	}
}
