.layout-editor-component {	
	.block-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 2em;
		.text {
			text-transform: capitalize;
			font-weight: 800;
			font-size: 14px;
		}
	}
	.component-wrapper {
		margin-bottom: 2em;
		border: 1px solid #CCC;	
	}
	.block-header {
		display: flex;
		// align-items: flex-end;
		justify-content: space-between;
		padding: 1em 0em;
		flex-wrap: wrap;
		background-color: #F0F0F0;
		border-bottom: 1px solid #CCC;
		// .spacer {
		// 	flex-shrink: 1;
		// 	flex-grow: 1;
		// }
		.input-field-component, .image-upload-component {
			// margin-bottom: 0px;
			margin: 0em 1em;
		}
		.line-break {
			width: 100%;
			margin-bottom: 1em;
		}
		// .pt-form-group:not(:last-child) {
		// 	padding-right: 1em;
		// }
	}
	.block-content {
		padding: 1em 0em;
		h1 {
			font-size: 32px;
			font-weight: 800;
		}
		h2 {
			font-size: 28px;
			font-weight: 800;
		}
		h1, h2, h3, h4, h5, h6 {
			clear: both;
			margin-bottom: 0.5em;
			line-height: 1em;
		}
		textarea {
			width: 100%;
			resize: vertical;
			min-height: 150px;
			font-family: 'Courier', monospace;
			white-space: nowrap;
			padding: 0.5em;
		}
	}
	.layout-editor-text-component, .layout-editor-html-component {
		a {
			text-decoration: underline;
		}
		p, li {
			font-size: 18px;
		    line-height: 1.6
		}
	}
	
}

