@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.layout-editor-component {
	.block-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 2em;
		.text {
			text-transform: capitalize;
			font-weight: 800;
			font-size: 14px;
		}
	}
	.component-wrapper {
		margin-bottom: 2em;
		border: 1px solid #ccc;
	}
	// div is a specificity hack against an aggressive selection of .bp[#]-form-group in settingsSection.scss
	div.block-header {
		display: flex;
		// align-items: flex-end;
		justify-content: space-between;
		padding: 1em 0em;
		flex-wrap: wrap;
		background-color: #f0f0f0;
		border-bottom: 1px solid #ccc;
		z-index: 1;
		.input-field-component,
		.image-upload-component,
		.dropdown-grouping,
		> .#{$bp}-form-group {
			margin: 0em 0.5em;
		}
		.input-field-component .#{$bp}-control.#{$bp}-checkbox {
			display: inline-block;
			margin-right: 2em;
			margin: 0.5em 2em 0px 0px;
			padding-left: 20px;
		}
		.line-break {
			width: 100%;
			margin-bottom: 1em;
		}
		.formatting-wrapper {
			flex: 1 1 auto;
			max-width: 100%;
			padding-top: 12px;
		}
		.controls-row {
			display: flex;
			margin: 0 0.5em;
			> .input-field-component {
				margin: 0;
			}
			> *:not(:last-child) {
				margin-right: 0.5em;
			}
			&:not(:last-child) {
				margin-bottom: 0.2em;
			}
		}
	}
	.dropdown-grouping {
		display: flex;
		// align-items: flex-end;
		.dropdown {
			margin: 0 0 0 20px;
		}
	}
	.block-content {
		position: relative;
		font-size: 14px;
		padding: 1em 0em;
		h1 {
			font-size: 32px;
			font-weight: 800;
		}
		h2 {
			font-size: 28px;
			font-weight: 800;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			clear: both;
			margin-bottom: 0.5em;
			line-height: 1em;
		}
		textarea {
			width: 100%;
			resize: vertical;
			min-height: 150px;
			font-family: 'Courier', monospace;
			white-space: nowrap;
			padding: 0.5em;
		}
		.pages-wrapper {
			display: flex;
			flex-wrap: wrap;
		}
		.page-preview-component {
			margin: 0em 1em 2em 0em;
		}
	}
	.layout-editor-text-component {
		> .block-content {
			font-size: 18px;
			line-height: 1.6;
			font-weight: 400;
		}
	}
	.layout-editor-collection-header-component {
		.#{$bp}-form-content {
			margin-left: 6px;
		}
	}
}

.order-picker-popover {
	.order-picker-component {
		width: 600px;
		max-width: 100vw;
	}
}

.layout-editor-pubs-component {
	&.loading {
		.block-content {
			opacity: 0.5;
		}
	}
	.block-header.rows {
		justify-content: unset;
		flex-direction: column;
		.controls-row {
			display: flex;
			margin: 0 0.5em;
			& > .input-field-component {
				margin: 0;
			}
			& > *:not(:last-child) {
				margin-right: 0.5em;
			}
			&:not(:last-child) {
				margin-bottom: 0.2em;
			}
		}
	}
	.block-content {
		transition: 100ms opacity;
	}
	.#{$bp}-popover-content {
		font-size: 14px;
		font-weight: 400;
	}
}

.#{$bp}-card.layout-editor-pubs_limit-pubs-component {
	width: 300px;
	user-select: none;
	padding: 10px;
	.#{$bp}-control:last-child {
		margin-bottom: 0;
	}
	.#{$bp}-control input {
		// .bp[#]-control input has opacity: 0 in the default Blueprint styles. I have no idea why.
		opacity: 1;
	}
}

.#{$bp}-card.layout-editor-pubs_preview-elements-component {
	user-select: none;
	padding: 10px;
	.#{$bp}-control:last-child {
		margin-bottom: 0;
	}
}

@supports (display: grid) {
	.layout-editor-component {
		.block-content {
			.pages-wrapper {
				display: grid;
				grid-gap: 2em;
				grid-template-columns: repeat(auto-fill, 175px);
				justify-content: space-between;
			}
			.page-preview-component {
				margin: 0em;
			}
		}
	}
}
