@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.dashboard-reviews-container {
	.pub-title {
		font-weight: 600;
		font-size: 16px;
		margin: 25px 0px 10px;
		display: inline-block;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.list-content {
		border-radius: 4px;
		background: #f7f7f7;
		border: 1px solid #ddd;
		padding: 10px;
		.#{$bp}-tag {
			text-transform: capitalize;
			&.open,
			&.closed,
			&.completed {
				color: white;
			}
			&.open {
				background: #238c2c;
			}
			&.closed {
				background: #c23030;
			}
			&.completed {
				background: #a854a8;
			}
		}
	}
	.#{$bp}-non-ideal-state {
		margin: 2em 0em;
	}

	.attribution-item {
		&:hover,
		&:active {
			background: transparent;
		}
		cursor: default;
	}
	.list-row {
		display: flex;
		padding: 5px;
		border-radius: 2px;
		.number {
			font-weight: bold;
			margin-right: 1em;
		}
		.title {
			margin-right: 2em;
		}
		.note {
			opacity: 0.8;
		}
		.#{$bp}-tag {
			margin-right: 0.5em;
		}
	}
}
