.header-new-component {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	&.bp3-dark {
		a {
			color: #fff;
		}
	}
	.main {
		// background-color: rgba(50, 50, 150, 0.5);
		&.gradient {
			background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
			color: white;
			a {
				color: #fff;
			}
		}
		.main-content {
			display: flex;
			white-space: nowrap;
			.logo-wrapper {
				flex: 1 1 auto;
				overflow: hidden;
				text-overflow: ellipsis;
				a {
					text-decoration: none;
				}
				font-weight: 800;
				font-size: 28px;
				letter-spacing: 1px;
				// background-color: rgba(100, 200, 50, 0.5);
				img {
					height: 35px;
					width: auto;
					display: block;
				}
			}
			.buttons-wrapper {
				// background-color: rgba(200, 100, 50, 0.5);
				display: flex;
				align-items: center;
			}
		}
	}

	.hero {
		padding: 4em 0em;
		// background-color: rgba(250, 250, 150, 0.5);
		&.centered {
			text-align: center;
			.hero-content {
				flex-direction: column;
				.hero-image {
					max-width: 100%;
					img {
						width: auto;
						max-width: 100%;
						padding-left: 0;
						padding-top: 2em;
					}
				}
			}
		}
		.hero-content {
			display: flex;
			.hero-copy {
				flex: 1 1 auto;
				// background-color: rgba(50, 200, 250, 0.5);
				display: flex;
				flex-direction: column;
				justify-content: center;
				.hero-title {
					font-size: 45px;
					line-height: 50px;
					font-weight: 600;
					letter-spacing: -0.01em;
				}
				.hero-logo {
					img {
						max-width: 100%;
					}
				}
				.hero-text {
					font-size: 18px;
					line-height: 25px;
					margin-top: 35px;
				}
				.hero-button {
					margin-top: 35px;
					.bp3-button {
						margin-right: 1em;
					}
				}
			}
			.hero-image {
				flex: 1 1 auto;
				max-width: 40%;
				// background-color: rgba(100, 100, 250, 0.5);
				img {
					width: 100%;
					padding-left: 15%;
				}
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	.header-new-component {
		.hero {
			text-align: center;
			.hero-content {
				flex-direction: column;
				.hero-image {
					max-width: 100%;
					img {
						width: auto;
						max-width: 100%;
						padding-left: 0;
						padding-top: 2em;
					}
				}
			}
		}
	}
}
