{
    admin :2019
    debug
}

:80 {
	respond "OK" 200
}

:443 {
	tls internal {
		on_demand
	}
	encode zstd gzip
	
	@pgadmin host {$PGADMIN_HOST}
    handle @pgadmin {
        reverse_proxy pgadmin:5050
    }

    handle {
        reverse_proxy pubpub_app:3000
    }
}
