{
    admin :2019
    debug
}

:80 {
	respond "OK" 200
}

{$PGADMIN_HOST} {
    tls internal {
        on_demand
    }
    encode gzip
    reverse_proxy cloudbeaver:8978
}

:443 {
    tls internal {
        on_demand
    }
    encode gzip
    reverse_proxy pubpub_app:3000
}