{
    admin :2019
    debug
}

:80 {
	respond "OK" 200
}

{$PGADMIN_HOST} {
    tls internal {
        on_demand
    }
    encode gzip
    reverse_proxy pgadmin:5050 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
    }
}

:443 {
    tls internal {
        on_demand
    }
    encode gzip
    reverse_proxy pubpub_app:3000
}