.pub-discussions_side-previews_preview {
	padding: 6px 5px;
	min-height: 0px;
	max-width: 100%;
	.bp3-button-text {
		flex: 1 1 auto;
	}
	&.collapsed {
		display: flex;
		.item {
			display: inline-block;
			&:not(:first-child) {
				margin-top: 0em;
			}
		}
	}
	.item {
		display: flex;
		align-items: flex-start;
		position: relative;
		&:not(:first-child) {
			margin-top: 0.35em;
		}
		.avatar-component {
			flex: 0 0 auto;
		}
		.text {
			flex: 1 1 auto;
			margin-left: 0.5em;
			padding-top: 2px;
			white-space: initial;
		}
		&:not(:last-child) {
			.line {
				width: 2px;
				height: calc(100% + 0.35em);
				position: absolute;
				background: #ccc;
				left: 9px;
				top: 0px;
				z-index: -1;
			}
		}
	}
}
