@import 'styles/variables.scss';
.pub-discussions_side-previews {
	position: absolute;
	display: inline-block;
	font-family: $base-font;
	.thread-group-target {
		border: 1px solid #CCC;
		&:hover {
			border: 1px solid transparent;
		}
	}
	.preview-button-group {
		.pub-discussions_side-previews_preview:not(:first-child) {
			margin-top: 0.5em;
		}
	}
}
