.scope-picker-component {
	border-bottom: 1px solid #ddd;
	.scope-button {
		height: 72px;
		padding: 16px;
		letter-spacing: 0.5px;
		display: flex !important;
		:first-child.bp3-icon {
			margin-top: -16px;
		}
		.bp3-button-text {
			flex: 1 1 auto;
			padding-left: 8px;
		}

		.top {
			font-size: 20px;
			text-transform: uppercase;
		}
		.bottom {
			font-size: 12;
			text-transform: uppercase;
			font-weight: 200;
		}
	}
}
.scope-menu {
	font-size: 12px;
	letter-spacing: 1px;
	max-width: 500px;
	.intro {
		text-transform: uppercase;
		padding: 5px 36px;
		opacity: 0.75;
	}
	.scope-item {
		padding: 5px 30px;
		&.item-1 {
			padding-left: 40px;
		}
		&.item-2 {
			padding-left: 50px;
		}
		&.item-3 {
			padding-left: 60px;
		}
		.top {
			text-transform: uppercase;
			opacity: 0.5;

			display: flex;
			align-items: baseline;
			.bp3-icon {
				margin-right: 10px;
			}
		}
		.bottom {
			font-size: 16px;
			line-height: 18px;
			letter-spacing: 0.5px;
			display: flex;
			white-space: normal;
			align-items: flex-start;
			.avatar-component {
				margin-right: 12px;
			}
		}
	}
}
