.side-menu-component {
	z-index: -1;
	.side-title {
		margin: 1em 16px;
		padding-bottom: 1em;
		font-size: 14px;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
	}
	.menu {
		margin-top: 16px;
		&.active {
			position: relative;
			background: rgba(200, 200, 200, 0.2);
			&:before {
				position: absolute;
				content: '';
				left: 0px;
				top: 0px;
				bottom: 0px;
				width: 4px;
			}
		}
		.content-title,
		.child {
			text-decoration: none;
			padding: 0em 16px;
			display: block;
			font-size: 14px;
			line-height: 45px;
			letter-spacing: 1.5px;
			display: flex;
			align-items: center;
			&.active:not(.has-children) {
				background: rgba(200, 200, 200, 0.2);
			}
			&:hover {
				background: #e6e6e6;
			}
			.side-icon {
				opacity: 0.5;
				padding-right: 12px;
			}
		}
		.side-text {
			flex: 1 1 auto;
		}
		.count {
			border: 1px solid #999;
			padding: 2px 4px;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			border-radius: 5px;
			min-width: 19px;
			height: 21px;
			display: flex;
			align-items: center;
			justify-content: center;
			letter-spacing: 0px;
		}
		.child {
			padding-left: 44px;
		}
	}
}
