.top-tabs {
	display: flex;
	.tab {
		$border-color: #ddd;
		width: calc(100% / 3);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 6px 0em 8px;
		position: relative;
		border-bottom: 1px solid $border-color;
		background: #f0f0f0;
		text-decoration: none;
		&.right {
			border-right: 1px solid $border-color;
		}
		&.active {
			border-bottom: 0px solid $border-color;
			background: #fff;
		}
		&.arrow:after,
		&.arrow:before {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: ' ';
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			z-index: 1;
		}

		&.arrow:after {
			border-color: rgba(229, 229, 229, 0);
			border-left-color: #f0f0f0;
			border-width: 8px;
			margin-top: -8px;
		}
		&.arrow:before {
			border-color: rgba(214, 214, 214, 0);
			border-left-color: $border-color;
			border-width: 9px;
			margin-top: -9px;
		}
		&.roundLeft {
			border-bottom-left-radius: 3px;
			border-left: 1px solid $border-color;
		}
		&.roundRight {
			border-bottom-right-radius: 3px;
			border-right: 1px solid $border-color;
		}
		&:not(.active):not(.empty):hover {
			background: #e9e9e9;
			&.arrow:after {
				border-left-color: #e9e9e9;
			}
		}
		.title {
			padding-bottom: 0.25em;
			font-size: 12px;
			opacity: 0.65;
		}
	}
}
