$border: 1px solid #ddd;

.activity-item-row-component {
    display: grid;
    grid-template-areas:
        'timestamp icon message'
        '. . excerpt';
    grid-template-columns: 160px 80px 1fr;
    padding: 20px 0;
    border-top: $border;

    &:last-child {
        border-bottom: $border;
    }

    > .timestamp {
        font-weight: 300;
        font-style: italic;
        grid-area: timestamp;
        text-align: right;
    }

    > .icon {
        color: #999;
        grid-area: icon;
        display: flex;
        justify-content: center;
    }

    > .message {
        grid-area: message;

        strong {
            color: #999;
        }

        a {
            text-decoration: none;
            strong {
                color: black;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }

    > .excerpt {
        margin-top: 10px;
        padding: 15px;
        border-radius: 2px;
        background: whitesmoke;
        grid-area: excerpt;
    }
}
