@use 'sass:math';

@import 'styles/typography.scss';
@import 'styles/mixins.scss';

@import './facetEditor.scss';

$border-width: 1px;
$inheritance-triangle-size: 32px;
$inheritance-tab-size: 22px;

$settings-style-offset: 6px;
$settings-style-padding: 8px 2px;

$inherited-accent-color: #aaa;
$local-accent-color: var(--community-accent-dark-faded-30);
$accent-color: var(--accent-color);

.facet-prop-editor-skeleton-component {
	--accent-color: #{$inherited-accent-color};
	position: relative;
	transition: background 100ms ease-out, box-shadow 100ms ease-out, border 100ms ease-out;

	&.local-value {
		--accent-color: #{$local-accent-color};
		box-shadow: $gentle-shadow;
		background: white;
	}

	border: $border-width solid var(--accent-color);

	@include desktop {
		&.settings-style {
			border-radius: 4px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border: none;
			border-left: 2px solid var(--accent-color);
			transform: translateX(#{2 - $settings-style-offset});
			padding-left: $settings-style-offset;

			&.local-value {
				box-shadow: $gentler-shadow;
			}

			.top-row {
				.inheritance-indicator {
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 0;
					left: 0;
					transform: translateX(-100%);
					width: $inheritance-tab-size;
					height: $inheritance-tab-size * 1.5;
					border: none;
					border-top-left-radius: 6px;
					border-bottom-left-radius: 6px;
					background: var(--accent-color);

					.inheritance-icon {
						z-index: 1;
						position: static;
					}
				}
			}

			.controls-container {
				padding: $settings-style-padding;
			}
		}
	}

	.top-row {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		font-weight: 600;

		.inheritance-indicator {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $inheritance-triangle-size $inheritance-triangle-size 0 0;
			border-color: var(--accent-color) transparent transparent transparent;

			&:not(:disabled) {
				cursor: pointer;
			}

			.inheritance-icon {
				color: white;
				position: absolute;
				top: 2px;
				left: 2px;
				&.reset-icon {
					top: 4px;
					left: 4px;
				}
			}
		}

		.label-group {
			transform: translateY(2px);
			.inheritance-info {
				@include subheading;
				font-size: 10px;
				color: var(--accent-color);
			}
		}
	}

	.controls-container {
		padding: $spacing;
	}
}
