@import 'styles/mixins.scss';

$gentle-shadow: 0 4px 2px -2px rgba(black, 0.1);
$gentler-shadow: 0 4px 2px -2px rgba(black, 0.05);

$spacing: 15px;

.facet-editor-component {
	&.self-contained {
		width: 375px;
		@include mobile {
			width: 350px;
		}
	}

	.prop-editors {
		> *:not(:first-child) {
			margin-top: $spacing;
		}
	}
}
