@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.header-component {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 11;
	position: relative;
	&.preview {
		z-index: 0;
	}
	&.bp3-dark {
		a {
			color: #fff;
		}
	}
	.main {
		&.gradient {
			background-image: linear-gradient(
				-180deg,
				rgba(0, 0, 0, 0.7) 0%,
				rgba(0, 0, 0, 0) 100%
			);
			color: white;
			a {
				color: #fff;
			}
		}
		.main-content {
			display: flex;
			justify-content: space-between;
			white-space: nowrap;
			.logo-wrapper {
				flex: 0 0 auto;
				overflow: hidden;
				text-overflow: ellipsis;
				a {
					text-decoration: none;
				}
				font-weight: 800;
				font-size: 28px;
				letter-spacing: 1px;
				line-height: 40px;
				img {
					height: 35px;
					width: auto;
					display: block;
				}
			}
		}
	}
	.hero {
		padding: 4em 0em;
		&.centered {
			text-align: center;
			.hero-content {
				flex-direction: column;
				.hero-image {
					max-width: 100%;
					img {
						width: auto;
						max-width: 100%;
						padding-left: 0;
						padding-top: 2em;
					}
				}
			}
		}
		.hero-content {
			display: flex;
			align-items: center;
			.hero-copy {
				flex: 1 1 auto;
				display: flex;
				flex-direction: column;
				justify-content: center;
				.hero-logo {
					img {
						max-width: 100%;
						max-height: 175px;
					}
				}
				.hero-title {
					font-size: 65px;
					line-height: 70px;
					font-weight: 800;
					letter-spacing: 1px;
					word-wrap: break-word;
					margin-top: 35px;
					&:first-child {
						margin-top: 0px;
					}
				}
				.hero-text {
					font-size: 22px;
					line-height: 25px;
					margin-top: 35px;
					&:first-child {
						margin-top: 0px;
					}
				}
				.hero-button {
					margin-top: 35px;
					&:first-child {
						margin-top: 0px;
					}
					.bp3-button {
						margin-right: 1em;
					}
				}
			}
			.hero-image {
				flex: 1 1 auto;
				max-width: 40%;
				img {
					width: 100%;
					padding-left: 15%;
				}
			}
		}
	}
}

@include mobile {
	.header-component {
		.hide-on-mobile {
			display: none !important;
		}
		.main {
			.main-content {
				.logo-wrapper {
					text-overflow: ellipsis;
					font-size: 18px;
					letter-spacing: 0px;
					max-width: 55%;
					img {
						height: 35px;
						width: auto;
						display: block;
					}
				}
			}
		}
		.hero {
			text-align: center;
			.hero-content {
				flex-direction: column;
				.hero-copy {
					.hero-title {
						font-size: 45px;
						line-height: 50px;
					}
				}
				.hero-image {
					max-width: 100%;
					img {
						width: auto;
						max-width: 100%;
						padding-left: 0;
						padding-top: 2em;
					}
				}
			}
		}
	}
}
