.pub-pres-versions-component {
	h5 {
		margin-bottom: 1em;
	}
	.intro {
		margin-bottom: 2em;
	}
	.version-sections {
		display: flex;
	    flex-wrap: wrap-reverse;
		width: 100%;
		.section {
			flex-grow: 1;
			flex-shrink: 1;
			margin-bottom: 2em;
			.title {
				font-weight: bold;
				font-size: 16px;
			}
			.pt-menu-item {
				position: relative;
				left: -12px;
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	.pub-pres-versions-component {
		.version-sections {
			.section {
				width: 100%;
			}
		}
	}
}