@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.user-autocomplete-component {
	width: 100%;
	.#{$bp}-popover-target {
		width: 100%;
	}
}

.user-autocomplete-popover {
	.autocomplete-name {
		padding: 0em 1em;
	}
	.#{$bp}-menu-item {
		display: flex;
		align-content: center;
		align-items: center;
	}
}
