.footer-component {
	padding: 2.5em 0;
	.right {
		text-align: right;
	}
	img.logo {
		max-width: 100px;
		height: auto;
	}
	margin-top: 2em;
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		width: 100%;
		white-space: nowrap;
		&.social-list {
			margin: 1em 0;
			li {
				display: inline-block;
				margin-right: 0.75em;
			}
		}
	}
	li {
		text-decoration: inherit;
		display: block;
		h4 {
			color: #fff;
		}
	}
	a {
		color: inherit;
		user-select: none;
	}
	&.base-pubpub {
		ul {
			border-top: 1px solid #CCC;
			padding: 1em 0em;
		}
	}
}

@media only screen and (max-width: 720px) {  /* Used to be 45em */
	.footer-component {
		.row {
			display: flex;
			flex-direction: column;
			> :nth-child(1) {
				order: 2;
				padding-top: 2em;
				border-top: 1px solid;
			}
			> :nth-child(2) {order: 3}
			> :nth-child(3) {order: 4}
			> :nth-child(4) {order: 1}
		}
		text-align: center;
		ul {
			text-align: center;
		}
		li {
			padding: 1em 0em;
			display: block;
		}
		img.logo {
			max-width: 100px;
			height: auto;
		}
	}
}
@media print {
	.footer-component {
		display: none;
	}
}
