@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

#password-reset-container {
	padding: 40px 0px;
	background-repeat: repeat;
	background-position: center center;
	background-color: #f9fafb;
	background-image: url('/static/loginbg.png');
	min-height: calc(100vh - 56px);
	.container.small .col-12 {
		padding: 2em;
		background: white;
		border-radius: 2px;
		box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0),
			0 0 0 rgba(16, 22, 26, 0);
	}
	form {
		margin-top: 40px;
		font-size: 1.25em;
	}
	.switch-message {
		margin-top: 25px;
		opacity: 0.8;
		display: block;
	}
	.#{$bp}-callout {
		margin-top: 4em;
	}
	.#{$bp}-non-ideal-state {
		.success p {
			font-size: 1em;
			line-height: 1.5;
			margin: 0px;
		}
	}
	.#{$bp}-button-group {
		display: block;
	}
}
