#password-reset-container {
	.page-content {
		.container {
			padding-top: 2em;
		}
		form {
			margin-top: 40px;
			font-size: 1.25em;
			p {
				line-height: 1.2;
				font-size: 0.9em;
				margin: -1em 0em 2em;
			}
		}
		.pt-callout {
			margin-top: 4em;
			a {
				text-decoration: underline;
			}
		}
		.pt-non-ideal-state {
			margin-top: 5em;
			.success p {
				font-size: 1em;
				line-height: 1.5;
				margin: 0px;
			}	
		}
		.pt-button-group {
			display: block;
		}
	}
}