@import 'styles/variables.scss';

$hover-background: #f9f9f9;

.content-row-component {
    &.is-dragging {
        border: none;
        border-radius: 4px;
    }
    .drag-handle {
        position: absolute;
        left: 0;
        cursor: grab;
        z-index: 1;
        .bp3-icon {
            pointer-events: none;
        }
    }
    .counts {
        display: flex;
        .pubs,
        .conversations,
        .merges,
        .reviews {
            width: 90px;
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            .bp3-icon {
                margin-right: 5px;
            }
            .bp3-tag {
                margin-left: 2px;
            }
        }
    }
    .controls {
        margin-top: -2px;
        margin-right: 6px;
        display: flex;
        flex-wrap: nowrap;
    }
}
