@import 'styles/variables.scss';

$hover-background: #f9f9f9;

.content-row-component {
    .inner {
        background: transparent;
    }
    &.is-dragging {
        border: none;
        border-radius: 4px;
        background: #f7f7f7;
    }

    &.minimal {
        .inner {
            padding: 0.5em 1em;
            .arrow {
                display: none;
            }
        }
    }

    .drag-handle {
        position: absolute;
        left: 0;
        margin-top: 1px;
        cursor: grab;
        z-index: 1;
        .bp3-icon {
            pointer-events: none;
        }
    }

    .counts {
        display: flex;
        .pubs,
        .conversations,
        .merges,
        .reviews {
            width: 90px;
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            .bp3-icon {
                margin-right: 5px;
            }
            .bp3-tag {
                margin-left: 2px;
            }
        }
    }

    .controls {
        margin-top: -2px;
        display: flex;
        flex-wrap: nowrap;
    }
}
