.content-overview-component {
	.bp3-non-ideal-state {
		height: 400px;
	}
	.filter-bar {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-top: 60px;
		.left {
			border-bottom: 2px solid #333;
			font-weight: 500;
			font-size: 16px;
			line-height: 36px;
		}
		.right {
			max-width: 450px;
			flex: 1 1 auto;
		}
	}
}