.content-overview-component {
	.bp3-non-ideal-state {
		height: 400px;
	}
	.linked-page-select-button {
		max-width: 250px;
		.bp3-button-text {
			white-space: nowrap;
			overflow-x: hidden;
			text-overflow: ellipsis;
		}
	}
	.filter-bar {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-top: 20px;
		.left {
			border-bottom: 2px solid #333;
			font-weight: 500;
			font-size: 16px;
			line-height: 36px;
		}
		.right {
			max-width: 450px;
			flex: 1 1 auto;
		}
	}
}