.overview-blocks-component {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0px 30px;
	padding: 20px;
	background: #f7f7f7;
	.overview-block {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 25px;
		.bp3-icon {
			opacity: 0.3;
			margin-right: 1em;
		}
		.text {
			.count {
				font-size: 18px;
				font-weight: 500;
			}

			font-size: 14px;
			text-transform: uppercase;
		}
	}
	.blip {
		opacity: 0.4;
	}
}
