.overview-blocks-component {
	display: flex;
	justify-content: space-between;
	margin: 30px 0px 50px;
	.overview-block {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30%;
		height: 100px;
		border: 1px solid #ccc;
		border-radius: 2px;
		background: #f7f7f7;
		.bp3-icon {
			opacity: 0.5;
			margin-right: 1em;
		}
		.text {
			font-size: 24px;
			div {
				font-size: 16px;
				text-transform: uppercase;
			}
		}
	}
}