.overview-table-component {
	.table-title {
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}	
	.list {
		margin-top: 10px;
		background: #f7f7f7;
		&.collection-list {
			.pubs {
				display: none;
			}
		}
		&:not(.collection-list) {
			.pub-options {
				display: none;
			}
		}
	}
}