.discussion-authors-list-component {
	padding: 1em;
	min-width: 250px;
	.pt-menu-header {
		margin-bottom: 15px;
	}
	.pt-menu-item {
		display: flex;
		align-items: center;
	}
	.color {
		height: 16px;
		width: 16px;
		border-radius: 2px;
		margin-right: 5px;
	}
	img {
		height: 16px;
		width: 16px;
		border-radius: 2px;
		margin-right: 5px;
	}
	.title{
		flex-grow: 1;
		flex-shrink: 1;
	}
	.empty {
		pointer-events: none;
		opacity: 0.75;
	}
}
