#pricing-container {
	padding-bottom: 2em;
	h1 {
		margin: 1em 0em 0.5em;
		text-align: center;
	}
	// h2 {
	// 	text-transform: uppercase;
	// }
	p {
		margin: 0 auto;
		font-size: 18px;
	}
	p.description {
		padding: 0 2em;
	}
	.pricing-footer p.description {
		margin-bottom: 2em;
	}
	p.subtitle {
		color: #555;
		font-weight: 300;
		font-size: 24px;
		padding: 0;
		margin-bottom: 35px;
		line-height: 1.4;
	}
	p.pricing {
		margin-bottom: 1em;
		em {
			font-style: normal;
			border-bottom: 1px dotted;
			cursor: help;
		}
	}
	.pricing-tiers {
		display: flex;
		.option {
			display: flex;
			flex-direction: column;
			text-align: center;
			position: inline;
			flex: 1;
			margin: 4em 2em;
			background: #f7f7f9;
			ul {
				flex-grow: 1;
				text-align: left;
				padding-left: 20px;
				li {
					font-size: 14px;
					margin: 0.5em 0;
				}
			}
			a.bp3-button {
				margin-top: 1em;
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	#pricing-container {
		.pricing-tiers {
			display: block;
		}
	}
}
