@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

#pricing-container {
	background-repeat: repeat;
	background-position: center center;
	background-color: #f9fafb;
	background-image: url('/static/loginbg.png');
	min-height: 100vh;
	h1 {
		margin: 1em 0em;
		text-align: center;
		font-size: 5em;
		line-height: 1.2;
	}
	p.description {
		margin: 1.5em auto;
		font-size: 16px;
		max-width: 900px;
		&.top {
			text-align: center;
		}
	}
	p.subtitle {
		color: #555;
		font-weight: 300;
		font-size: 14px;
		padding: 0;
		margin-bottom: 35px;
		line-height: 16.6px;
	}
	p.fine-print {
		font-size: 13px;
	}
	h2 span.subhead {
		color: #555;
		font-weight: normal;
	}
	h3.pricing {
		font-size: 16px;
		margin-bottom: 1.6em;
		.subhead {
			font-size: 14px;
			line-height: 16px;
			color: #555;
			font-weight: normal;
		}
	}
	#content {
		.#{$bp}-button {
			margin-bottom: 2em;
		}
		.features {
			margin-top: 0;
		}
	}
	#independent {
		a.#{$bp}-button {
			margin-top: 0;
		}
		h3.pricing {
			margin-bottom: 1em;
		}
	}
	.pricing-tiers {
		display: flex;
		.option {
			display: flex;
			flex-direction: column;
			text-align: center;
			position: inline;
			flex: 1;
			margin: 3em 0.75em;
			background: #f7f7f9;
			ul {
				flex-grow: 1;
				text-align: left;
				padding-left: 20px;
				li {
					font-size: 14px;
					margin: 0.5em 0;
				}
			}
			a.#{$bp}-button {
				margin-top: 1em;
				background-color: #b2e2bd;
				color: #14411e;
			}
		}
		p {
			text-align: left;
		}
	}
}

@media only screen and (max-width: 720px) {
	#pricing-container {
		.pricing-tiers {
			display: block;
		}
	}
}
