#pricing-container {
	background-repeat: repeat;
	background-position: center center;
	background-color: #f9fafb;
	background-image: url('/static/loginbg.png');
	padding-bottom: 2em;
	h1 {
		margin: 1em 0em;
		text-align: center;
	}
	p.description {
		margin: 1.5em auto;
		font-size: 16px;
		max-width: 900px;
		&.top {
			text-align: center;
		}
	}
	p.subtitle {
		color: #555;
		font-weight: 300;
		font-size: 14px;
		padding: 0;
		margin-bottom: 35px;
		line-height: 16.6px;
	}
	h2 span.subhead {
		color: #555;
		font-weight: normal;
	}
	h3.pricing {
		font-size: 24px;
		.subhead {
			font-size: 14px;
			color: #555;
			font-weight: normal;
		}
	}
	#enterprise h3.pricing {
		margin-bottom: 13px;
	}
	#independent {
		a.bp3-button {
			margin-top: 0;
		}
		h3.pricing {
			font-size: 16px;
			margin-bottom: 13px;
			.subhead {
				line-height: 16px;
			}
		}
	}
	.pricing-tiers {
		display: flex;
		.option {
			display: flex;
			flex-direction: column;
			text-align: center;
			position: inline;
			flex: 1;
			margin: 3em 0.75em;
			background: #f7f7f9;
			ul {
				flex-grow: 1;
				text-align: left;
				padding-left: 20px;
				li {
					font-size: 14px;
					margin: 0.5em 0;
				}
			}
			a.bp3-button {
				margin-top: 1em;
				background-color: #B2E2BD;
				color: #14411E;
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	#pricing-container {
		.pricing-tiers {
			display: block;
		}
	}
}
