#pricing-container {
	h1 {
		margin: 1em 0em 0.5em;
		text-align: center;
	}
	p {
		max-width: 800px;
		margin: 0 auto;
		font-size: 18px;
	} 
	p.subtitle {
		color: #555;
		font-weight: 300;
		font-size: 24px;
		padding: 0;
		margin-bottom: 35px;
		line-height: 1.4;
	}
	.pricing-tiers {
		display: flex;
		.option {
			display: flex;
			flex-direction: column;
			text-align: center;
			position: inline;
			flex: 1;
			margin: 4em 2em;
			background: #F7F7F9;
			ul {
				flex-grow: 1;
				text-align: left;
				padding-left: 20px;
				li {
					font-size: 16px;
					margin: 0.5em 0;
				}
			}
			a.pt-button {
				margin-top: 1em;
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	#pricing-container {
		.pricing-tiers {
			display: block;
		}
	}
}
