.review-component {
	max-width: fit-content;
	
	.review-button {
		padding-top: 18px;
	}
	.review-submission-button {
		.bp3-button {
			color: white;
			.bp3-icon {
				color: white !important;
			}
		}
		.bp3-button:hover {
			color: white;
			.bp3-icon {
				color: white !important;
			}
		}
	}
	.review-border {
		border-style: solid;
		border-color: #dddddd;
		padding: 18px;
	}
}
