@use 'styles/vendor';

$bp: vendor.$bp-namespace;

.review-component {
	position: absolute;
	right: 0;
	top: 100%;
	color: black;

	.review-button {
		padding-top: 18px;
		.#{$bp}-button {
			.#{$bp}-icon {
				color: white !important;
			}
			&:hover {
				.#{$bp}-icon {
					color: white !important;
				}
			}
		}
		.#{$bp}-button-text {
			color: white;
		}
	}

	.review-border {
		border-style: solid;
		border-color: #dddddd;
		padding: 18px;
	}
}
