@use 'styles/vendor.scss';

.review-component {
	position: absolute;
	right: 0;
	top: 100%;
	color: black;

	.review-button {
		padding-top: 18px;
		.#{vendor.bp-namespace}-button {
			.#{vendor.bp-namespace}-icon {
				color: white !important;
			}
			&:hover {
				.#{vendor.bp-namespace}-icon {
					color: white !important;
				}
			}
		}
		.#{vendor.bp-namespace}-button-text {
			color: white;
		}
	}

	.review-border {
		border-style: solid;
		border-color: #dddddd;
		padding: 18px;
	}
}
