#pub-collaboration-container {
	$sidePanelWidth: 350px; // 200 is width of side panel
	$navHeight: 56px; // 56px is height of nav
	$titlePanelHeight: 75px;
	.page-content {
		min-height: calc(100vh - #{$navHeight});
		padding-top: 75px;
		.col-12 {
			margin-top: 0px;
			margin-bottom: 0px;
		}
		.upper {
			height: $titlePanelHeight;
			border-bottom: 1px solid rgba(0, 0, 0, 0.25);
			position: fixed;
			width: 100%;
			background-color: white;
			z-index: 18;
		}
		.lower {
			// direction: rtl;
			background-color: #F9F9F9;
			padding-top: $titlePanelHeight;
		}
		.side-panel {
			// direction: ltr;
			position: fixed;
			height: calc(100vh - #{$navHeight} - #{$titlePanelHeight});
			width: $sidePanelWidth;
			overflow: hidden;
			.side-panel-content {
				overflow: hidden;
				overflow-y: scroll;
				width: calc(#{$sidePanelWidth} + 50px);
				padding-right: calc(0em + 50px);
				height: 100%;
			}
			.new-discussion-wrapper {
				padding: 0em 1em;
				z-index: 1;
				background-color: #F9F9F9;
				position: relative;
			}
			.top-button {
				display: block;
				border-bottom: 1px solid #E0E0E0;
				margin-bottom: 1em;
				width: 100%;
			}
			.pt-non-ideal-state {
				max-height: 400px;
				height: calc(100% - 50px);
			}
			.archived-threads {
				padding: 0em 1em;
			}
			.archive-title-button {
				font-weight: bold;
				font-size: 1em;
				color: #6e6e6e;
				margin: 2em 0em 1em;
			}
		}
		.container.pub {
			max-width: 950px;
		}
		.pub-side-content {
			float: right;
			width: 250px;
			padding-left: 50px;
		}
		.pub-main-content {
			// direction: ltr;
			padding: 2em 0em;
			// background-color: white;
			// border: 1px solid #ECECEC;
			// border-top: 0px solid #ECECEC;
			// margin-right: $sidePanelWidth;
			min-height: 100vh;
			// overflow: hidden;
			cursor: text;
			// .collaborative-loading {
				
			// }
			// max-width: 700px;
			// margin-right: 250px;
			// margin: 0 auto;
			margin-right: 250px;
			// .pub-body-component.loading {
			// 	opacity: 0;
			// }
		}
		.fix-it {
			opacity: 0;
			transition: .2s linear opacity;
			position: fixed;
			top: 30vh;
			width: 200px;
			text-align: center;

			pointer-events: none;
			&.fixed {
				opacity: 1;
				pointer-events: auto;
			}
			.pt-button {
				margin-bottom: 5px;
				display: block;
				// text-align: right;
				// position: relative;

				margin: 0px auto 12px auto;
				display: block;
				padding: 0px;
				font-weight: 600;
				opacity: .4;
				border: 2px solid #555;
				width: 68px;
				&:hover {
					opacity: 0.75;
					background-color: white;
				}
			}
			.arrow {
				width: 30px;
				display: inline-block;
				margin-right: 6px;
				margin-top: -5px;
				&:last-of-type {
					margin-right: 0px;
				}
				&.hidden {
					opacity: 0;
					pointer-events: none;
				}
			}
			.title {
				font-weight: 600;
				opacity: 0.4;
				// margin-bottom: 12px;
				margin: 20px 0px 10px;
				display: inline-block;
				&:first-child {
					margin-top: 0px;
				}
			}
		}
		// #discussions {
		// 	border-top: 1px solid #E0E0E0;
		// 	padding: 2em 0em 4em;
		// 	background-color: #F9F9F9;
		// 	.discussions-content {
		// 		max-width: 700px;
		// 		margin: 0 auto;	
		// 		padding: 0em 2em;
		// 	}
		// }
		#discussions {
			border-top: 1px solid #E0E0E0;
			padding: 2em 0em 4em;
			margin-bottom: -2em;
			background-color: #F9F9F9;
		}
	}
}

@media only screen and (max-width: 720px) {
	#pub-collaboration-container {
		.page-content {
			.container.pub {
				max-width: 100%;
			}
			.pub-side-content {
				display: none;
			}
			.pub-main-content {
				margin-right: 0px;
			}	
		}
	}
}		