@use 'styles/vendor.scss';

.page-autocomplete-component {
	.input {
		width: 100%;
	}
	.#{vendor.$bp-namespace}-popover-target {
		width: 100%;
	}
	.#{vendor.$bp-namespace}-input-action {
		padding: 0px 5px;
		opacity: 0.6;
	}
}
.page-autocomplete-popover {
	.autocomplete-name {
		padding: 0em 1em;
	}
	.#{vendor.$bp-namespace}-menu-item {
		display: flex;
		align-content: center;
		align-items: center;
	}
	.new-title {
		padding-right: 0.5em;
	}
}
