.spub-header-component {
	border-bottom: 1000px solid var(--community-accent-dark);
	padding: 200px;

	submission-workflow-title {
		margin: 0;

		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: 56px;
	}

	.tabs {
		color: var(--community-accent-dark);
		max-width: 900px;
		> .bp3-tab-list {
			width: 1005.79px;
			height: 0px;
			padding-top: 5px;
			.tab {
				color: var(--community-accent-dark);
				font-weight: 500;
				line-height: 17px;
				padding: 15px;
				text-transform: uppercase;
			}
		}
	}
}
