.spub-header-component {
	border-bottom: 1px solid #d2d2d2;
	padding: 26px;
	height: 550px;

	h1 {
		margin: 0;

		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: 56px;
		letter-spacing: 0em;
		text-align: left;

		box-decoration-break: clone;
		color: var(--community-accent-dark);
	}


	.tabs {
		max-width: 900px;
		> .bp3-tab-list {
			> .bp3-tab-indicator-wrapper > .bp3-tab-indicator {
				background: var(--community-accent-dark);
			}
			position: absolute;
			width: 1005.79px;
			height: 0px;
			padding-top: 5px;
			.tab {
				color: var(--community-accent-dark);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 17px;
				letter-spacing: 0.15em;
				text-align: left;
				padding: 15px;
				text-transform: uppercase;
			}
		}
		.tab-panel {
			padding-top: 33px;
		}
	}
}
