.pub-options-sections-component {
	.add-sections-button {
		float: right;
	}
	.section {
		display: flex;
		align-items: center;
		padding: 10px 0px;
		&.first {
			padding-left: 36px;
			padding-right: 30px;
			.title {
				max-width: calc(100% - 40px);
			}
		}
		&.active {
			background-color: #DDD;
		}
		.drag {
			padding-right: 10px;
			margin-right: 10px;
			cursor: ns-resize;
		}
		.title {
			flex-grow: 1;
			flex-shrink: 1;
			max-width: calc(100% - 36px - 70px);
			font-size: 1.1em;
			font-weight: bold;
			.link-title {
				cursor: pointer;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.pt-icon, .pt-icon-tick {
			margin-left: 10px;
		}
	}
}
