.drag-drop-listing-component {
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    .empty-state-container {
        &:first-child {
            padding-top: 75px;
        }
    }
}