.drag-drop-listing-component {
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    .empty-state-container {
        &:first-child {
            padding: 75px 0px;
        }
    }
}