.pub-preview-component {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	display: flex;
	position: relative;
	a {
		text-decoration: none;
	}
	.preview-image-wrapper {
		.preview-image-component {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: #f0f0f0;
			height: 100%;
		}
	}
	.content-wrapper {
		position: relative;
	}
	.content {
		overflow: hidden;
		padding: 1em;
		vertical-align: top;
		position: relative;
		height: 100%;
	}
	&:not(.expanded) {
		.content {
			&:after {
				content: '';
				display: block;
				background: white;
				background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95), white);
				width: 100%;
				height: 1em;
				position: absolute;
				bottom: 0em;
				left: 0;
			}
		}
	}
	&:after {
		content: '';
		clear: both;
		display: table;
	}
	&.large-preview {
		min-height: 350px;
		&:not(.expanded) {
			height: 350px;
		}
		margin-bottom: 1em;
		.preview-image-wrapper {
			width: 55%;
			border-right: 1px solid #f0f0f0;
		}
		.content-wrapper {
			width: 44%;
			padding-left: 1.5em;
		}
		.title-wrapper {
			padding: 5px 5px 10px 5px;
			&:hover {
				text-decoration: underline;
			}
			.pub-title {
				font-weight: 500;
				font-size: 24px;
				line-height: 1.33 !important;
			}
		}
		.authors {
			font-style: italic;
			font-weight: 400;
			font-size: 16px;
			line-height: 1.25;
			padding-bottom: 5px;
			padding-left: 5px;
		}
		.date-details {
			margin-top: 10px;
			padding-left: 5px;
		}
		.description {
			font-size: 14px;
			padding-left: 5px;
		}
		.pub-preview-edges-component {
			font-size: 14px;
			margin-bottom: 5px;
			padding-left: 5px;
		}
	}
	&.medium-preview {
		min-height: 225px;
		&:not(.expanded) {
			height: 225px;
		}
		margin-bottom: 1em;
		.preview-image-wrapper {
			width: 35%;
			border-right: 1px solid #f0f0f0;
		}
		.content-wrapper {
			width: 65%;
		}
		.title-wrapper {
			padding: 0px 5px 5px 5px;
			&:hover {
				text-decoration: underline;
			}
		}
		.authors {
			padding-left: 5px;
		}
		.date-details {
			margin-top: 15px;
			padding-left: 5px;
		}
		.description {
			padding-left: 5px;
			padding-top: 15px;
		}
		.pub-preview-edges-component {
			padding-left: 5px;
			margin-bottom: 5px;
		}
	}
	&.small-preview {
		box-shadow: 0px 0px 0px transparent;
		border: 0px solid transparent;
		border-left: 1px solid #e0e0e0;
		border-radius: 0px;
		padding-left: 20px;
		margin-bottom: 1em;
		.preview-image-wrapper {
			display: none;
		}
		.content {
			padding: 0em;
			&:after {
				display: none;
			}
		}
		.title-wrapper {
			padding: 5px 0px 2px;
			&:hover {
				text-decoration: underline;
			}
			.pub-title {
				font-weight: 400;
				font-size: 22px;
				line-height: 1.33 !important;
			}
		}
		.description {
			padding-top: 5px;
		}
		.date-details {
			margin-top: 10px;
		}
		.author-avatars {
			padding-left: 0px;
		}
	}
	&.minimal-preview {
		box-shadow: 0px 0px 0px transparent;
		border: 0px solid transparent;
		border-left: 1px solid #e0e0e0;
		border-radius: 0px;
		padding-left: 20px;
		font-size: 16px;
		margin-bottom: 1em;
		.content {
			padding: 0em;
			&:after {
				display: none;
			}
		}
		.authors {
			font-style: italic;
			font-weight: 300;
			font-size: 14px;
			line-height: 1.3;
		}
		.title-wrapper {
			padding: 5px 0px 2px;
			&:hover {
				text-decoration: underline;
			}
			.pub-title {
				font-weight: 400;
				font-size: 18px;
				line-height: 1.33 !important;
			}
		}
		.description,
		.pub-preview-edges-component {
			padding-top: 3px;
			font-size: 12px;
			line-height: 1.4;
		}
		.description {
			opacity: 0.75;
		}
	}
	.title-wrapper {
		padding-bottom: 5px;
		font-family: multi-display, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
			'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
	}
	.pub-title {
		line-height: 1.25 !important;
		display: inline;
		font-weight: 500;
	}
	.authors {
		font-size: 14px;
		line-height: 1.3;
		font-style: italic;
		color: #555;
		padding-bottom: 2px;
	}
	.date-details {
		font-size: 14px;
		line-height: 20px;
		overflow: hidden;
		height: 20px;
		color: #555;
		margin-top: 5px;
		.date {
			padding-right: 1em;
			vertical-align: middle;
			font-style: italic;
			color: #000;
		}
		.draft-link {
			font-style: normal;
			margin-left: 2em;
		}
	}
	.author-avatars {
		font-size: 14px;
		line-height: 20px;
		overflow: hidden;
		height: 20px;
		font-style: italic;
		color: #555;
		margin-top: 5px;
		padding-left: 5px;
		.avatar-component {
			vertical-align: top;
		}
	}
	.lock-icon {
		margin-left: 0.25em;
		vertical-align: baseline;
	}
	.description {
		padding-top: 10px;
		font-size: 14px;
		opacity: 0.75;
		line-height: 1.3;
	}
	.community-banner {
		padding: 3px 5px;
		border-radius: 2px;
		float: right;
		margin: 0px 0px 5px 5px;
		img {
			display: block;
		}
	}
}

@media only screen and (max-width: 720px) {
	/* Used to be 45em */
	.pub-preview-component {
		flex-direction: column;
		&.large-preview,
		&.medium-preview {
			// Specificity hack
			&:not(.expanded) {
				height: auto;
			}
			.preview-image-wrapper {
				width: 100%;
				height: 200px;
				border-right: 0px solid #f0f0f0;
				border-bottom: 1px solid #f0f0f0;
			}
			.content-wrapper {
				width: 100%;
				height: auto;
			}
			.community-banner {
				margin: 0px 0px 10px;
				display: block;
			}
		}
	}
}
