.sub-preview-component {
	padding-left: 5%;
	margin-top: 0.5em;
	.child {
		margin-top: 0.5em;
	}
	.prefix {
		margin-right: 0.5em;
	}
	.element {
		font-weight: 300;
		font-style: italic;
		&:hover {
			text-decoration: underline;
		}
	}
}