@import url('https://fonts.googleapis.com/css?family=Raleway:600');

.header-component {
	color: white;
	background-color: transparent;
	.pt-button:not([class*="pt-intent-"]), .pt-button[class*="pt-icon-"]::before { color: white; }
}


#landing-container {
	/***** Globals *****/
	.buttons {
		margin: 3em 0;
		text-align: center;
		.pt-button {
			margin: 0 0.5em;
		}
	}

	/***** Jumbotron and Nav *****/
	#jumbotron {
		margin-top: -56px;
		padding-top: 56px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #454F60;
		background-image: url('/static/landing/herobg.jpg');
		color: #fff;
		font-size: 16px;
		/***** Nav *****/
		// nav {
		// 	display: flex;
		// 	align-items: center;
		// 	img {
		// 		height: 35px;
		// 		display: block;
		// 		margin-right: 0.5em;
		// 	}
		// 	.title {
		// 		font-family: 'Raleway', sans-serif;
		// 		font-size: 32px;
		// 	}
		// 	.spacer {
		// 		flex-grow: 1;
		// 		flex-shrink: 1;
		// 	}
		// 	.link, .separator {
		// 		margin-left: 1em;
		// 		color: inherit;
		// 	}
		// }

		/***** Header Content *****/
		.content {
			text-align: center;
			h1 {
				color: #fff;
				margin: 1em 0;
			}
			.landing-header {
				min-width: 212px;
				display: inline-block;
				text-align: right;
				text-decoration: underline;
				transition: opacity .75s;
				&.landing-header-exit-active, &.landing-header-enter, &.landing-header-exit {
					opacity: 0;
				}
				&.landing-header-enter {
					position: absolute;
				}
				&.landing-header-enter-done {
					opacity: 1;
					position: relative;
				}
			}
			.subtitle {
				max-width: 500px;
				margin: 0 auto;
				font-size: 18px;
			}
			.buttons {
				margin: 2em 0em 5em;
			}
			img.hero {
				max-width: 800px;
			}
			.col-12 {
				margin-bottom: 0;
			}
			.pt-intent-primary {
				background-color: #BF8C0A;
				&:hover {
					background-color: #B2830A;
				}
				&:active {
					background-color: #A67908;
				}
			}
		}


	}

	/***** Main Content *****/
	#main {
		h2, h3, .subtitle, .title, .divider {
			color: #454F60;
			text-align: center;
		}
		.subtitle {
			font-size: 18px;
			font-weight: 300;
			color: #555;
		}
		.divider {
			margin: 5px 0;
			opacity: 0.6;
		}
		.bg {
			padding: 2em 0;
			&#opensource, &#foryou {
				background-color: #454F60;
				color: #fff;
				h2, .subtitle, .title {
					color: #fff;
				}
				a, a:visited, a:active, a:hover {
					&:not(.pt-button) {
						color: #ccc;
					}
				}
			}
			&#foryou, &#opensource {
				p {
					max-width: 400px;
					margin: 0 auto 10px;
					font-size: 18px;
				}
			}
			&#foryou {
				padding: 4em 0em;
			    margin-bottom: -36px;
			    .buttons {
			    	margin-bottom: 0em;
			    }
				.pt-intent-primary {
					background-color: #BF8C0A;
					&:hover {
						background-color: #B2830A;
					}
					&:active {
						background-color: #A67908;
					}
				}
			}
		}
		/*** BEGIN type block ***/
		.type-block {
			display: flex;
			margin: 4em 6em 12em;
			&.flipped {
				flex-direction: row-reverse;
				.content {
					margin: 0.5em 0 auto 8em;
				}
			}
			&.centered {
				display: block;
				text-align: center;
				margin: 1em auto;
				max-width: 400px;
				.content {
					margin: 0;
					.title {
						text-align: center;
						}
					.buttons {
						text-align: center;
						.pt-button {
							margin: 0 .5em;
						}
					}
				}
			}

			.content {
				margin: 0.5em 8em auto 0;
				.buttons {
					margin: 0;
					text-align: left;
					.pt-button {
						margin: 0;
					}
				}
				.title {
					font-size: 2em;
					font-weight: 800;
					text-align: left;
				}
				.description {
					margin: 1em 0;
					font-size: 18px;
					line-height: 1.4;
				}
			}
			.image {
				flex-shrink: 0;
				flex-grow: 1;
				width: 50%;
				min-height: 200px;
				img {
					width: 100%;
				}
				p.credit {
					font-size: 10px;
					text-align: center;
					margin-top: 4px;
					color: #999;
					a {
						color: #999;
					}
				}
			}
		}
	/*** END type block ***/

	#features {
		padding: 4em 0em;
		background-repeat: repeat;
		background-position: 50%;
		background-color: #f9fafb;
		background-image: url(/static/loginbg.png);
		.feature-list {
			margin: 4em auto 0em;
			padding: 0;
			max-width: 1000px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto auto auto;
			list-style-type: none;
			li {
				margin: 2em;
				.icon {
					margin: 0 .75em .75em 0;
					float: left;
					opacity: 0.6;
				}
				.title {
					text-align: left;
					font-weight: 600;
					font-size: 18px;
				}
				.description {
					font-size: 16px;
					font-weight: 300;
					padding: 0 .25em;
					clear: both;
				}
			}
		}
	}
	/***** END Features *****/

	/**** BEGIN Open Source *****/
	#opensource {
		padding: 4em 0em;
		.col-12 {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			margin: 2em 0em;
			// > * {
			// 	align-self: center;
			// }
			.header {
				h2 {
					text-align: left;
					margin-bottom: 0.5em;
					font-size: 25px;
				}
				.pt-icon {
					// padding-top: 4px;
					opacity: 0.6;
				}
			}
			.content {
				font-size: 18px;
			}
			.buttons {
				margin: 0em;
				.pt-button {
					color: inherit;
				}
			}
			.pubpub-links {
				margin: 1.5em 0em 0em;
				max-width: 400px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				a {
					white-space: nowrap;
					&:not(:first-of-type) {
						margin-left: 1em;
					}
				}
			}
		}
	}
}
/*** End Main Block ***/
	/**** Footer *****/
	.footer {
		background-color: #454F60;
	}

}

/***** Mobile *****/
@media only screen and (max-width: 720px) {
	#landing-container {
		#jumbotron {
			img.hero {
				width: 100%;
			}
		}
		#main {
			#features {
				.feature-list {
					grid-template-columns: 1fr 1fr;
					max-width: 100%;
					width: 100%;
				}
			}
			.type-block {
				flex-wrap: wrap-reverse;
				margin: 4em 1em;
				&.flipped {
					.content {
						margin: 2em 0em 6em;
					}
				}
				.content {
					margin: 2em 0em 6em;
				}
				.image {
					width: 100%;
				}
			}
			#opensource {
				.col-12 {
					.header {
						h2 {
							text-align: center;
						}
					}
				}
			}

		}
	}
}
