@import url('https://fonts.googleapis.com/css?family=Raleway:600');

// .header-component {
// 	color: white;
// 	background-color: transparent;
// 	.bp3-button:not([class*='bp3-intent-']),
// 	.bp3-button[class*='bp3-icon-']::before {
// 		color: white;
// 	}
// }

/**** Variables and Mixins ****/
$textColorLight: #FFF9E9;
$textColorDark: #2C3654;
$bgColorDark: #2C3654;
$bgGradientWhiteFirst: linear-gradient(0deg, #fff6c9 0%, #fff 100%);
$bgGradientYellowFirst: linear-gradient(0deg, #fff 0%, #fff6c9 100%);
$borderGradientLight: linear-gradient(0deg, transparent 50%, $textColorLight 50%);
$borderGradientDark: linear-gradient(0deg, transparent 50%, #000 50%);
$columnGap: 90px;
$leftColumnWidth: 300px;
@mixin backgroundGradient($whiteFirst) {
	background: rgb(255,255,255);
	@if $whiteFirst {
		background: $bgGradientWhiteFirst;
	}
	@else {
		background: $bgGradientYellowFirst;
	}
}
@mixin light($border, $whiteFirst) {
	color: $textColorDark;
	h1, h2, h3, h4, a {
		color: $textColorDark;
	}
	@if $border {
		.container {
			background-image: $borderGradientDark;
		}
	}
	@include backgroundGradient($whiteFirst);
}
@mixin dark($border) {
	background-color: $bgColorDark;
	color: $textColorLight;
	h1, h2, h3, h4, a {
		color: $textColorLight;
	}
	@if $border {
		.container {
			background-image: $borderGradientLight;
		}
	}
}

#landing-container {
	/***** Globals *****/
	font-family: upgrade, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
	line-height: 2em;
	letter-spacing: 1px;

	/***** Top Nav ****/
	.header-component {
		color: #999;
		&.bp3-dark a {
			color: #999;
		}
	}

	/***** Jumbotron and Nav *****/
	#jumbotron {
		.container .row.content {
			h1, h2, .subtitle {
				color: #000;
			}
		}
		min-height: 815px;
		margin-top: -56px;
		padding-top: 56px;
		@include light(false, false);
		background-image: url('/static/landing/headerbg.png'), $bgGradientWhiteFirst;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 75% 0;
		/***** Header Content *****/
		.content {
			.landing-header {
				min-width: 212px;
				display: inline-block;
				text-align: right;
				text-decoration: underline;
				transition: opacity 0.75s;
				&.landing-header-exit-active,
				&.landing-header-enter,
				&.landing-header-exit {
					opacity: 0;
				}
				&.landing-header-enter {
					position: absolute;
				}
				&.landing-header-enter-done {
					opacity: 1;
					position: relative;
				}
			}
			h1 {
				margin: 1em 0 0.5em 0;
				font-weight: 400;
				font-style: normal;
				font-size: 4em;
			}
			h2 {
				margin: 0.75em 0;
				font-weight: 300;
				font-style: normal;
				font-size: 2em;
			}
			h2:before {
				content: '';
				display: block;
				width: 20%;
				border-top: 1px #000 solid;
				padding-top: 0.75em;
			}
			.subtitle {
				max-width: 500px;
				margin: 0 auto;
				font-size: 1.5em;
				font-family: upgrade-lights, sans-serif;
				font-weight: 500;
				font-style: normal;
			}
		}
	}

	/***** Main Content *****/
	#main {
		.container {
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: $leftColumnWidth auto;
			grid-column-gap: $columnGap;
			grid-row-gap: $columnGap;
			align-items: top;
			background-repeat: repeat-y;
			background-size: 2px 12px;
			background-position-x: ($leftColumnWidth + ($columnGap / 2));
			padding-top: 2em;
			padding-bottom: 2em;
			h3, .feature-number {
				font-size: 1em;
				line-height: 2em;
				font-weight: 200;
				text-transform: uppercase;
			}
			h4 {
				font-size: 1.25em;
				line-height: 2em;
				font-weight: 400;
			}
			> div:nth-child(odd) {
				text-align: right;
				grid-column-start: 1;
			}
			> div:nth-child(even) {
				grid-column-start: 2;
			}
		}
		/**** BEGIN Mission, Open Source ****/
		#mission {
			@include dark(true);
			.git {
				margin-right: 6em;
			}
			.container > div:nth-child(even) {
				max-width: 560px;
			}
		}
		/**** END Mission, Open Source ****/
		/**** BEGIN Features ****/
		#features {
			@include light(true, true);
			.feature-number {
				font-size: 1.4em;
				line-height: 1.8em;
			}
			ul {
				margin-top: 4em;
				list-style-type: none;
				font-family: upgrade-lights;
				font-weight: 500;
				li {
					margin: 2.4em 0;
				}
			}
			img {
				width: 100%;
				height: auto;
				max-width: 777px;
			}
			.other-features h3 {
				line-height: 1em;
			}
			.feature-grid {
				display: grid;
				grid-template-columns: repeat(auto-fill, 315px);
				grid-template-rows: auto;
				grid-column-gap: 1em;
				grid-row-gap: 4em;
				justify-content: space-between;
				.feature {
					display: flex;
					.description {
						border-left: 1px dashed #000;
						padding-left: 0.7em;
						margin-left: 0.7em;
						p {
							margin-bottom: 0;
						}
						h4 {
							line-height: 1em;
						}
					}
				}
			}
		}
		/*** END Features ***/
		/*** START Case Study ***/
		#case-study {
			@include dark(true);
		}
		/*** END Case Study ***/
		/*** START Communities ***/
		#communities {
			@include light(true, false);
			border-bottom: 2px dashed #000;
			.community-grid {
				display: grid;
				grid-template-columns: repeat(auto-fill, 240px);
				grid-template-rows: auto;
				grid-column-gap: 1em;
				grid-row-gap: 4em;
				justify-content: space-between;
				.community {
					img {
						max-width: 240px;
						height: auto;
					}
				}
			}
		}
		/*** END Communities ***/
		/*** START Pitch ***/
		#pitch {
			@include dark(true);
			.container {
				> div {
					grid-column-start: 2;
					text-align: left;
				}
			}
		}
	}
	/*** End Main Block ***/
	/**** Footer *****/
	.footer {
		background-color: #454f60;
	}
}

/***** Mobile *****/
@media only screen and (max-width: 720px) {
	#landing-container {
		.buttons {
			> a.bp3-button {
				margin: 0.25em;
			}
		}
		#jumbotron {
			.content {
				.landing-header {
					width: 100%;
					display: block;
					text-align: center;
				}
			}
			img.hero {
				width: 100%;
			}
		}
		#main {
			#features {
				.feature-list {
					grid-template-columns: 1fr 1fr;
					max-width: 100%;
					width: 100%;
				}
			}
			.type-block {
				flex-wrap: wrap-reverse;
				margin: 4em 1em;
				&.flipped {
					.content {
						margin: 2em 0em 6em;
					}
				}
				.content {
					margin: 2em 0em 6em;
				}
				.image {
					width: 100%;
				}
			}

			#opensource {
				.col-12 {
					margin: 0.5rem 2%;
					.content {
						p {
							padding: 2em;
						}
						.pubpub-links {
							padding: 1em;
						}
					}
					.header {
						h2 {
							text-align: center;
						}
					}
				}
			}
		}
	}
}

/***** Nav *****/
// nav {
// 	display: flex;
// 	align-items: center;
// 	img {
// 		height: 35px;
// 		display: block;
// 		margin-right: 0.5em;
// 	}
// 	.title {
// 		font-family: 'Raleway', sans-serif;
// 		font-size: 32px;
// 	}
// 	.spacer {
// 		flex-grow: 1;
// 		flex-shrink: 1;
// 	}
// 	.link, .separator {
// 		margin-left: 1em;
// 		color: inherit;
// 	}
// }
