#landing-container {
	.page-content {
		.container {
			padding-top: 40px;
		}
		h1, h2 {
			font-size: 45px;
			font-weight: 700;
			line-height: 1.4;
			text-align: center;
			margin: 20px 0px;
		}
		h2 {
			font-size: 30px;
		}
		.subtitle {
			color: #555;
			font-weight: 300;
			text-align: center;
			font-size: 24px;
			padding: 0;
			margin-bottom: 35px;
			line-height: 1.4;
		}
		.action {
			text-align: center;
		}
		.image-wrapper {
			margin: 100px 0px;
			position: relative;
			img {
				display: block;
				width: 100%;
			}
		}
		.explore-all-button {
			text-align: center;
			margin-bottom: 100px;
		}
		.create-new-message {
			font-size: 16px;
			margin: 2em 0em 0em;
			a {
				text-decoration: underline;
			}
		}
	}
}
