.dashboard-details-component {
	// max-width: 600px;
	// margin: 0 auto;
	.images-wrapper {
		display: flex;
		.image-upload-component {
			padding-right: 10px;
		}
		.pt-icon {
			opacity: 0.5;
			margin-left: 7px;
			font-size: 14px;
			padding-top: 2px;
		}
	}
}
