@import 'styles/mixins.scss';

.dashboard-members-container {
	.dashboard-header-left {
		@include mobile {
			.details {
				font-size: 14px;
			}
		}
	}
	.settings-section-component {
		margin: 2em 0em 4em;
		@include mobile {
			margin-bottom: 2em;
			margin-top: 1em;
		}
		.add-member-controls {
			.user-autocomplete-component {
				width: 94%;
				@include mobile {
					width: 70%;
					margin-right: 10px;
				}
			}
		}
	}
}
