@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import 'styles/mixins.scss';

.dashboard-frame-component {
	@include mobile {
		margin-bottom: 60px; // Clear the BottomMenu
	}

	.dashboard-content-header {
		display: flex;
		align-items: flex-start;
		margin-bottom: 20px;
		.dashboard-header-left {
			.title {
				display: flex;
				align-items: center;
				@include mobile {
					font-size: 20px;
				}
				.target-type {
					font-weight: 400;
					text-transform: capitalize;
				}
				font-weight: 600;
				font-size: 24px;
				.number {
					margin-left: 12px;
					opacity: 0.6;
				}
			}
			.details {
				font-size: 16px;
				color: #666;
				font-weight: 300;
				padding-top: 20px;
			}
			flex: 1 1 auto;
		}
		.dashboard-header-right {
			flex: 0 0 auto;
			.controls {
				display: flex;
				@include mobile {
					flex-wrap: wrap;
					max-width: 100vw;
					.#{$bp}-form-group {
						margin-bottom: 0px;
					}
				}
			}
			.#{$bp}-button {
				margin-left: 1em;
				@include mobile {
					font-size: 12px;
					margin-right: 3px;
					margin-left: 0px;
				}
			}
			.#{$bp}-button-group .#{$bp}-button {
				z-index: unset;
				margin-left: auto;
			}
			@include mobile {
				margin-top: 10px;
			}
		}
		@include mobile {
			margin-top: 20px;
			margin-bottom: 5px;
			align-items: flex-start;
			flex-direction: column;
		}
	}
}
