.dashboard-collection-edit-component {
	.pt-form-content {
		max-width: 500px;
	}
	.html-input {
		textarea {
			font-family: 'Courier', monospace;
			pre: nowrap;	
		}
	}
	.pt-callout {
		margin-top: 2em;
	}
	.editor-wrapper {
		box-shadow: 0 0 0 0 rgba(54, 54, 54, 0), 0 0 0 0 rgba(54, 54, 54, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
		border-radius: 2px;
		padding: 10px;
	}
	.delete-button-wrapper {
		padding-top: 1em;
	}
	.error {
		color: #c23030;
		text-align: right;
		padding-top: 0.25em;
		font-size: 1em;
	}
	.edit-nav {
		border-bottom: 1px solid #979797;
		height: 41px; 
		overflow: hidden;
		margin: 20px 0px 40px;
		.pt-tabs {
			overflow: hidden;
			overflow-x: scroll;
			padding-bottom: 50px;
		}
		.pt-tab { 
			text-decoration: none;
		}
	}
}