@import "../pub.scss";

$header-height: 48px;

@mixin column {
    .section {
        flex-direction: column;
        align-items: flex-start !important;
        height: auto;
        h6 {
            margin-bottom: 0;
        }
    }
}

@include pub-compact-view {
    .pub-details-component {
        @include column;
        &.expanded {
            flex-direction: column;
            & > .section {
                width: 100%;
            }
        }
    }
    &:not(.expanded) .contributors {
        width: 200px;
    }
    .expand-contract {
        .bp3-icon {
            margin-right: 0;
        }
        .bp3-button-text {
            display: none;
        }
    }
}

.pub-details-component {
    position: relative;
    border-bottom: 1px solid #f0f0f7;
    display: flex;
    &.expanded {
        @include column;
        .contributors {
            flex-shrink: 0;
        }
    }
    .section {
        display: flex;
        align-items: center;
        margin-right: 66px;
        height: $header-height;
        h6 {
            margin: 0;
            margin-right: 10px;
            height: $header-height;
            display: flex;
            align-items: center;
            line-height: initial;
            color: #BCBCBC;
        }
    }
    .contributors {
        width: 300px;
    }
    .compact-contributors {
        & > *:not(:last-child):not(h6) {
            margin-right: 6px;
            flex-shrink: 0;
        }
    }
    .citation-and-doi {
        margin-bottom: 10px;
        span {
            display: flex;
            align-items: center;
        }
        .click-to-copy {
            margin-left: 3px;
            opacity: 0;
            transition: 50ms ease-out opacity;
        }
        &:hover {
            .click-to-copy {
                opacity: 1;
            }
        }
        .citation-body {
            margin-bottom: 5px;
        }
    }
    .expand-contract {
        position: absolute;
        top: 8px;
        right: 0;
    }
}