@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

#user-create-container {
	.container {
		padding: 2em 0em;
	}
	form {
		margin-top: 40px;
		font-size: 1.25em;
	}
	.#{$bp}-non-ideal-state {
		padding-top: 2em;
		.success p {
			font-size: 1em;
			line-height: 1.5;
			margin: 0px;
		}
	}
	.confirm-password {
		display: none !important;
	}
	.#{$bp}-button-group {
		display: block;
	}
	.#{$bp}-button.expandable .#{$bp}-icon:first-child:last-child {
		margin: 0px 5px 0px 0px;
	}
	.#{$bp}-callout {
		.#{$bp}-label {
			font-weight: bold;
		}
		.notice {
			font-size: 12px;
		}
	}
}
