.discussion-labels-component {
	// margin-top: -25px;
	margin-bottom: 2em;
	min-height: 1px;
	.bp3-minimal {
		cursor: pointer;
	}
	.bp3-fill {
		margin-bottom: 10px;
	}
	.bp3-menu-item {
		display: flex;
		align-items: center;
	}
	.label-title {
		flex-grow: 1;
		flex-shrink: 1;
	}
	.bp3-tag {
		margin: 0px 5px 5px 0px;
	}
	.color {
		height: 20px;
		width: 20px;
		margin-right: 10px;
		border-radius: 2px;
		.bp3-icon-tick {
			padding: 2px;
			&:before {
				color: white;
			}
		}
	}
	.bp3-icon-endorsed {
		margin-left: 10px;
		&:before {
			opacity: 0.25;
		}
		&.active {
			&:before {
				opacity: 0.75;
			}
		}
	}
}
