.dashboard-impact-container {
	section {
		margin-top: 50px;
	}
	.absolute-header {
		position: relative;
		z-index: 2;
		align-items: baseline;
		display: inline-block;
	}
	.warning-button {
		margin: 0px 5px 5px;
	}
	iframe.metabase {
		width: 100%;
		z-index: 1;
		position: relative;
	}
}

.impact-warning-tooltip {
	max-width: 400px;
	a,
	a:hover {
		color: inherit;
	}
}
