.discussion-preview-component {
	display: block;
	position: relative;
	padding: 1em;
	cursor: pointer;
	.bottom-border {
		position: absolute;
		bottom: -1px;
		width: calc(100% - 2em);
	}
	&:hover:not(:last-of-type) .bottom-border {
		border-bottom: 1px solid transparent;
	}
	&:not(:last-of-type) .bottom-border {
		border-bottom: 1px solid #F0F0F0;
	}
	&:hover {
		background-color: #F0F0F0;
		text-decoration: none;
	}
	.title {
		font-weight: bold;
		padding-bottom: 0.5em;
		.text {
			margin-right: 25px;
		}
		// span {
		// 	padding-left: 0.25em;
		// }
	}
	.pt-tag {
		margin-right: 5px;
		margin-top: 2px;
		font-size: 12px;
		font-weight: 400;
		padding: 0px 4px;
		// &:first-of-type {
		// 	margin-left: 25px;
		// }
	}
	.authors {
		/* These lines are just so we can simply remove this without mucking with other css class */
		margin-top: -0.5em; 
		padding-bottom: 0.5em;
		/* ------ */
		width: 100%;
		// font-style: italic;
		opacity: 0.75;
		font-size: 0.9em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

	}
	.icons {
		float: right;
		opacity: 0.5;
		span {
			padding-left: 0.25em;
		}

	}
	.discussion {
		margin: 0.25em 0em;
		&:not(:first-of-type) {
			padding-left: 28px;
		}
		.avatar-component {
			margin-right: 1em;
		}
		.text {
			vertical-align: middle;
			display: inline-block;
			width: calc(100% - 1em - 20px);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.more {
		padding-left: 28px;
		opacity: 0.75;
	}
}