.note-popover-component {
	color: black;
	background: white;
	font-size: 14px;
	max-width: 350px;
	padding: 10px;
	word-wrap: break-word;
	p:last-child {
		margin-bottom: 0;
	}

	[data-rtl='true'] {
		direction: rtl;
	}
}
