#pub-body {
	font-family: 'Lora', serif;
}

#pub-body h1, #pub-body h2, #pub-body h3, #pub-body h4, #pub-body h5, #pub-body h6, #pub-body p, #pub-body ul, #pub-body ol, #pub-body div.p-block {
	margin: 1em 0em;
}
#pub-body h1:nth-child(2), #pub-body h2:nth-child(2), #pub-body h3:nth-child(2), #pub-body h4:nth-child(2), #pub-body h5:nth-child(2), #pub-body h6:nth-child(2), #pub-body p:nth-child(2), #pub-body ul:nth-child(2), #pub-body ol:nth-child(2), #pub-body div:nth-child(2) {
	/* This makes the content (assuming there is no headerBlock displayed) flush with the top of the div*/
	margin-top: 0em;
}
#pub-body h1, #pub-body h2, #pub-body h3, #pub-body h4, #pub-body h5, #pub-body h6 {
	color: #222;
	font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif;
}
#pub-body h1 {
	font-size: 2em;
}
#pub-body h2 {
	font-size: 1.41421em;
}
#pub-body h3 {
	font-size: 1.25992em;
}
#pub-body h4 {
	font-size: 1.12246em;
}
#pub-body a {
	color: inherit;
}

#pub-body .headerBlock {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.7em;
	margin-bottom: 0.7em;
}

#pub-body .title{
	font-family: 'Lora', serif;
	text-align: left;
	font-size: 3.2em;
	padding: 0.7em 0px;
	font-weight: 700;
	line-height: 1.3em;
	color: #222;
	margin: 0;
}

#pub-body .author {
	display: inline-block;
	color: #222;
	font-size: 1.0em;
	padding: 0px;
	text-decoration: none;
	padding-right: 1em;
	vertical-align: top;
}
#pub-body a.author:hover {
	text-decoration: underline;
}

#pub-body #pub-dates {
	text-align: left;
	padding: 0px;
	color: #222;
}
#pub-body .abstract {
	text-align: left;
	color: #222;
	margin: 2em 0px;
	padding: 0px 0px;
	font-style: italic;
}
#pub-body .authorsNote {
	text-align: center;
	margin: 30px auto 0px auto;
	background-color: #EAEAEA;
	color: #666;
	padding: 10px 20px;
	width: 80%;
}
#pub-body #pub-header-divider {
	height: 1px;
	width: 100%;
	margin: 0 auto;
	background-color: #DDD;
}
#pub-body #pub-references {
	border-top: 1px solid #eee;
}
#pub-body .reference-content {
	font-size: 0.9em;
}
#pub-body .reference {
	margin: .5em;
}
#pub-body .reference-number {
	color: #222;
	padding-right: 10px;
	font-size: 1em;
}

#pub-body hr {
	background-color: #DDD;
	height: 1px;
	border: none;
}

#pub-body .p-block {
	font-size: 1.1em;
	line-height: 1.5em;
	color: #333;
}
#pub-body .codeBlock {
	background-color: #f0f0f0;
}
#pub-body pre .codeBlock {
	margin: 0px 20px;
	padding: 10px;
	background-color: #f0f0f0;
	display: block;
	border-radius: 1px;
	width: 88%;
	overflow-x: scroll;

}
#pub-body blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 5px solid #eee;
}
#pub-body ul, #pub-body ol {
	padding: 0px 3em 0px 3em;
	color: #333;
}
#pub-body span + li + span + li {
	padding-top: 0.7em
}
#pub-body table {
	border-spacing: 0px;
	border-collapse: collapse;
}
#pub-body td {
	border: 1px solid #ccc;
	padding: 0.3em;
}
#pub-body th {
	border: 1px solid #ccc;
	padding: 0.3em;
	background-color: #eee;
	color: #111;
}



/*PLUGIN STYLING*/

#pub-body .pub-plugin.pub-quote-wrapper {
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left: #DDD solid 1px;
	padding-left: 1em;
	text-align: left;
	font-style: italic;
}

#pub-body .pub-plugin.pub-quote-wrapper.pub-align-full {
	border-top: #DDD solid 1px;
	border-bottom: #DDD solid 1px;
	border-left: none;
	border-right: none;
	padding: 0px 1em;
	text-align: left;
	text-style: italic;
	background-color: #F9F9F9;

	width: 100%
}


.pub-sub-caption {
	font-size: 0.8em;
	color: #757575;
	text-align: left;
	white-space: normal;
	line-height: 1.4;
}

#pub-body .pub-quote {
	padding: 2.5% 7.5%;
}

.pagebreak {
	opacity: 0 !important;
	page-break-before: always !important;
}

.marking {
	background-color: rgba(124, 235, 124, 0.7);
}
.tempHighlight {
	background-color: rgba(200,200,200, 0.7);
}
.selection {
}
.selection-active {
	background-color: rgba(78, 164, 61, 0.4);
}
.selection-editor.selection-active {
	background-color: rgba(78, 61, 164, 0.6);
}
