#pageContent {
	color: #333;
	font-family: 'Helvetica', Serif;
	background-color: white;
}

#pageContent a{
	color: inherit;;
}


#pageContent .header {
	padding: 50px;
	text-align: center;
	font-family: 'Lora';
}

#pageContent .journalName {
	font-size: 5em;
}

#pageContent .description {
	font-size: 1.5em;
	padding: .5em 0;
}

#pageContent .searchBox {
	width: 600px;
	max-width: 80%;
	margin: 20px auto;
}

#pageContent .resultsWrapper {
	-moz-box-shadow: 0 0 0 1px #777;
	-webkit-box-shadow: 0 0 0 1px #777;
	box-shadow: 0 0 0 1px #777;
	margin: 0px 1px;
	text-align: left;
}

#pageContent .searchResult {
	padding: 15px 5px;
}
#pageContent .searchResult:hover {
	background-color: #F0F0F0;
}
#pageContent .searchResultLink {
	text-decoration: none;
}
#pageContent .searchResultTitle {
	font-family: 'Lato';
	font-size: 1.2em;
}
#pageContent .searchResultAbstract {
	padding-left: 5px;
}
#pageContent .noResults {
	text-align: center;
	padding: 10px 0px;
}

#pageContent .section {
	padding: 50px;
}

#pageContent .section:nth-child(even) {
	background-color: #F0F0F0;
}


#pageContent .pubList.pub {
	padding: 25px 0px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #ccc;
}
#pageContent .pubList.pub:hover {
	border-color: #888;
}
#pageContent .pubList.title {
	font-size: 1.5em;
	color: #444;
}
#pageContent .pubList.author {
	display: inline-block;
	color: #999;
	padding-right: 1em;
	font-size: 0.9em;
}
#pageContent .pubList.abstract {
	padding: 10px 0px;
	font-family: 'Lora';
}
#pageContent .pubList.createDate, #pageContent .pubList.lastUpdated, #pageContent .pubList.discussionCount {
	display: inline-block;
	color: #999;
	font-size: 0.9em;
}
#pageContent .pubList.createDate {
	display: none;
}
#pageContent .pubList.lastUpdated:before {
	content: "Latest Version: ";
}
#pageContent .pubList.lastUpdated:after {
	content: "|";
	padding-left: 1em;
}
#pageContent .pubList.discussionCount:before {
	content: "Discussions: ";
	padding-left: 1em;
}


#pageContent .collectionList.collectionButton {
	padding: 2px 10px;
	margin: 5px 0px;
	border: 1px solid #ccc;
}
#pageContent .collectionList.collectionButton:hover {
	border: 1px solid #777;
	cursor: pointer;
}

#pageContent .collectionList.collectionButton:active {
	transform: translateY(1px);
	-ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
}

#pageContent .collectionList.collectionTitle {
	margin: 10px 0px;
	font-size: 2em;
}

#pageContent .pubList.noPubsWrapper, #pageContent .collectionList.noCollectionsWrapper {
	margin: 0 auto;
    width: 60%;
    text-align: center;
    background-color: #CCC;
    border-radius: 1px;
    padding: 20px 0px;
}

#pageContent .pubList.noPubsText, #pageContent .collectionList.noCollectionsText {

}

#pageContent .footer {
	padding: 10px 50px ;
	background-color: #373737;
}

#pageContent .footer:after {
	content: "";
	display: table;
	clear: both;
}

#pageContent .footeritem {
	float: left;
	width: calc(100% / 3);
	text-align: center;
	color: #ddd;
}
