#pubContent #pub-wrapper{
	padding: 0px 6em 50px 4em;
	line-height: 1.58;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
	#pubContent #pub-wrapper{
		padding: 0px 1em 50px;
	}
}

#pubBodyContent {
	padding: 0px 0em;
}

#pubContent #pub-title {
	text-align: left;
	font-size: 2.6em;
	padding: 0.7em 0px;
	font-weight: 700;
	line-height: 1.3em;
	color: #222;
	font-family: 'Lora';
	margin: 0;
}
#pubContent #pub-authors {
	text-align: left;
	color: #222;
	font-size: 1.0em;
	padding: 0px;
	font-family: 'Lora';
	text-transform: capitalize;;
	font-weight: 700;
}
#pubContent .pub-author {
	color: #555;
}
#pubContent .pub-author:hover {
	color: #111;
}
#pubContent #pub-dates {
	text-align: left;
	padding: 0px;
	color: #222;
	font-family: 'Lora';
}
#pubContent #pub-abstract {
	text-align: left;
	color: #222;
	margin: 2em 0px;
	font-family: 'Lora';
	padding: 0px 0px;
	font-style: italic;
}
#pubContent #pub-authorsNote {
	text-align: center;
	margin: 30px auto 0px auto;
	background-color: #EAEAEA;
	color: #666;
	font-family: 'Lora';
	padding: 10px 20px;
	width: 80%;
}
#pubContent #pub-header-divider {
	height: 1px;
	width: 100%;
	margin: 0 auto;
	background-color: #DDD;
}
#pubContent #pub-references {
	margin-top: 1.5em;
	padding-top: 1.5em;
	border-top: 1px solid #eee;
}
#pubContent .pub-reference {
	padding: 0.5em 1.5em;
	font-size: 0.85em;
}

#pubContent hr {
	background-color: #DDD;
	height: 1px;
	border: none;
}

#pubContent .p-block {
	font-family: 'Lora';
	padding: 0.5em 0em;
	color: #333;
}
#pubContent .codeBlock {
	background-color: #f0f0f0;
}
#pubContent pre .codeBlock {
	margin: 0px 20px;
	padding: 10px;
	background-color: #f0f0f0;
	display: block;
	border-radius: 1px;
	width: 88%;
	overflow-x: scroll;

}
#pubContent blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 5px solid #eee;
}
#pubContent ul, #pubContent ol {
	font-family: 'Lora';
	padding: 0px 3em 0px 3em;
	color: #333;
}
#pubContent span + li + span + li {
	padding-top: 0.7em
}
#pubContent table {
	border-spacing: 0px;
	border-collapse: collapse;
}
#pubContent td {
	border: 1px solid #ccc;
	padding: 0.3em;
}
#pubContent th {
	border: 1px solid #ccc;
	padding: 0.3em;
	background-color: #eee;
	color: #111;
}
#pubContent h1, #pubContent h2, #pubContent h3, #pubContent h4, #pubContent h5, #pubContent h6 {
	color: #666;
}
#pubContent h1 {
	font-size: 2em;
}
#pubContent h2 {
	font-size: 1.41421em;
}
#pubContent h3 {
	font-size: 1.25992em;
}
#pubContent h4 {
	font-size: 1.12246em;
}
#pubContent a {
	color: inherit;
}


/*PLUGIN STYLING*/

#pubContent .pub-plugin.pub-quote-wrapper {
	border-top: none;
	border-bottom: none;
	border-right`: none;
	border-left: #DDD solid 1px;
	padding-left: 1em;
	text-align: left;
	font-style: italic;
}

#pubContent .pub-plugin.pub-quote-wrapper.pub-align-full {
	border-top: #DDD solid 1px;
	border-bottom: #DDD solid 1px;
	border-left: none;
	border-right: none;
	padding: 0px 1em;
	text-align: left;
	text-style: italic;
	background-color: #F9F9F9;

	width: 45vw !important;
	margin-left: calc(-1 * (45vw - 100%) / 2) !important;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}


#pubContent .pub-plugin.pub-img-wrapper.pub-align-full {
	width: 45vw !important;
	margin-left: calc(-1 * (45vw - 100%) / 2) !important;
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
}


@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
	#pubContent .pub-plugin.pub-quote-wrapper.pub-align-full {
		width: 100vw !important;
		margin-left: calc(-1 * (100vw - 100%) / 2) !important;
	}

	#pubContent .pub-plugin.pub-img-wrapper.pub-align-full {
		width: 90vw !important;
		margin-left: calc(-1 * (90vw - 100%) / 2) !important;
	}
}

.pub-sub-caption {
	font-size: 0.8em;
	color: #757575;
	text-align: left;
	white-space: normal;
	line-height: 1.4;
	display: block;
	margin-top: 0.5em;
}




#pubContent .pub-quote {
	padding: 2.5% 7.5%;
}
