#atom-reader {
	max-width: 650px;
	margin: 0 auto;
	font-family: serif;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #333;
}

#atom-reader.atom-reader-meta {
	font-family: inherit;
}

#atom-reader .headerBlock { /* This hides old markdown titles in case they're still there*/
	display: none;
}

/* Undo the header style set in pubpub.css*/
#atom-reader h1 {
	font-size: 2em;
	margin-top: 0.67em;
	letter-spacing: 0px;
}
#atom-reader h2 {
	font-size: 1.5em;
	margin-top: 0.83em;
}

#atom-reader h1, #atom-reader h2, #atom-reader h3, #atom-reader h4, #atom-reader h5, #atom-reader h6 {
	line-height:1em;
	font-family: 'Yrsa', Georgia, serif;
}

#atom-reader.atom-reader-meta h1, #atom-reader.atom-reader-meta h2, #atom-reader.atom-reader-meta h3, #atom-reader.atom-reader-meta h4, #atom-reader.atom-reader-meta h5, #atom-reader.atom-reader-meta h6 {
	font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif;
}

@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
	#atom-reader h1 {
		font-size: 2em;
	}
}

/* Set default paragraph margins on .p-block since we don't use <p> */
#atom-reader .p-block {
	margin: 1em 0em;
}

#atom-reader .atom-reader-header h1 {
	font-size: 2.5em;
	margin-top: .75em;
	margin-bottom: .25em;
	font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif;
	color: #222; 
}

#atom-reader .atom-reader-header p {
	margin: .5em 0em;
}


#atom-reader a {
	color: inherit;
}

#atom-reader .authorsNote {
	text-align: center;
	margin: 30px auto 0px auto;
	background-color: #EAEAEA;
	color: #666;
	padding: 10px 20px;
	width: 80%;
}

#atom-reader #pub-references {
	border-top: 1px solid #eee;
}
#atom-reader .reference-content {
	font-size: 0.9em;
}
#atom-reader .reference {
	margin: .5em;
}
#atom-reader .reference-number {
	color: #222;
	padding-right: 10px;
	font-size: 1em;
}

#atom-reader hr {
	background-color: #DDD;
	height: 1px;
	border: none;
}


#atom-reader .codeBlock {
	background-color: #f0f0f0;
}
#atom-reader pre .codeBlock {
	margin: 0px 20px;
	padding: 10px;
	background-color: #f0f0f0;
	display: block;
	border-radius: 1px;
	width: 88%;
	overflow-x: scroll;

}
#atom-reader blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 5px solid #eee;
}
#atom-reader ul, #atom-reader ol {
	padding: 0px 3em 0px 3em;
}
#atom-reader span + li + span + li {
	padding-top: 0.7em
}
#atom-reader table {
	border-spacing: 0px;
	border-collapse: collapse;
}
#atom-reader td {
	border: 1px solid #ccc;
	padding: 0.3em;
}
#atom-reader th {
	border: 1px solid #ccc;
	padding: 0.3em;
	background-color: #eee;
	color: #111;
}



/*PLUGIN STYLING*/

#atom-reader .pub-plugin.pub-quote-wrapper {
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left: #DDD solid 1px;
	padding-left: 1em;
	text-align: left;
	font-style: italic;
}

#atom-reader .pub-plugin.pub-quote-wrapper.pub-align-full {
	border-top: #DDD solid 1px;
	border-bottom: #DDD solid 1px;
	border-left: none;
	border-right: none;
	padding: 0px 1em;
	text-align: left;
	text-style: italic;
	background-color: #F9F9F9;

	width: 100%
}


.pub-sub-caption {
	font-size: 0.8em;
	color: #757575;
	text-align: left;
	white-space: normal;
	line-height: 1.4;
}

#atom-reader .pub-quote {
	padding: 2.5% 7.5%;
}

#atom-reader img {
	max-width: 100%;
}

.pagebreak {
	/*opacity: 0 !important;*/
	background: #F3F3F4;
	text-align: center;
	font-size: 0.75em;
	line-height: 2em;
	font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif;
	color: #808284;
	border-radius: 2px;
}

/*HIGHLIGHT STYLING*/

.marking {
	background-color: rgba(124, 235, 124, 0.7);
}
.tempHighlight {
	background-color: rgba(200,200,200, 0.7);
}
.selection {
}
.selection-active {
	background-color: rgba(78, 164, 61, 0.4);
}
.selection-editor.selection-active {
	background-color: rgba(78, 61, 164, 0.6);
}
