.onlineURL {
	display: none;
}

iframe {
	display: none !important;
}

table, figure, image, .reference, h1, h2, h3, h4, h5, h6 {
	page-break-inside: avoid !important;
}

.pagebreak {
	page-break-before: always !important;
}
