.onlineURL {
	display: none;
}

iframe {
	display: none !important;
}

table, figure, image, .reference, h1, h2, h3, h4, h5, h6 {
	page-break-inside: avoid !important;
}

.pagebreak {
	opacity: 0 !important;
	page-break-before: always !important;
}


blockquote {
	font-size: 1em !important;
}

h1, h2, h3, h4, h5, h6 {
	color: #222 !important;
}


table, figure, image, .reference, h1, h2, h3, h4, h5, h6 {
	page-break-inside: avoid !important;
}

.codeBlockPre{
	page-break-inside: avoid !important;
}