.onlineURL {
	display: none;
}


@media print {

	@page :first {
	   margin-top: 0;
		 margin-bottom: 0;
		 padding: 0cm 2.5cm!important;
	}

	body {
		margin-top: 2cm !important;
	}

}


.pagebreak {
	page-break-before: always !important;
}


@media print{
	* {
		transition: 0s linear all !important;
		-webkit-transition: 0s linear all !important;
	}
	body {
		overflow: visible !important;
		height: auto !important;
	}
	.header-bar,.publishedMsg, .login-container, .leftBar, .rightBar, .footer, .pubModals, .editorModals, .editorBodyNav, .editorPreviewNav, #editor-text-wrapper, #editor-discussions-wrapper, #style-editor-wrapper, #editorTopNav, #editorBottomNav, .reader-left {
		display: none !important;
	}
	.content {
		margin-top: 0px !important;
	}
	.reader-content {
		margin: 0 !important;
	}
	.editor-container {
		height: auto !important;
	}

	iframe {
		display: none;
	}

	.p-block {
	 orphans: 3;
	  windows: 3;
 	}

	.p-block span {
	 orphans: 3;
	  windows: 3;
 	}

	.onlineURL {
		display: block !important;
		font-size: 0.9em;
		color: #444;
	}

	/* print the URLs after a link */
	#pubContent a:not(.author):after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;}

	#editor-live-preview-wrapper {
		width: 100% !important;
		height: auto !important;
		overflow: hidden !important;
		padding: 0px !important;
		-ms-transform: translateX(0px) !important;
		-webkit-transform: translateX(0px) !important;
		transform: translateX(0px) !important;
		top: 0px !important;
		left: 0px !important;
		position: relative !important;
		display: block !important;
	}
	.pubScrollContainer {
		width: 100% !important;
		height: auto !important;
		overflow: hidden !important;
		position: relative !important;
		left: 0 !important;
		top: -30px !important;
		box-shadow: none !important;
	}
	#pubContent {
		overflow: hidden !important;
		font-size: 13px !important;
		padding: 0px !important;
	}
	.p-block div{
		page-break-inside: avoid !important;
	}

	.pagebreak {
		opacity: 0 !important;
		page-break-after: always !important;
	}

	table, figure, image, .reference, h1, h2, h3, h4, h5, h6 {
		page-break-inside: avoid !important;
	}

	.codeBlockPre{
		page-break-inside: avoid !important;
	}

}
