@media print{
	* {
		transition: none !important;
	}
	body {
		overflow: visible !important;
		height: auto !important;
	}
	.header-bar,.login-container, .leftBar, .rightBar, .pubModals, .editorModals, .editorBodyNav {
		display: none !important;
	}
	.content {
		margin-top: 0px !important;
	}
	.editor-container {
		height: auto !important;
	}
	#editor-live-preview-wrapper, .editorBodyView {
		width: 100% !important;
		height: auto !important;
		overflow: hidden !important;
		padding: 0px !important;
		transform: translateX(0%) !important;
		top: 0px !important;
		left: 0px !important;
		position: relative !important;
	}
	.centerBar {
		width: 100% !important;
		height: auto !important;
		overflow: hidden !important;
		position: relative !important;
		left: 0 !important;
		top: -30px !important;
		box-shadow: none !important
	}
	#pubContent: {
		overflow: hidden !important;
	}
	.pagebreak {
		opacity: 0 !important;
		page-break-after: always !important;
	}
	
	table, figure, image {
		page-break-inside: avoid !important;
	}

	.codeBlockPre{
		page-break-inside: avoid !important;
	}

}
