/*
darkest: #2C2A2B
darker: #363736
dark: #58585B
light: #808284
lighter: #BBBDC0
lightest: #F3F3F4
*/

.darkest-bg { background-color: #2C2A2B; }
.darkest-bg-hover:hover { background-color: #2C2A2B !important; }
.darkest-border-hover:hover { border-color: #2C2A2B !important; }
.darkest-color { color: #2C2A2B; }

.darker-bg { background-color: #363736; }
.darker-color { color: #363736; }
.darker-color-hover:hover { color: #363736 !important; }

.dark-bg { background-color: #58585B; }
.dark-bg-hover:hover { background-color: #58585B; }
.dark-color { color: #58585B; }

.light-bg { background-color: #808284; }
.light-color { color: #808284; }

.lighter-bg { background-color: #BBBDC0; }
.lighter-bg-hover:hover { background-color: #BBBDC0; }
.lighter-color { color: #BBBDC0; }

.lightest-bg { background-color: #F3F3F4; }
.lightest-bg-hover:hover { background-color: #F3F3F4; }
.lightest-color { color: #F3F3F4; }


/* Font Styles */
.title-font { font-family: 'Yrsa', Georgia, serif; }
.sans-font  { font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif; }
/*.serif-font { font-family: 'Palatino', serif; }*/
.serif-font { font-family: serif; }

body {
	font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif;
}
.underlineOnHover:hover {
	text-decoration: underline !important;
}

.borderOnHover {
	border: 1px solid transparent;
}
.borderOnHover:hover {
	border: 1px solid #808284;
}

.normalWeight {
	font-weight: normal;
}

.noMarginsHeader {
	margin: 0px;
}

.horizontalNavHover:hover {
	border-bottom: 2px solid #58585B !important;
	padding: 10px 10px 8px 10px !important;
}
@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
	.horizontalNavHover:hover {
		padding: .15em 2em .15em calc(.5em - 3px) !important;
		border-left: 3px solid #58585B !important;
		border-bottom: 0px solid #58585B !important;
	}
}

.verticalNavHover:hover {
	padding: .15em 2em .15em calc(.5em - 3px) !important;
	border-left: 3px solid #2C2A2B !important;
}

.opacity-on-hover:hover {
	opacity: 1 !important;
}

.showChildOnHover .hoverChild {
	/*display: none;*/
	opacity: 0;
	transition: .1s linear opacity;
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}

.showChildOnHover:hover .hoverChild {
	/*display: block;*/
	opacity: 1;
	pointer-events: auto;
	user-select: text;
	-webkit-user-select: text;
}

@media print {
	.hoverChild {
		opacity: 0 !important;
	}
}

.slideChildOnHover .slideChild {
	transform: translate3d(-100%,0,0);
	transition: .1s ease-in-out transform;
}
.slideChildOnHover:hover .slideChild {
	transform: translate3d(0%,0,0);
}
.dragIcon:before {
	content: '.';
	display: inline-block;
	color: #BBBDC0;
	width: .6em;
	padding: 0em .5em;
	text-shadow: 0 -5px #BBBDC0, 0 -10px #BBBDC0, 5px 0 #BBBDC0, 5px -5px #BBBDC0, 5px -10px #BBBDC0;
}

.firstChildNoTopMargin > div:first-of-type{
	margin-top: 0em !important;
}

.showOnActive {
	display: none;
}
.dropzone-active .showOnActive {
	display: block;
	position: fixed;
	z-index: 999999;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	line-height: 100vh;
	color: #BBBDC0;
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}

/* Input Fields */
/* ------------ */
label {
	display: block;
	color: #58585B;
}

input[type="text"], input[type="password"], textarea {
	display: block;
	padding: 5px 10px;
	border: 2px solid #BBBDC0;
	border-radius: 1px;
	font-size: 1.2em;
	margin-bottom: 1em;
	resize: vertical;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	outline: none;
	border: 2px solid #58585B;
}
input[type="file"] {
	display: block;
	padding: 5px 0px;
	border: 0;
	font-size: 1em;
	margin-bottom: 1.2em;
}

input[type="file"]:focus {
	outline: 2px solid #58585B;
}

.inputSubtext {
	font-size: 0.8em;
	text-decoration: none;
	position: relative;
	top: -1.4em;
}

.subtext {
	font-size: 0.8em;
}
/* ------------ */


/* headers */
/* ------------ */
h1 {
	font-size: 3.5em;
	margin-top: 0em;
	letter-spacing: -2px;
	line-height: 1em;
}
h2 {
	font-size: 2em;
	margin-top: 0em;
}
.section {
	padding: 3em 2em;
	margin: 0 auto;
	max-width: 1024px;
}
@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
	h1 {
		font-size: 3em;
	}
	.section {
		padding: 2em 1em;
	}
}
/* ------------ */


/* Account Menu */
/* ------------ */
.menu-option {
	width: calc(100% - 3em);
	text-decoration: none;
	color: inherit;
	display: block;
	padding: .2em 2em .2em 1em;
}
.menu-option:hover{
	background-color: #BBBDC0;
	cursor: pointer;
}
.menu-separator{
	width: 100%;
	height: 1px;
	background-color: #BBBDC0;
	margin: .2em 0em;
}
/* ------------ */




/* Buttons */
/* ------------ */
.button, .arrow-down-button {
	display: inline-block;
	border: solid 2px #58585B;
	color: #58585B;
	padding: .3em 1.8em;
	transition: .2s ease-out color, .2s ease-out background-color, .2s ease-out border;
	background-color: white;
	font-size: 1em;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
}

.arrow-down-button {
	position: relative;
}

.button:hover, .arrow-down-button:hover {
	border: solid 2px #2C2A2B;
	background-color: #2C2A2B;
	color: #FEFEFE;
}
.button:hover {
	cursor: pointer;
}

.button:active {
	-webkit-transform: translateY(1px);
	-ms-transform: translateY(1px);
    transform: translateY(1px);
}

.light-button {
	color: #808284;
	border-color: #BBBDC0;
}

.arrow-down-button .hoverChild {
	opacity: 0;
	transition: .1s linear opacity;
	pointer-events: none;
}

.arrow-down-button:hover .hoverChild {
	opacity: 1;
	pointer-events: auto;
	z-index: 1;
}

.arrow-down-button:after {
	content: '^';
	font-family: Courier;
	padding-right: .5em;
	line-height: 0.5em;
	transform: translateY(-25%) rotate(180deg);
	display: inline-block;
	font-size: 1.2em;
	position: absolute;
	right: .5em;
	top: calc(50% - .25em);
}

.arrow-down-button.no-arrow:after {
	content: none !important;
}

.arrow-down-child {
	position: absolute;
	left: -2px;
	top: calc(100% + 2px);
	min-width: calc(100% + 2px);
}

.arrow-down-child, .contrastbox {
	border: 1px solid #2C2A2B;
	color: #2C2A2B;
	background-color: #F3F3F4;
	text-align: left;
}

/* ------------ */





/* Arrow Box */
/* ------------ */
.arrow-box {
	border: 1px solid #808284;
}
.arrow-box:after, .arrow-box:before {
	bottom: 100%;
	right: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow-box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #808284;
	border-width: 10px;
	margin-right: 19px;
}
.arrow-box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #F3F3F4;
	border-width: 9px;
	margin-right: 20px;
}
/* ------------ */
/* Footer Links */
/* ------------ */
.footer a {
	text-decoration: none;
	color: inherit;
}

.footer a:hover {
	text-decoration: underline;
}
/* ------------ */
/* Feedback Widget Style */
/* --------------------- */
.contrast {
	background-image: none !important;
    padding: 0em 1em !important;
    background-color: #2C2A2B !important;
    color: #F3F3F4;
    font-family: 'Open Sans' !important;
}

@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
	#us_report_button {
		display: none;
	}
};


/* ------------ */
/* Editor */
/* ------------ */


/* ProseMirror CSS */


.ProseMirror {
  position: relative;
}

.ProseMirror-content {
  white-space: pre-wrap;
}

.ProseMirror-drop-target {
  position: absolute;
  width: 1px;
  background: #666;
  pointer-events: none;
}

.ProseMirror-content ul, .ProseMirror-content ol {
  padding-left: 30px;
  cursor: default;
}

.ProseMirror-content blockquote {
  padding-left: 1em;
  border-left: 3px solid #eee;
  margin-left: 0; margin-right: 0;
}

.ProseMirror-content pre {
  white-space: pre-wrap;
}

.ProseMirror-content li {
  position: relative;
  pointer-events: none; /* Don't do weird stuff with marker clicks */
}
.ProseMirror-content li > * {
  pointer-events: auto;
}

.ProseMirror-nodeselection :not(input)::selection {
	background: transparent;
 }
.ProseMirror-nodeselection :not(input)::-moz-selection {
	background: transparent;
}

/*
.ProseMirror-nodeselection input::selection {
	background: red;
 }
.ProseMirror-nodeselection input::-moz-selection {
	background: red;
}
*/


.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px; top: -2px; bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}


.ProseMirror-icon {
  display: inline-block;
  line-height: .8;
  vertical-align: -2px; /* Compensate for padding */
  padding: 2px 8px;
  cursor: pointer;
}

.ProseMirror-icon svg {
  fill: currentColor;
  height: 1em;
}

.ProseMirror-icon span {
  vertical-align: text-top;
}

.ProseMirror-textblock-dropdown {
  min-width: 3em;
}

.ProseMirror-menu {
  margin: 0 -4px;
  line-height: 1;
}

.ProseMirror-tooltip .ProseMirror-menu {
  width: -webkit-fit-content;
  width: fit-content;
  white-space: pre;
}

.ProseMirror-menuitem {
  margin-right: 3px;
  display: inline-block;
}

.ProseMirror-menuseparator {
  border-right: 1px solid #ddd;
  margin-right: 3px;
}

.ProseMirror-menu-dropdown, .ProseMirror-menu-dropdown-menu {
  font-size: 90%;
  white-space: nowrap;
}

.ProseMirror-menu-dropdown {
  padding: 1px 14px 1px 4px;
  display: inline-block;
  vertical-align: 1px;
  position: relative;
  cursor: pointer;
}

.ProseMirror-menu-dropdown:after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  opacity: .6;
  position: absolute;
  right: 2px;
  top: calc(50% - 2px);
}

.ProseMirror-menu-dropdown-menu, .ProseMirror-menu-submenu {
  position: absolute;
  background: white;
  color: #666;
  border: 1px solid #aaa;
  padding: 2px;
}

.ProseMirror-menu-dropdown-menu {
  z-index: 15;
  min-width: 6em;
}

.ProseMirror-menu-dropdown-item {
  cursor: pointer;
  padding: 2px 8px 2px 4px;
}

.ProseMirror-menu-dropdown-item:hover {
  background: #f2f2f2;
}

.ProseMirror-menu-submenu-wrap {
  position: relative;
  margin-right: -4px;
}

.ProseMirror-menu-submenu-label:after {
  content: "";
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid currentColor;
  opacity: .6;
  position: absolute;
  right: 4px;
  top: calc(50% - 4px);
}

.ProseMirror-menu-submenu {
  display: none;
  min-width: 4em;
  left: 100%;
  top: -3px;
}

.ProseMirror-menu-active {
  background: #eee;
  border-radius: 4px;
}

.ProseMirror-menu-active {
  background: #eee;
  border-radius: 4px;
}

.ProseMirror-menu-disabled {
  opacity: .3;
}

.ProseMirror-menu-submenu-wrap:hover .ProseMirror-menu-submenu, .ProseMirror-menu-submenu-wrap-active .ProseMirror-menu-submenu {
  display: block;
}

.ProseMirror-menubar {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
  min-height: 1em;
  color: #666;
  padding: 1px 6px;
  top: 0; left: 0; right: 0;
  border-bottom: 1px solid silver;
  background: white;
  z-index: 10;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}

.ProseMirror-prompt {
  background: white;
  padding: 2px 6px 2px 15px;
  border: 1px solid silver;
  position: absolute;
  border-radius: 3px;
  z-index: 11;
}

.ProseMirror-prompt h5 {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
  color: #444;
}

.ProseMirror-prompt input[type="text"],
.ProseMirror-prompt textarea {
  background: #eee;
  border: none;
  outline: none;
}

.ProseMirror-prompt input[type="text"] {
  padding: 0 4px;
}

.ProseMirror-prompt-close {
  position: absolute;
  left: 2px; top: 1px;
  color: #666;
  border: none; background: transparent; padding: 0;
}

.ProseMirror-prompt-close:after {
  content: "✕";
  font-size: 12px;
}

.ProseMirror-invalid {
  background: #ffc;
  border: 1px solid #cc7;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  min-width: 10em;
}

.ProseMirror-prompt-buttons {
  margin-top: 5px;
  display: none;
}



.ProseMirror-tooltip {
  position: absolute;
  display: none;
  box-sizing: border-box;
  -moz-box-sizing: border- box;
  overflow: hidden;

  -webkit-transition: width 0.4s ease-out, height 0.4s ease-out, left 0.4s ease-out, top 0.4s ease-out, opacity 0.2s;
  -moz-transition: width 0.4s ease-out, height 0.4s ease-out, left 0.4s ease-out, top 0.4s ease-out, opacity 0.2s;
  transition: width 0.4s ease-out, height 0.4s ease-out, left 0.4s ease-out, top 0.4s ease-out, opacity 0.2s;
  opacity: 0;

  border-radius: 5px;
  padding: 3px 7px;
  margin: 0;
  background: white;
  border: 1px solid #777;
  color: #555;

  z-index: 11;
}

.ProseMirror-tooltip-pointer {
  position: absolute;
  display: none;
  width: 0; height: 0;

  -webkit-transition: left 0.4s ease-out, top 0.4s ease-out, opacity 0.2s;
  -moz-transition: left 0.4s ease-out, top 0.4s ease-out, opacity 0.2s;
  transition: left 0.4s ease-out, top 0.4s ease-out, opacity 0.2s;
  opacity: 0;

  z-index: 12;
}

.ProseMirror-tooltip-pointer:after {
  content: "";
  position: absolute;
  display: block;
}

.ProseMirror-tooltip-pointer-above {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #777;
}

.ProseMirror-tooltip-pointer-above:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  left: -6px; top: -7px;
}

.ProseMirror-tooltip-pointer-below {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #777;
}

.ProseMirror-tooltip-pointer-below:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  left: -6px; top: 1px;
}

.ProseMirror-tooltip-pointer-right {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #777;
}

.ProseMirror-tooltip-pointer-right:after {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid white;
  left: 1px; top: -6px;
}

.ProseMirror-tooltip-pointer-left {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #777;
}

.ProseMirror-tooltip-pointer-left:after {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
  left: -7px; top: -6px;
}

.ProseMirror-tooltip input[type="text"],
.ProseMirror-tooltip textarea {
  background: #eee;
  border: none;
  outline: none;
}

.ProseMirror-tooltip input[type="text"] {
  padding: 0 4px;
}



.ProseMirror-tooltipmenu-linktext a {
  color: #444;
  text-decoration: none;
  padding: 0 5px;
}

.ProseMirror-tooltipmenu-linktext a:hover {
  text-decoration: underline;
}



.ProseMirror:after {
  display: table;
  clear: both;
  content: "";
}

.ProseMirror-menubar {
  z-index: 2;
  background-color: transparent;
}

.ProseMirror-content {
  outline: none;
  min-height: 600px;
  padding: 0em 0em 1em 0em;
}

.ProseMirror-quick-style .ProseMirror-content{
  padding: .5em 1em;
  min-height: 3em;
}

@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
  .ProseMirror-content {
    padding: 0em 0.5em 1em 0.5em;
  }
  .ProseMirror-quick-style .ProseMirror-content {
    padding: .5em;
  }
}

.ProseMirror-selectednode {
  outline: 2px solid #808284;
}

.ProseMirror-menubar {
  color: #808284;
  font-family: 'Open Sans';
  font-size: 0.85em;
  border: 0px solid black;
  height: 39px;
  padding: 0px 6px;
}

.ProseMirror-icon {
  line-height: inherit;
  display: block;
  height: 39px;
  line-height: 30px;
  padding: 0px 10px;
}

.ProseMirror-quick-style .ProseMirror-icon {
  height: auto;
  padding: 0em .5em;
}

.ProseMirror-icon svg {
  position: relative;
  top: 6px;
}

.ProseMirror-icon:hover {
  color: #222;
}

.ProseMirror-icon.ProseMirror-menu-active {
  background: transparent;
  color: black;
}

.ProseMirror-menu-dropdown:after {
  content: none;
}

.ProseMirror-menu-dropdown {
  display: block;
  padding: 2px 15px;
  height: 33px;
}
.ProseMirror-quick-style .ProseMirror-menu-dropdown {
  padding: 0em .5em;
  height: auto;
}

.ProseMirror-menu-dropdown-menu {
  font-family: 'Open Sans';
  font-size: 0.6em;
  margin-top: -4px;
}

.ProseMirror-menuseparator {
  margin: 0px 10px;
  position: relative;
  top: 5px;
}

.ProseMirror-tooltip, .ProseMirror-tooltip-pointer {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
}

.ProseMirror-quick-style .ProseMirror-menuseparator {
  top: 0px;
}

.ProseMirror-quick-style .ProseMirror-tooltip {
  height: 26px;
  font-size: 0.8em;
  line-height: 1.4em;
  border-radius: 1px;
  border: 1px solid #BBBDC0;
}

.ProseMirror-menubar {
  	border-top:  1px solid #e8e8e8;
   border-bottom:  1px solid #e8e8e8;
}

.ProseMirror-menubar-spacer + .ProseMirror-menubar {
    /*background-color: red !important;*/
		border-top: none;
		border-bottom: none;
    transform: translateX(-32px);
    background-color: white !important;
}

.ProseMirror-menubar {
   background-color: white !important;
    width: 714px;
    max-width: 750px;
    transform: translateX(-32px);
}

span.ProseMirror-menuitem {
    display: inline-block;
}

span.ProseMirror-menuseparator {
    height: 100%;
    display: inline-block;
    top: 0px;
    margin: 0px;

}

.ProseMirror-menubar-wrapper {
    position: relative;
    /* left: -100px; */
}

.ProseMirror-menubar {
    font-size: 13px;
}

span.ProseMirror-menuitem {
    vertical-align: top;
    border-radius: 1px;
    height: 29px;
    margin: 4px 4px 0px 4px;
}

span.ProseMirror-menuitem:hover {
    background-color: #F3F3F4;
    color: #2C2A2B;
     box-shadow: rgb(128, 130, 132) 0px 0px 2px;
}

.ProseMirror-menuitem > div[title] {
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px 10px;
}


.ProseMirror-menuitem > div[title].ProseMirror-icon {
    padding: 4px 10px;
}

span.ProseMirror-menuseparator {
    margin: 0px 5px;
}

.ProseMirror-menu-dropdown-wrap {
    height: 100%;
    line-height: 25px;
    text-align: middle;
}

.ProseMirror-menu-dropdown:after {
	content: '';
    position: relative;
    top: 12px;
    left: 5px;
}

.ProseMirror-menu-dropdown-menu, .ProseMirror-menu-submenu {
	border-color:#e8e8e8;
	font-size: 11px;
	color:#808284;
}

.ProseMirror-menu-submenu {
	margin-left: 6px;
}


.ProseMirror-menu-dropdown:after {
	content: '';
    position: relative;
    top: 12px;
    left: 5px;
}

.ProseMirror-menu-dropdown-item:hover {
	color: #222
}

.ProseMirror-menubar-spacer + .ProseMirror-menubar .ProseMirror-menu-dropdown-menu {
   margin-top: -3px;
}

.arrow_box {
	position: relative;
	background: #F3F3F4;
	border: 1px solid #808284;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(243, 243, 244, 0);
	border-bottom-color: #F3F3F4;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #BBBDC0;
	border-width: 11px;
	margin-left: -11px;
}

.contrastbox.arrow_box {
	filter:drop-shadow(0px 0px 2px #BBBDC0);
}

.popup-appear.popup-appear-active  {
	animation: popupKeyframe 180ms forwards ease-in;
}

.popup-appear  {
	opacity: 0;
}

/*
.ProseMirror-menubar * {
	position: relative;
	left: 30px;
}
*/

/*
SVG ICONS
*/

svg.icon {
	display: block;
}

svg.icon {
	color: #2C2A2B;
}

svg.icon:hover {
	color: #BBBDC0;
}
