/*
darkest: #2C2A2B
darker: #363736
dark: #58585B
light: #808284
lighter: #BBBDC0
lightest: #F3F3F4
*/

.darkest-bg { background-color: #2C2A2B; }
.darkest-color { color: #2C2A2B; }

.darker-bg { background-color: #363736; }
.darker-color { color: #363736; }

.dark-bg { background-color: #58585B; }
.dark-color { color: #58585B; }

.light-bg { background-color: #808284; }
.light-color { color: #808284; }

.lighter-bg { background-color: #BBBDC0; }
.lighter-bg-hover:hover { background-color: #BBBDC0; }
.lighter-color { color: #BBBDC0; }

.lightest-bg { background-color: #F3F3F4; }
.lightest-bg-hover:hover { background-color: #F3F3F4; }
.lightest-color { color: #F3F3F4; }


/* Font Styles */
.title-font { font-family: 'Yrsa', Georgia, serif; }
.sans-font  { font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif; }
/*.serif-font { font-family: 'Palatino', serif; }*/
.serif-font { font-family: serif; }

body {
	font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif;
}
.underlineOnHover:hover {
	text-decoration: underline !important;
}

.horizontalNavHover:hover {
	border-bottom: 2px solid #2C2A2B !important;
	padding: 10px 10px 8px 10px !important;
}
.verticalNavHover:hover {
	padding: .15em 2em .15em calc(.5em - 3px) !important;
	border-left: 3px solid #2C2A2B !important;
}

.opacity-on-hover:hover {
	opacity: 1 !important;
}

.showChildOnHover .hoverChild {
	/*display: none;*/
	opacity: 0;
	transition: .1s linear opacity;
	pointer-events: none;
}

.showChildOnHover:hover .hoverChild {
	/*display: block;*/
	opacity: 1;
	pointer-events: auto;
}

.slideChildOnHover .slideChild {
	transform: translate3d(-100%,0,0);
	transition: .1s ease-in-out transform;
}
.slideChildOnHover:hover .slideChild {
	transform: translate3d(0%,0,0);
}
.dragIcon:before {
	content: '.';
	display: inline-block;
	color: #BBBDC0;
	width: .6em;
	padding: 0em .5em;
	text-shadow: 0 -5px #BBBDC0, 0 -10px #BBBDC0, 5px 0 #BBBDC0, 5px -5px #BBBDC0, 5px -10px #BBBDC0;
}

.firstChildNoTopMargin > div:first-child{
	margin-top: 0em !important;
}

/* Input Fields */
/* ------------ */
label {
	display: block;	
	color: #58585B;
}

input[type="text"], input[type="password"], textarea {
	display: block;	
	padding: 5px 10px;
	border: 2px solid #BBBDC0;
	border-radius: 1px;
	font-size: 1.2em;
	margin-bottom: 1em;
	resize: vertical;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	outline: none;
	border: 2px solid #58585B;
}
input[type="file"] {
	display: block;
	padding: 5px 0px;
	border: 0;
	font-size: 1em;
	margin-bottom: 1.2em;
}

input[type="file"]:focus {
	outline: 2px solid #58585B;
}

.inputSubtext {
	font-size: 0.8em;
	text-decoration: none;
	position: relative;
	top: -1.7em;
}
/* ------------ */


/* headers */
/* ------------ */
h1 {
	font-size: 3.5em;
	margin-top: 0em;
	letter-spacing: -2px;
	line-height: 1em;
}
h2 {
	font-size: 2em;
	margin-top: 0em;
}
.section {
	padding: 3em 2em;
	margin: 0 auto;
	max-width: 1024px;
}
@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
	h1 {
		font-size: 3em;
	}
	.section {
		padding: 2em 1em;
	}
}
/* ------------ */


/* Account Menu */
/* ------------ */
.menu-option {
	width: calc(100% - 3em);
	text-decoration: none;
	color: inherit;
	display: block;
	padding: .2em 2em .2em 1em;
}
.menu-option:hover{
	background-color: #BBBDC0;
	cursor: pointer;
}
.menu-separator{
	width: 100%;
	height: 1px;
	background-color: #BBBDC0;
	margin: .2em 0em;
}
/* ------------ */




/* Buttons */
/* ------------ */
.button {
	display: inline-block;
	border: solid 2px #58585B;
	color: #58585B;
	padding: .3em 1.8em;
	transition: .2s ease-out color, .2s ease-out background-color, .2s ease-out border;
	background-color: white;
	font-size: 1em;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;   
	user-select: none;
	text-decoration: none;
}

.button:hover {
	border: solid 2px #2C2A2B;
	background-color: #2C2A2B;
	color: #FEFEFE;
	cursor: pointer;
}

.button:active {
	-webkit-transform: translateY(1px);
	-ms-transform: translateY(1px);
    transform: translateY(1px);
}
/* ------------ */


/* Arrow Box */
/* ------------ */
.arrow-box {
	border: 1px solid #808284;
}
.arrow-box:after, .arrow-box:before {
	bottom: 100%;
	right: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow-box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #808284;
	border-width: 10px;
	margin-right: 19px;
}
.arrow-box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #F3F3F4;
	border-width: 9px;
	margin-right: 20px;
}
/* ------------ */


/* Footer Links */
/* ------------ */
.footer a {
	text-decoration: none;
	color: inherit;
}

.footer a:hover {
	text-decoration: underline;
}
/* ------------ */
