.pub-side-controls-component {
	z-index: 18;
	.content-wrapper {
		background: #f7f7f9;
		padding: 1em;
		box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
			0 1px 1px rgba(16, 22, 26, 0.2);
		border-radius: 2px;
		.options-title {
			font-weight: 600;
			background: #f0f0f2;
			position: relative;
			top: -1em;
			left: -1em;
			width: calc(100% + 2em);
			padding: 0.5em 1em;
			border-bottom: 1px solid #ddd;
			text-align: center;
		}
		.form-label {
			display: block;
			font-weight: 600;
			margin-bottom: 0.5em;
			&:not(.first) {
				padding-top: 1em;
				margin-top: 1em;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					width: calc(100% + 2em);
					top: 0;
					left: -1em;
					height: 1px;
					background-color: #ddd;
					display: block;
				}
			}
		}
		.simple-editor-wrapper {
			border-radius: 3px;
			box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0),
				inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
			padding: 0.5em;
			background: white;
		}
		.file-select {
			margin-top: 1em;
			display: block;
			input.file-input {
				display: none;
			}
		}
		.source-url {
			text-overflow: ellipsis;
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}
