#community-services-container {
	background-repeat: repeat;
	background-position: center center;
	background-color: #f9fafb;
	background-image: url('/static/loginbg.png');
	padding-bottom: 2em;
	// .content {
	// 	max-width: 800px;
	// margin: 0 auto;
	// }
	h1 {
		margin: 1em 0em 0em;
	}
	h2 {
		margin-top: 3em;
		margin-bottom: 0em;
	}
	p {
		margin: 1.5em 0;
		font-size: 16px;
	}
	.title {
		font-weight: 600;
		font-size: 16px;
		margin: 40px 0px 10px;
		&:first-of-type {
			margin-top: 0px;
		}
	}
	.option-form {
		background: #fff;
		box-shadow: 0 0 0 1px rgba(16,22,26,.1),0 1px 1px rgba(16,22,26,.2),0 2px 6px rgba(16,22,26,.2);
		padding: 20px;
		.success-row {
			display: flex;
			margin-top: 40px;
		}
		.tag-wrapper {
			display: flex;
			align-items: center;
		}
		.button {
			margin-right: 15px;
		}
	}
	.grid-wrapper {
		margin: 50px 0px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 50px;
		font-size: 16px;
	}
	.example-img {
		width: 100%;
	}
	.example-title {
		font-weight: 600;
	}
	.testimonials {
		margin: 25px 0px;
	}
	.testimonial {
		margin-bottom: 75px;
		&:nth-child(odd) {
			padding-right: 100px;
		}
		&:nth-child(even) {
			padding-left: 100px;
		}
	}
	.testimonial-quote {
		font-size: 16px;
	}
	.testimonial-source {
		font-size: 16px;
		font-weight: 700;
		margin-top: 5px;
	}
}

@media only screen and (max-width: 720px) {
	#community-services-container {
		.examples {
			grid-template-columns: 1fr;
		}
		.testimonial {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
	}
}
