@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.label-filter-component {
	min-width: 250px;
	.action-button {
		float: right;
	}
	.#{$bp}-menu-header {
		margin-bottom: 15px;
	}
	.#{$bp}-fill {
		margin-bottom: 10px;
	}
	li {
		list-style-type: none;
	}
	.labels {
		margin-top: 4px;
		margin-bottom: 10px;
	}
	.label {
		display: flex;
		align-items: center;
		padding: 6px;
		&.edit {
			margin-bottom: 10px;
		}
		&:hover {
			cursor: pointer;
			background: #eee;
		}
	}
	.color {
		height: 16px;
		width: 16px;
		border-radius: 2px;
		margin-right: 5px;
		// display: inline-block;
		// vertical-align: middle;
		&.edit {
			height: 30px;
			width: 30px;
			margin-right: 10px;
		}
		.#{$bp}-icon-small-tick {
			&:before {
				color: white;
			}
		}
	}
	.title,
	.#{$bp}-input {
		// vertical-align: middle;
		flex-grow: 1;
		flex-shrink: 1;
	}
	.empty {
		pointer-events: none;
		opacity: 0.75;
	}
	.#{$bp}-icon-endorsed {
		&:before {
			opacity: 0.25;
		}
		&.active {
			&:before {
				opacity: 0.75;
			}
		}
	}
}
.#{$bp}-popover.color-select-popover {
	.color-select-menu {
		width: 150px;
		min-width: 150px;
		.color-select {
			display: inline-block;
			width: 25px;
			height: 25px;
			border-radius: 4px;
			margin: 5px;
			cursor: pointer;
			border: 2px solid white;
			&:hover {
				border-color: transparent;
			}
		}
	}
	.#{$bp}-popover-arrow {
		display: block;
	}
}
