@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.breadcrumbs-component {
	z-index: 10;
	background: #fff;
	.breadcrumbs-content {
		display: flex;
		align-items: center;
	}
	.avatar-component {
		flex: 0 0 auto;
		margin-right: 15px;
	}
	.titles {
		flex: 1 1 auto;
		overflow: hidden;
	}
	.title {
		font-size: 24px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 1px;
		letter-spacing: 0.6px;
		display: flex;
		align-items: center;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		.lock-icon {
			margin-left: 5px;
		}
	}
	.crumbs {
		display: flex;
		align-items: center;
		padding-top: 2px;
		padding-left: 1px;
		.crumb {
			display: block;
			text-decoration: none;
			font-size: 12px;
			color: #444;
			white-space: nowrap;
			overflow: hidden;
			display: flex;
			align-items: baseline;
			.#{$bp}-icon {
				margin-right: 5px;
				opacity: 0.5;
			}
			&.capitalize {
				text-transform: capitalize;
			}

			&.truncate {
				min-width: 0;
				.bottom-text {
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			&.no-shrink {
				flex: 0 0 auto;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.crumb-icon {
			opacity: 0.4;
			padding: 0em 8px;
		}
	}
	.breadcrumb-actions {
		flex: 0 0 auto;
		.#{$bp}-button {
			margin-left: 15px;
		}
	}
}
