.pub-options-versions-component {
	.version-sections {
		display: flex;
		flex-wrap: wrap-reverse;
		width: 100%;
		.section {
			flex-grow: 1;
			flex-shrink: 1;
			margin-bottom: 2em;
			.title {
				font-weight: bold;
				font-size: 16px;
			}
			.bp3-menu-item {
				position: relative;
				left: -12px;
			}
			.bp3-icon {
				margin-left: 0.5em;
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	.pub-options-versions-component {
		.version-sections {
			.section {
				width: 100%;
			}
		}
	}
}
