.collection {
	padding: 2em 0em;
	.create-pub-wrapper {
		float: right;
		text-align: right;
		margin-bottom: 2em;
		.instructions-link {
			display: block;
			opacity: 0.85;
			padding-top: 0.25em;
		}
	}
	
	.pub-preview {
		margin-bottom: 2em;
	}
	.pt-non-ideal-state {
		padding: 8em 0em 16em;
	}
	.description {
		max-width: 800px;
		line-height: 1.4;
	}
	.layout {
		a {
			text-decoration: underline;
		}
	}
}