.collection {
	padding: 2em 0em;
	.create-pub-button {
		float: right;
	}
	.pub-preview {
		margin-bottom: 2em;
	}
	.pt-non-ideal-state {
		padding: 8em 0em 16em;
	}
	.description {
		max-width: 800px;
		line-height: 1.4;
	}
}