.collection {
	padding: 2em 0em;
	.create-pub-wrapper {
		float: right;
		text-align: right;
		margin-bottom: 2em;
		.instructions-link {
			display: block;
			opacity: 0.85;
			padding-top: 0.25em;
		}
	}
	
	.pub-preview {
		margin-bottom: 2em;
	}
	.pt-non-ideal-state {
		padding: 8em 0em 16em;
	}
	.description {
		max-width: 800px;
		line-height: 1.4;
	}
	.layout {
		a {
			text-decoration: underline;
		}
	}
	.working-drafts-wrapper {
		margin: 2em 0em;
		.working-drafts-header {
			opacity: 0.85;
			border-top: 1px solid #EEE;
			border-bottom: 1px solid #EEE;
			text-align: center;
			padding: 2em 0em;
			background-color: #F9F9F9;
		}
		.pub-preview {
			margin-bottom: 0em;
			min-height: auto;
		}
	}
}