.discussion-input {
	$border-color: #CCC;
	border: 1px solid $border-color;
	.title-input {
		padding: 0.25em 0.5em;
		border-bottom: 1px solid $border-color;
	}
	.input {
		width: 100%;
		display: block;
		resize: vertical;
		padding: 0.5em;
		border: 0px solid black;
		border-bottom: 1px solid $border-color;
		min-height: 100px;
	}
	.buttons {
		padding: 0.25em;
		display: flex;
		white-space: nowrap;
	}
	.buttons-left {
		flex-grow: 1;
		flex-shrink: 1;	
		min-width: 0px;
	}
	.buttons-right {
		background-color: white;
	}
	.pt-intent-primary {
		margin-left: 0.25em;
	}
	.right {
		float: right;
	}
}