@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.nav-bar-component {
	height: 40px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	.dropdown {
		display: inline-flex;
	}
	a,
	.dropdown {
		margin-right: 2em;
		align-items: center;
		height: 40px;
		user-select: none;
		cursor: pointer;
		text-decoration: none;
		&:hover,
		&:focus {
			.title {
				text-decoration: underline;
			}
		}
		&:focus {
			.title {
				text-decoration-style: dotted;
			}
		}
	}
	.row [class^='col'] {
		margin-top: 0em;
		margin-bottom: 0em;
	}
	.col-12 {
		display: flex;
		justify-content: space-between;
	}
	.scrollable-nav {
		width: 100%;
		position: relative;
		line-height: 40px;
		overflow-x: scroll;
		.overflow-gradient {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;

			@media only screen and (min-width: 1200px) {
				display: none;
			}
		}
	}
	ul.nav-list {
		display: flex;
		white-space: nowrap;
		list-style: none;
		margin: 0px;
		padding: 0px;
		height: 90px;
		overflow-y: hidden;
		width: 100%;
	}
	ul.social-list {
		list-style: none;
		margin: 0px;
		padding: 0px;
		height: 90px;
		line-height: 40px;
		white-space: nowrap;
		li {
			// margin: 0em 0.5em;
			display: inline-flex;
			margin: 0em 0em 0em 1em;
			&:first-of-type {
				margin-left: 1em;
			}
			// &:last-of-type {
			// 	margin-right: 0em;
			// }
			a {
				display: inline;
				margin-right: 0;
			}
		}
	}
	li {
		text-transform: uppercase;
		text-decoration: inherit;
		display: inline-flex;
		// font-weight: 500;
		.#{$bp}-icon {
			font-size: 14px;
			margin-left: 0.25em;
			position: relative;
			top: -2px;
		}
	}
	.external-icon {
		opacity: 0.7;
		padding-left: 5px;
	}
}
.nav-bar-popover {
	.#{$bp}-icon-lock2 {
		font-size: 14px;
		padding-right: 0.15em;
		position: relative;
		top: -1px;
	}
	.#{$bp}-icon-share {
		padding: 3px;
		opacity: 0.7;
	}
}

@media print {
	.nav-bar-component {
		display: none;
	}
}
