@use 'styles/vendor.scss';

.input-field-component {
	textarea {
		min-height: 56px;
		resize: vertical;
	}
	&.#{vendor.bp-namespace}-form-group label.#{vendor.bp-namespace}-label {
		margin-bottom: 0px;
	}
	.color-input-component {
		margin-top: 5px;
	}
}
