@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.input-field-component {
	textarea {
		min-height: 56px;
		resize: vertical;
	}
	&.#{$bp}-form-group label.#{$bp}-label {
		margin-bottom: 0px;
	}
	.color-input-component {
		margin-top: 5px;
	}
}
