
.dashboard-collections-component {
	.top-controls {
		padding-bottom: 2em;
		.top-controls-cards {
			display: flex;
			.top-controls-card {
				padding: 10px;
				width: 25%;
				h6 {
					display: flex;
					align-items: center;
					.bp3-icon {
						margin-right: 5px;
					}
				}
				&:not(:first-child) {
					margin-left: 5px;
				}
				&:not(:last-child) {
					margin-right: 5px;
				}
				&:hover {
					cursor: pointer;
					background: #F5F5F5;
					.bp3-icon {
						transform: rotate(-5deg);
					}
				}
			}
		}
	}
	.add-collection-input {
		flex-grow: 1;
	}
	.error {
		color: #c23030;
	}
	.collection-group:not(:last-child) {
		margin-bottom: 2em;
	}
	.collection-wrapper {
		display: flex;
		align-items: center;
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid #ccc;
		.title {
			flex-grow: 1;
			flex-shrink: 1;
			display: flex;
			.bp3-editable-text-content {
				padding-right: 2em;
				height: 18px !important;
				line-height: 18px !important;
			}
			.bp3-editable-text-input {
				height: 18px !important;
				line-height: 18px !important;
			}
		}
		.bp3-checkbox {
			margin: 0px 2em 0px;
		}
	}
}