.dashboard-collections-component {
	.top-controls {
		.top-controls-cards {
			display: flex;
			.top-controls-card {
				padding: 10px;
				width: 25%;
				h6 {
					display: flex;
					align-items: center;
					.bp3-icon {
						margin-right: 5px;
					}
				}
				&:not(:first-child) {
					margin-left: 5px;
				}
				&:not(:last-child) {
					margin-right: 5px;
				}
				&:hover {
					cursor: pointer;
					background: #F5F5F5;
					.bp3-icon {
						transform: rotate(-5deg);
					}
				}
			}
		}
		.search-and-filter {
			width: 100%;
			display: flex;
			margin-top: 1.5em;
			margin-bottom: 1.5em;
			.search-bar {
				flex-grow: 1;
			}
		}
	}
	.empty-state {
		margin-top: 100px;
	}
	.collections {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(3, 1fr);
		text-align:center;
		@media screen and (max-width: 800px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: 400px) {
			grid-template-columns: 1fr;
		}
	}
	.collection-tile {
		display: inline-block;
		height: 120px;
		align-items: center;
		overflow: hidden;
		padding: 0;
		background: linear-gradient(
			to bottom,
			#fff,
			#fff 50%,
			#eee 50%,
			#eee
		);
		background-size: 100% 1.5px;
		.inner {
			display: flex;
			position: relative;
			flex-direction: row;
			height: 96%;
			width: 100%;
			border-bottom: 1px solid #DDD;
			.binding {
				width: 16px;
				flex-shrink: 0;
				height: 100%;
			}
			.contents {
				height: 100%;
				width: calc(100% - 16px);
				flex-direction: column;
				background: white;
				font-size: 1.3em;
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				padding: 10px;
				padding-bottom: 4px;
				justify-content: flex-start;
				.title {
					text-align: left;
					display: block;
					flex-grow: 1;
					text-decoration: none;
					overflow: hidden;
					/* cut off at three lines of text*/
					max-height: 4em;
					&:hover {
						text-decoration: underline;
					}
				}
				.info-container {
					width: 100%;
					display: flex;
					align-items: center;
					margin-top: auto;
					.info-label {
						font-size: 12px;
						text-align: center;
						margin-right: 10px;
						flex-shrink: 0;
						align-items: center;
						color: #BBB;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						.bp3-icon {
							margin-right: 2px;
							margin-top: -2px;
						}
						&.shrinks {
							flex-shrink: 1;
						}
					}
					.more-options-menu {
						margin-left: auto;
						margin-right: -5px;
						.bp3-icon {
							color: #BBB;
						}
					}
				}
			}
		}
	}
}

.new-collection-card-overlay {
	.bp3-input-group {
		display: flex;
		align-items: center;
	}
}