.pub-options-social-component {
	.bp3-button {
		width: 45%;
		margin: 20px 0px;
		.bp3-icon:first-child:last-child {
			margin: 0px 5px 0px 0px;
		}
		&:nth-child(odd) {
			margin-right: 10%;
		}
	}
}
