.landing {
	.container {
		padding-top: 20px;
	}
	h1, h2 {
		font-size: 45px;
		font-weight: 700;
		line-height: 1.4;
		text-align: center;
		margin: 20px 0px;
	}
	h2 {
		font-size: 30px;
	}
	.subtitle {
		color: #555;
		font-weight: 300;
		text-align: center;
		font-size: 24px;
		padding: 0;
		margin-bottom: 35px;
		line-height: 1.4;
	}
	.action {
		text-align: center;
	}
	.image-wrapper {
		margin: 60px 0px;
		position: relative;
		img {
			&:first-of-type {
				position: relative;
			}
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			animation: crossfade 32s 0s infinite;
			backface-visibility: hidden;
			background-blend-mode: darken;
			&:nth-child(2)  { 
				animation-delay: 8s;
			}
			&:nth-child(3) { 
				animation-delay: 16s;
			}
			&:nth-child(4) { 
				animation-delay: 24s;
			}
		}
	}
}

@keyframes crossfade{
  	0%{
    	opacity: 1;
	}
	15% {
		opacity:1;
	}
	25%{
		opacity: 0;
	}
	90% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}