.file-upload-button-component {
	display: block;
	.upload-button {
		position: relative;
		label {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			cursor: pointer;
		}
	}
	input.file-input {
		display: none;
	}
}