.pub-header-component {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #F8F8F8;
	border-bottom: 1px solid #D2D2D2;
	position: relative;
	z-index: 1;
	.wrapper {
		padding-bottom: 40px;
		&.dim {
			background-color: rgba(0, 0, 0, 0.5);
			text-shadow: 0px 0px 2px black;
			.bp3-tag {
			    background-color: rgba(255,255,255,0.3)
			}
			a:not(.bp3-button), .bp3-tag, .bp3-icon-standard:before, .bp3-button:before, .bp3-breadcrumb, .bp3-breadcrumbs li:after {
				color: white;
			}
			a.bp3-button {
				text-shadow: 0px 0px 0px transparent;
			}
			.bp3-editable-text {
				&:hover:before {
					box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 0 rgb(255, 255, 255), inset 0 0 0 1px rgba(247, 252, 255, 0.54);
					background-color: transparent;
				}
				&.bp3-editable-text-editing:before {
					box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 0 rgb(255, 255, 255), inset 0 0 0 1px rgba(247, 252, 255, 0.54);
					background-color: rgba(0, 0, 0, 0.35);
				}
				&.bp3-editable-text-placeholder > .bp3-editable-text-content, ::placeholder {
					color: inherit;
					opacity: 0.75;
				}
			}
		}
	}
	.tags-buttons-wrapper {
		display: flex;
		align-items: flex-start;
		padding-top: 5px;
		.tags {
			flex-shrink: 1;
			a:hover {
				text-decoration: none;
			}
			.bp3-tag {
				margin: 6px 6px 0px 0px;
			}
		}
		.buttons {
			flex-grow: 1;
			text-align: right;
			position: relative;
			right: -10px;
		}
		button {
			margin-left: 1em;
		}
	}

	h1 {
		color: inherit;
		line-height: 1;
		margin: 0;
		padding: 50px 0px 10px;
		font-weight: 800;
		letter-spacing: 1px;
		.editable-text-match {
			/* This padding is to match the mystery 3 pixels added by EditableText */
			display: block;
			padding-bottom: 3px;
		}
	}
	h2 {
		color: inherit;
		font-weight: 800;
		letter-spacing: 1px;
		margin-bottom: 25px;
		line-height: 1;
		font-size: 1.5em;
	}
	.description {
		padding-bottom: 30px;
		font-size: 1.3em;
		line-height: 1.3;
		font-weight: 200;
	}
	.authors {
		font-size: 1.1em;
		font-style: italic;
		font-weight: 200;
	}
	.details {
		
		font-style: italic;
		font-weight: 200;

		padding-top: 10px;
		.bp3-icon-standard {
			padding-right: 0.5em;
		}
		.detail-button {
			margin-right: 2em;
			display: inline-block;
			&:not(:last-of-type):after {
				content: "";
				position: relative;
				left: 1em;
				top: -.25em;
				pointer-events: none;
				width: 2px;
				height: 2px;
				background: white;
				display: inline-block;
				border-radius: 2px;
			}
		}
		.versions {
			.bp3-icon:first-child {
				margin-top: -5px;
				margin-right: 3px;
			}
			.bp3-icon:not(:first-child) {
				opacity: 0.6;
				margin-left: 3px;
			}
		}
	}
	&.mode {
		.buttons, .details, .authors, .description {
			display: none;
		}
		.wrapper {
			margin-bottom: 0px;
			padding-bottom: 10px;
		}
		h1 {
			padding: 20px 0px;
		}
		.bp3-breadcrumb {
			text-transform: capitalize;
		}
	}
}

.versions-popover {
	color: red;
	.bp3-icon {
		margin-top: 0px;
		margin-left: 5px;	
	}
}
@media only screen and (max-width: 720px) {
	.pub-header-component {
		.tags-buttons-wrapper {
			.buttons {
				display: none;
			}
		}
	}
}

@media print {
	.pub-header-component {
		.tags-buttons-wrapper {
			display: none;
		}
		.wrapper {
			padding: 20px;
		}
		h1 {
			padding: 10px 0px;
		}
	}
}
