@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.dashboard-page-container {
	h1 {
		a {
			font-size: 14px;
			line-height: 1em;
			margin-left: 1em;
			font-weight: 400;
		}
	}

	.settings-section-component {
		margin-top: 3em;
	}

	.html-input {
		textarea {
			font-family: 'Courier', monospace;
		}
	}

	.delete-button-wrapper {
		padding-top: 1em;
	}

	.error {
		color: #c23030;
		text-align: right;
		padding-top: 0.25em;
		font-size: 1em;
	}

	.edit-nav {
		border-bottom: 1px solid #979797;
		height: 41px;
		overflow: hidden;
		margin: 20px 0px 40px;
		.#{$bp}-tabs {
			overflow: hidden;
			overflow-x: scroll;
			padding-bottom: 50px;
		}
		.#{$bp}-tab {
			text-decoration: none;
		}
	}
}
