.dashboard-collection {
	table {
		width: 100%;
		border-collapse:collapse
	}
	td, th {
		padding: 0.25em 2em 0.25em 0em;
		&:last-of-type {
			padding-right: 0em;
		}
	}
	th {
		text-align: left;
		color: #666;
		border-bottom: 1px solid #CCC;
		padding-top: 1em;
		padding-bottom: 1em;
		cursor: pointer;
		text-transform: capitalize;
		white-space: nowrap;
		span {
			opacity: 0;
		}
		&:hover span{
			opacity: 0.5;	
		}
		&.not-sortable {
			cursor: default;
		}
		&.active {
			color: #222;
			span {
				opacity: 1;
			}
		}
	}
	tr:first-of-type td { // First data row
		padding-top: 1em;
	}
	td.min-width {
		width: 1px;
	}
	.title {
		font-weight: bold;
	}
	.status {
		text-transform: capitalize;
		&.published {
			color: green;
		}
		&.submitted {
			color: orange;
		}
	}
	.date {
		white-space: nowrap;
	}
	.activity {
		white-space: nowrap;
		span {
			opacity: 0.6;
			padding-right: 0.5em;
		}
	}

}