.pub-options-tags-component {
	.details {
		padding-bottom: 0.25em;
	}
	.pt-icon-lock2 {
		margin-right: 0.25em;
	}
	.multiselect-wrapper {
		padding: 2em 0em;
	}
}
.pub-options-tags-overlay {
	.pt-icon-lock2 {
		margin-right: 0.25em;
	}
}