@import 'styles/variables.scss';
.discussion-thread-component {
	position: relative;
	z-index: 1;
	background: white;
	padding: 1em 0em;
	font-size: 14px;
	.collapse-button {
		position: absolute;
		top: 0;
		right: 0;
		.bp3-icon {
			transform: rotate(45deg);
		}
	}
	.discussion-item {
		display: flex;
		&:not(:last-child) {
			margin-bottom: 1em;
			border-bottom: 1px solid #f0f0f7;
		}
		.avatar-wrapper {
			margin-right: 0.5em;
		}
		.content-wrapper {
			flex: 1 1 auto;
			min-width: 0;
		}
	}
	.item-header {
		display: flex;
		align-items: center;
		line-height: 1em;
		margin-bottom: 0.25em;
		font-size: 13px;
		.name {
			font-weight: 600;
			margin-right: 1em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			min-height: 17px;
		}
		.time {
			margin-right: 1em;
			color: #888;
			flex: 1 1 auto;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			min-height: 17px;
		}
		.actions {
			white-space: nowrap;
		}
		.bp3-button {
			min-height: 17px;
		}
	}
	.preview-text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-style: 14px;
	}
	.discussion-body-wrapper {
		.editor.ProseMirror {
			min-height: 0px;
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			li {
				font-family: $base-font;
				line-height: 1.3;
			}
		}
		&.editable {
			.editor {
				min-height: 75px;
				border: 1px solid #ddd;
				background: white;
				border-radius: 2px;
				padding: 0.5em;
				margin-bottom: 0.5em;
			}
		}
	}
	.simple-input {
		background: #f4f4f7;
		border-radius: 2px;
		border: 0px solid white;
		padding: 0.5em;
		width: 100%;
		font-style: italic;
	}
	.formatting-bar-component {
		margin: -0.5em 0em 0.5em;
	}
	.discussion-primary-button,
	.discussion-cancel-button {
		margin-bottom: 1em;
		white-space: nowrap;
		&:not(:last-child) {
			margin-right: 1em;
		}
	}
}
