.discussion-input-component {
	$border-color: #CCC;
	border: 1px solid $border-color;
	background-color: #FFF;
	margin-bottom: 2em;
	.title-input {
		padding: 0.75em 0.5em;
		border: 0px solid white;
		border-bottom: 1px solid $border-color;
		display: block;
		width: 100%;
		font-weight: 600;
	}
	.input-text {
		padding: 0.5em;
		border: 0px solid black;
		border-bottom: 1px solid $border-color;
		min-height: 100px;
		.ProseMirror {
			min-height: 100px;
			overflow: hidden; // There was a strange 10px offset that make clicking tricky sometimes.
		}
		cursor: text;
		p {
			font-size: 1em;
			line-height: 1.3;
		}
		a {
			text-decoration: underline;
		}
	}
	.buttons {
		padding: 0.25em;
		display: flex;
		white-space: nowrap;
	}
	.buttons-left {
		flex-grow: 1;
		flex-shrink: 1;	
		min-width: 0px;
	}
	.buttons-right {
		background-color: white;
	}
	.pt-intent-primary {
		margin-left: 0.25em;
	}
	.right {
		float: right;
	}
}