@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

$white: #ffffff;
$white-20: #ffffff33;
$charcoal: #484b50;

.minimal-footer-component {
	color: $white;
	background-color: $charcoal;
	display: flex;
	align-items: center;
	gap: 4%;
	padding: 30px 4%;
	font-family: "SuisseIntl",sans-serif;
	font-size: 12px;

	.left-column {
		flex: 3;
		height: 26px;
		a,
		img {
			display: inline-block;
			height: 100%;
		}
	}

	.right-column {
		display: flex;
		gap: 40px;

		.nav-column {
			display: flex;
			flex-direction: column;
			flex: 0;
			flex-basis: auto;
		}

		.social-column {
			a .#{$bp}-icon {
				color: $white;
			}
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-evenly;
			gap: 30px;

			a {
				color: $white;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.top-row {
			padding-bottom: 15px;
		}

		.bottom-row {
			padding-top: 15px;
		}

		.top-row {
			border-bottom: 1px $white-20 solid;
		}

		.bottom-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 15px;

			.built-on {
				display: flex;
				align-items: center;
				gap: 4px;
			}

			img {
				height: 17px;
				display: inline-block;
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	.minimal-footer-component {
		flex-direction: column;

		.left-column {
			flex-direction: column;

			img {
				margin-bottom: 20px;
			}
		}

		.right-column {
			flex-direction: column;
			align-items: center;
			text-align: center;

			.top-row {
				border-bottom: none;
			}

			.bottom-row {
				flex-direction: column;
			}
		}
	}
}