.pub-options-discussions-component {
	.channels {
		padding-top: 2em;
	}
	.channel {
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid #CCC;
		.header {
			display: flex;
			padding-bottom: 0.5em;
			.title {
				flex-grow: 1;
				flex-shrink: 1;
				font-weight: bold;
			}
			.option {
				margin-left: 1em;
				white-space: nowrap;
			}
			.static {
				text-transform: capitalize;
			}
		}
	}
	.cards-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	.access-preview {
		display: flex;
		align-items: center;
		& > * {
			margin-right: 1px;
		}
	}
	.bp3-checkbox {
		margin-bottom: 0px;
	}
	.dropdown-button.bp3-button {
		text-transform: capitalize;
	}
}

.channel-permissions-dropdown {
	.bp3-menu-item {
		flex-wrap: wrap;
	}
	.title {
		font-weight: bold;
		width: 100%;
	}
	.description {
		font-size: 12px;
		margin-top: -5px;
	}
}
