.pub-collab-publish-component {
	.wrapper {
		padding-top: 2em;
	}
	.button-wrapper {
		text-align: right;
	}
	h6 {
		margin-top: 2em;
	}
	.input {
		padding: 0.75em 2em 0.75em 0.75em;
		margin-bottom: 0.25em;
		display: inline-block;
		border-radius: 4px;
		font-family: 'Courier', monospace;
		background-color: rgba(215, 215, 215, 0.5);
	}
	.details {
		span {
			text-decoration: underline;
			cursor: pointer;
		}	
	}
	.pt-callout {
		margin: 1em 0em;
	}
	
}