.pub-collab-header {
	height: 69px; // This is set in pubCollaboration.scss as $titlePanelHeight. Minus 1px for border
	// overflow: hidden;
	.flex-parent {
		width: 100%;
		display: flex;
		align-items: center;
		height: 34px;
		&:first-of-type {
			height: 35px;
		}
	}
	.flex-left {
		flex-shrink: 1;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
	.flex-center {
		flex-grow: 1;
		min-width: 0;
		flex-shrink: 1;
	}
	.flex-right {
		white-space: nowrap;
		.pt-button {
			margin-left: 1em;
		}
	}	
	
	.title {
		font-size: 1.75em;
		margin: 0;
		line-height: 1;
		padding: 5px 0px;
		font-weight: bold;
	}
	
	.tags {
		overflow: hidden;
		height: 20px;
		.tags-wrapper {
			white-space: nowrap;	
			height: 70px;
			overflow-x: scroll;
			overflow-y: hidden;
			padding-bottom: 50px;
			padding: 0em 1em;
			.pt-tag {
				margin-right: 0.5em;
				.pt-icon-standard {
					opacity: .5;
					font-size: 10px;
					padding-left: 0.5em;
					position: relative;
					top: -1px;
				}
			}
		}
	}
	.edit {
		flex-shrink: 0;
		padding-left: 0.5em;
		opacity: 0.5;
	}
	.avatars {
		padding-left: 1em;
		.avatar-wrapper {
			padding-left: 0.25em;
			display: inline-block;
		}
	}
}