.discussion-thread-component {
	.preview {
		padding: 1em;
		&:hover {
			background-color: #F0F0F0;
			cursor: pointer;
		}
		&.minimal {
			padding: 0.5em;
			// margin-bottom: 2em;
			border-radius: 4px;
			opacity: 0.8;
			&:hover {
				opacity: 1;
				background-color: #F9F9F9;
				box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
				// padding: 0.5em 0px 0.5em 0.5em;
			    // margin: 0px 0px 2em -0.5em;
			}
		}
		.title {
			font-weight: bold;
			padding-bottom: 0.5em;
			.text {
				margin-right: 25px;
			}
			.bp3-tag {
				margin-right: 5px;
				margin-top: 2px;
				font-size: 12px;
				font-weight: 400;
				padding: 0px 4px;
			}
		}
		
		.discussion {
			margin: 0.25em 0em;
			position: relative;
			.line {
				width: 2px;
				height: calc(100% + 10px);
				position: absolute;
				background: #CCC;
				left: 9px;
				top: 0px;
				z-index: 0;
			}
			.avatar-component {
				margin-right: 1em;
			}
			.text {
				vertical-align: top;
				display: inline-block;
				width: calc(100% - 1em - 20px);
			}
		}
	}
	.full {
		padding: 1em;
		.collapse-wrapper {
			margin-bottom: 14px;
			margin-top: -14px;
			margin-left: -14px;
			margin-right: -14px;
		}
		&.minimal {
			background-color: #F9F9F9;
			margin-bottom: 0.5em;
			border-radius: 4px;
			// box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
			box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
			// padding: 1em 0.5em 1em 0.5em;
		    // margin: 0px 0px 2em -0.5em;
		    .collapse-wrapper {
		    	border-bottom: 1px solid #CCC;
		    }
		}

	}


	// padding: 0em 1em;
	.back {
		display: block;
		border-bottom: 1px solid #E0E0E0;
		margin-bottom: 1em;
	}
	// .title {
	// 	font-weight: bold;
	// 	margin-bottom: 2em;
	// 	line-height: 24px;
	// }
	.thread-buttons {
		float: right;
	}
	.bp3-callout {
		margin-bottom: 1em;
		.bp3-button {
			float: right;
			position: relative;
			top: -1px;
		}
	}
	.editing-buttons {
		text-align: right;
		padding-top: 0.5em;
		.bp3-button {
			margin-left: 0.5em;
		}
	}
	.submission-buttons {
		margin: -2em 0em 2em;
		.bp3-intent-primary {
			margin-right: 1em;
		}
	}
}