@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

#community-create-container {
	padding: 40px 0px;
	background-repeat: repeat;
	background-position: center center;
	background-color: #f9fafb;
	background-image: url('/static/loginbg.png');
	min-height: calc(100vh - 56px);

	.container.small .col-12 {
		padding: 2em;
		background: white;
		border-radius: 2px;
		box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0),
			0 0 0 rgba(16, 22, 26, 0);
	}
	form {
		margin-top: 40px;
		font-size: 1.25em;
	}
	.#{$bp}-non-ideal-state {
		// margin-top: 20px;
	}
	.color-swatch {
		width: 50px;
		height: 20px;
		border-radius: 2px;
	}
}
