#community-create-container {
	.page-content {
		padding-top: 2em;
	}
	form {
		margin-top: 40px;
		font-size: 1.25em;
	}
	.pt-non-ideal-state {
		margin-top: 20px;
	}
	.color-swatch {
		width: 50px;
		height: 20px;
		border-radius: 2px;
	}
}
