@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import 'styles/variables.scss';
@import 'containers/DashboardOverview/overviewStyles.scss';

.spub-header-toolbar-component {
	.toolbar-container .col-12 {
		margin-top: 0;
		margin-bottom: 0;
	}

	.toolbar-items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.#{$bp}-tab {
		min-width: 200px;
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 0.15em;
		padding: 15px 0;
		text-transform: uppercase;
		&,
		&[aria-selected='true'],
		&:not([aria-disabled='true']):hover {
			color: var(--community-accent-dark);
		}
		&:not([aria-selected='true']) {
			opacity: 0.45;
			border-bottom: 1px solid var(--community-accent-dark);
			&:hover {
				opacity: 0.75;
			}
		}
		.#{$bp}-icon {
			padding: 0 6px 2px 0;
		}
		&:nth-child(n + 3) {
			padding-left: 15px;
		}
		&:not(:last-child) {
			margin-right: 2px;
			padding-right: 15px;
		}
	}

	.#{$bp}-tab-indicator-wrapper .#{$bp}-tab-indicator {
		height: 2px;
		background-color: var(--community-accent-dark);
	}

	.status {
		display: flex;
		font-weight: 500;

		.#{$bp}-icon {
			@include status-colors;
			margin-right: 4px;
			transform: translateY(0.5px);
		}
	}

	.submit-button {
		width: 120px;
		height: 30px;
	}
}
