@import 'styles/variables.scss';

.spubheader-toolbar {
	display: flex;
	justify-content: center;
	align-items: baseline;
	column-gap: 340px;
	.tabs.spub-header-component .bp3-tab-list {
		margin: 0px;
	}
	.spub-header-component .bp3-tab-list .bp3-tab.inactive {
		opacity: 0.45;
		color: var(--community-accent-dark);
	}
}

.gridParent {
	&.container {
		max-width: 100%;
	}
}

.status {
	display: flex;
}

.status-text {
	text-transform: capitalize;
}

.submission-button {
	width: 119px;
	height: 30px;
	&.bp3-button.bp3-outlined {
		border: 20px solid var(--community-accent-dark);
		color: var(--community-accent-dark);
		background-color: white;
	}
}
