@import 'styles/variables.scss';
.pub-overview-component {
	.header {
		display: flex;
		align-items: flex-start;
		.avatar-component {
			margin-right: 10px;
			flex: 0 0 auto;
		}
		.header-name {
			flex: 1 1 auto;
			.title {
			font-weight: 600;
			font-size: 24px;
			font-family: $header-font;
			}
			.author {
				font-style: italic;
			}
			
		}
		.header-buttons {
			flex: 0 0 auto;
			.bp3-button {
				margin-left: 1em;
			}
		}
	}
	.section {
		margin-top: 4em;
		.section-title {
			font-weight: 500;
			font-size: 16px;
			color: #888;
			margin-bottom: 1em;
		}
		.branch-row {
			display: flex;
			align-items: center;
			margin: 1em 0em;
			.one {
				font-weight: bold;
				margin-right: 1.5em;
			}
			.two {
				flex: 1 1 auto;
			}
			.three {
				.bp3-button {
					margin-left: 1em;
				}
			}
		}
	}
	.pub-contributors-component {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.pub-contributors_contributor-component {
		width: 30%;
	}
}
