@import './shared.scss';

.email-preview-component {
    @include box;
    background: $light-background;
    font-family: monospace;

    > .address-header {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid $border-color;

        > .address-box {
            display: flex;
            align-items: baseline;
            margin-left: 30px;
            > .label {
                margin-right: 5px;
            }
        }
    }

    > .content-box {
        padding: 10px;
        font-size: 0.95em;
    }
}
