@import './shared.scss';

@mixin striped-background($color) {
    background-image: linear-gradient(
        45deg,
        $color 4.17%,
        transparent 4.17%,
        transparent 50%,
        $color 50%,
        $color 54.17%,
        transparent 54.17%,
        transparent 100%
    );
    background-size: 16.97px 16.97px;
}

.submission-workflow-editor-component {
    .banner-step {
        .banner-title-text {
            width: 100%;
        }

        .banner-skeleton {
            @include box;
            background: $light-background;
        }
    }

    .email-step {
        .target-email-input {
            display: flex;
            max-width: 600px;
            > .bp3-input-group {
                flex-grow: 1;
                margin-right: 10px;
            }
        }
    }
}
