@mixin striped-background($color) {
    background-image: linear-gradient(
        45deg,
        $color 4.17%,
        transparent 4.17%,
        transparent 50%,
        $color 50%,
        $color 54.17%,
        transparent 54.17%,
        transparent 100%
    );
    background-size: 16.97px 16.97px;
}

.submission-workflow-editor-component {
    .banner-step {
        .banner-title-text {
            width: 100%;
        }

        .banner-skeleton {
            border: 1px solid #ddd;
            @include striped-background(#ddd);
        }
    }
}
