.pub-release-review-dialog-component {
	.minimal-editor-component {
		height: 150px;
		overflow: auto;
		.editor-wrapper {
			min-height: 100%;
		}
		padding-bottom: 23px;
	}

	.release-buttons {
		margin-right: 6px;
	}
}
