.discussion-thread-item-component {
	margin: 1em 0em 2em;
	.item-header {
		display: flex;
		// align-items: center;
		align-items: flex-start;
		a {
			text-decoration: none;
		}
		.avatar-component, .pt-button-group {
			flex-shrink: 0;
		}
		.details {
			flex-grow: 1;
			flex-shrink: 1;
			min-width: 0;
			margin: 0em 0.5em;
			height: 30px;
			.name, .date {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 12px;
				line-height: 14px;
				padding-bottom: 2px;
				display: block;

			}
			.name {
				font-weight: bold;
				&:hover {
					text-decoration: underline;
				}
			}
			.date {
				opacity: 0.75;
			}
		}
	}
	.text {
		margin-top: 0.5em;
		p {
			font-size: 1em;
			line-height: 1.3;
		}
		a {
			text-decoration: underline;
		}
		&.editing {
			background-color: white;
			padding: 0.5em;
			border: 1px solid #CCC;
		}
	}
	.editing-buttons {
		text-align: right;
		padding-top: 0.5em;
		.pt-button {
			margin-left: 0.5em;
		}
	}
}