.pub-inline-menu-component {
	padding: 0.25em;
	border-radius: 2px;
	background-color: #444;
	color: white;
	.pt-button.pt-minimal {
		color: white;
		&:hover {
			color: white;
		}
	}
	.pt-icon {
		color: inherit;
	}
}
