.component-dashboard-collection {
    display: flex;
    flex-direction: column;
    height: 100%;
    h1 {
        a {
            text-decoration: none;
        }
    }
    .save-spinner {
        display: inline-flex;
        opacity: 0;
        transition: 0.25s ease-out opacity;
        &.visible {
            opacity: 1;
        }
    }
    .tab-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .bp3-tab-panel {
            flex-grow: 1;
            position: relative;
        }
        .bp3-tab-panel > * {
            position: absolute;
            height: 100%;
        }
    }
}