@import 'styles/variables.scss';
.pub-discussions-component {
}

.discussion-thread {
	background: #f7f7f9;
	border: 1px solid #ddd;
	margin: 1em 0em;
	padding: 1em;
	font-size: 15px;
	font-family: $base-font;
	.discussion-item {
		display: flex;
		&:not(:last-child) {
			margin-bottom: 1em;
		}
		.avatar-wrapper {
			margin: 0em 0.5em 0em -0.5em;
		}
		.content-wrapper {
			flex: 1 1 auto;
		}
	}
	.item-header {
		display: flex;
		align-items: center;
		line-height: 1em;
		margin-bottom: 0.25em;
		font-size: 14px;
		color: #888;
		.name {
			font-weight: 600;
			margin-right: 1em;
			color: #222;
		}
		.time {
			margin-right: 1em;
		}
		.bp3-button {
			min-height: 17px;
		}
	}

	.discussion-body-wrapper {
		.editor {
			min-height: 0px;
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			li {
				font-family: $base-font;
				line-height: 1.3;
			}
		}
		&.editable {
			.editor {
				min-height: 75px;
				border: 1px solid #ddd;
				background: white;
				border-radius: 2px;
				padding: 0.5em;
				margin-bottom: 0.5em;
			}
		}
	}
	.discussion-primary-button {
		margin-right: 1em;
	}
}
