.overlay-wrapper {
	left: 7vw;
	width: 86vw;
	top: 50px;
	overflow: hidden;
	&.pt-overlay-enter, &.pt-overlay-appear {
		opacity: 0;
	}
	&.pt-overlay-enter-active, &.pt-overlay-appear-active {
		opacity: 1;
		transition: 200ms cubic-bezier(0.4, 1, 0.75, 0.9) opacity;
	}
	&.pt-overlay-leave {
		opacity: 1;
	}
	&.pt-overlay-leave-active {
		opacity: 0;
		transition: 200ms cubic-bezier(0.4, 1, 0.75, 0.9) opacity;
	}
	.pt-card {
		max-width: 940px;
		margin: 0 auto;
	}
}
