.layout-editor-component {
	.block-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 2em;
		.text {
			text-transform: capitalize;
			font-weight: 800;
			font-size: 14px;
		}
	}
	.component-wrapper {
		margin-bottom: 2em;
		border: 1px solid #ccc;
	}
	.block-header {
		z-index: 1;
		display: flex;
		// align-items: flex-end;
		justify-content: space-between;
		padding: 1em 0em;
		flex-wrap: wrap;
		background-color: #f0f0f0;
		border-bottom: 1px solid #ccc;
		// .spacer {
		// 	flex-shrink: 1;
		// 	flex-grow: 1;
		// }
		.input-field-component,
		.image-upload-component {
			// margin-bottom: 0px;
			margin: 0em 1em;
		}
		.bp3-control.bp3-checkbox {
			display: inline-block;
			margin-right: 2em;
			margin: 0.5em 2em 0px 0px;
			padding-left: 20px;
		}
		.line-break {
			width: 100%;
			margin-bottom: 1em;
		}
		// .bp3-form-group:not(:last-child) {
		// 	padding-right: 1em;
		// }
		.formatting-wrapper {
			flex: 1 1 auto;
			max-width: 100%;
			padding-top: 12px;
		}
	}
	.block-content {
		padding: 1em 0em;
		h1 {
			font-size: 32px;
			font-weight: 800;
		}
		h2 {
			font-size: 28px;
			font-weight: 800;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			clear: both;
			margin-bottom: 0.5em;
			line-height: 1em;
		}
		textarea {
			width: 100%;
			resize: vertical;
			min-height: 150px;
			font-family: 'Courier', monospace;
			white-space: nowrap;
			padding: 0.5em;
		}
		.pages-wrapper {
			display: flex;
			flex-wrap: wrap;
		}
		.page-preview-component {
			margin: 0em 1em 2em 0em;
		}
	}
	.layout-editor-text-component,
	.layout-editor-html-component {
		p,
		li {
			font-size: 18px;
			line-height: 1.6;
		}
		.block-header {
			flex-wrap: nowrap;
			align-items: center;
		}
	}
}

.order-picker-popover {
	transform: none !important;
	.order-picker-component {
		width: 600px;
		max-width: 100vw;
	}
}

@supports (display: grid) {
	.layout-editor-component {
		.block-content {
			.pages-wrapper {
				display: grid;
				grid-gap: 2em;
				grid-template-columns: repeat(auto-fill, 175px);
				justify-content: space-between;
			}
			.page-preview-component {
				margin: 0em;
			}
		}
	}
}
