#legal-container {
    .legal-columns {
        max-width: 900px;
    }

    .legal-settings {
        .bp3-card {
            margin-bottom: 15px;
        }
    }
}

@media only screen and (min-width: 750px) {
    @supports (display: grid) {
        #legal-container {
            .legal-columns {
				display: grid;
				grid-template-columns: 150px 1fr;
				grid-template-areas: 'side main';
				grid-column-gap: 4%;
				margin-top: 2em;
			}
            .side-content {
                grid-area: side;
            }
            .side-menu {
                background-color: #f4f4f4;
            }
            .main-content {
                grid-area: main;
                min-width: 0;
            }
        }
    }
}
