.pub-body-component {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	font-size: 21px;
	.pub-collab-editor-component {
		font-size: 18px;
	}
	.ProseMirror {
		min-height: 150px;
	}
	h1 { font-size: 1.6em; }
	h2 { font-size: 1.25em; }
	h3 { font-size: 1.2em; }
	h4 { font-size: 1.1em; }
	h5 { font-size: 1em; }
	h6 { font-size: 0.875em; }
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0.5em;
		line-height: 1em;
	}
	* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
		margin-top: 1em;
	}
	p, li {
		font-family: Georgia, Cambria, "Times New Roman", Times, serif; 
		letter-spacing: .01rem;
		font-weight: 400;
		font-style: normal;
		font-size: 1em;
		line-height: 1.58;
		letter-spacing: -.003em;
		margin: 0em 0em 1em;
	}
	li {
		margin: 0em;	
		p {
			margin: 0;
		}
	}
	ul, ol {
		padding-left: 1em;
		margin: 0em 0em 1em;
	}
	hr {
		margin: 1em 0em;
	}
	pre {
		background: rgba(0,0,0,.05);
		padding: 20px;
		box-shadow: none;
		font-size: 16px;
		white-space: pre;
		overflow: hidden;
		overflow-x: scroll;
		code {
			white-space: pre;
		}
	}
	blockquote {
		line-height: inherit;
	    font-size: 1em;
	    margin: 0 0 1em;
	    border-left: solid 4px rgba(181, 181, 181, 0.5);
	    padding: 0 1em;
	}
	figure, .file {
		font-size: 15px;
	}
	figcaption {
		font-size: 0.9em;
	}
	a:not(.header-link) {
		text-decoration: underline;
	}
	.insert-popup {
		font-size: 15px;
	}
}

@media print {
	.pub-body-component {
		font-size: 14px;
		h1, h2, h3, h4, h5, h6 {
			page-break-after: avoid;
		}
	}
}
