.notifications-table-component {
	width: 100%;
	&.pt-table tbody tr:first-child td {
		box-shadow: none;
	}
	&.pt-table td {
		padding: 0px;
		a {
			padding: 20px 11px;
			display: block;
			text-decoration: none;
		}
	}
	td .icon-image {
		height: 35px;
		width: 35px;
		border-radius: 2px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		user-select: none;
	}
	time {
		font-size: 0.9em;
		opacity: 0.75;
		padding-top: 3px;
		display: block;
	}
	.new-dot {
		background-color: red;
		border-radius: 10px;
		height: 10px;
		width: 10px;
		display: block;
		margin-top: 4px;
	}
}