.pub-options-component {
	display: flex;
	.left-column {
		padding-right: 20px;
		flex-shrink: 1;
		flex-grow: 0;
		position: relative;
		&:after {
			content: "";
			background: #E0E0E0;
			position: absolute;
			width: 1px;
			height: calc(100% + 40px);
			top: -20px;
			right: 0px;
		}
		.pt-menu {
			padding: 0px;
			min-width: auto;
		}
		.pt-menu-item {
			font-weight: bold;
			text-transform: capitalize;
		}
	}
	.right-column {
		padding-left: 20px;
		flex-grow: 1;
		overflow: hidden;
		h1 {
			font-weight: 800;
			font-size: 28px;
			margin-bottom: 1em;
			line-height: 1em;
		}
		.save-wrapper {
			float: right;
			.pt-button {
				margin-bottom: 5px;
			}
			.save-success-message {
				color: #35AE6D;
				text-align: right;
				user-select: none;
				opacity: 0;
				transition: .1s linear opacity;
				&.active {
					opacity: 1;
				}
			}
		}
		.pt-form-group {
			max-width: 500px;
		}
	}
}
