@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.collapsible-header-component {
	.header {
		max-height: 143px;
		display: flex;
		margin: 3.375rem 0rem 2.625rem 0rem;
		position: relative;
		z-index: 20;

		.logo {
			float: left;
			position: relative;
			width: 88px;
		}

		.navigation {
			background-color: #fff;
			height: 35px;
			display: flex;
			justify-content: right;
			margin-left: 1.25rem;
			position: relative;
			width: 100%;
			z-index: 20;

			.primary {
				margin-top: 8px;
				margin-top: .5rem;
				background-color: #fff;
				clear: right;
				position: relative;
				z-index: 10;

				// non-mobile only
				border-left: 1px solid #e0e0e0;
				height: 24px;

				.list {
					align-items: center;
					display: flex;
					margin: 0;
					padding: 0;

					.item {
						font-family: "Noto Sans",Arial,Helvetica,sans-serif;
						font-size: 14px;
						font-size: .875rem;
						line-height: 1.71429;
						font-weight: bold;
						color: #212121;
						float: left;
						list-style-type: none;
					}
				}
			}
		}
	}

	.main-menu {
		display: none;
	}

	.tab-to-show-component:not(:focus):not(:active):not(.hold-open) {
		position: fixed;
		top: auto;
		overflow: hidden;
		opacity: 0;
		transform: translateX(-4000px);
		z-index: -999;
	}
	.skip-link-component {
		display: block;
		position: fixed;
		top: 10px;
		left: 10px;
		padding: 10px;
		background: #fff;
		z-index: 100000;
		&:focus {
			outline: rgba(19, 124, 189, 0.6) auto 2px;
			outline-offset: 2px;
		}
	}
	.hidden {
		display: none;
	}
}

@media screen and (max-width: 539px) {
}
