.dashboard-community-overview-container {
	display: flex;
}

.recent-visits-component {
	list-style-type: none;
	padding: 0;
	margin: 0;

	.visit-icon {
		margin-right: 9px;
	}

	.visit-link {
			text-decoration: none;
			font-size: 14px;
			&:hover {
					text-decoration: underline;
			}
	}
}

.dashboard-sidebar-container {
	.title {
		text-transform: uppercase;
	}
}
