@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.assign-doi-component {
	> p {
		margin: 0 0 12px 0;
	}

	.dropdowns {
		display: flex;

		// Added .bp[#]-form-group to increase selector specificity.
		> .#{$bp}-form-group.input-field-component {
			margin-right: 36px;
		}
	}
}
