.assign-doi-component {
	> p {
		margin: 0 0 12px 0;
	}

	.bp3-callout {
		margin: 20px 0;
	}

	.dropdowns {
		display: flex;

		> .bp3-form-group.input-field-component {
			margin-right: 36px;
		}
	}
}
