.dashboard-content_pubs-component {
	.pub-wrapper {
		margin-bottom: 0.75em;
		padding-bottom: 0.75em;
		border-bottom: 1px solid #ddd;
		min-height: 45px;
		.header {
			display: flex;
			align-items: center;
		}
		.title {
			flex-shrink: 1;
			flex-grow: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-weight: bold;
			.draft {
				font-weight: 400;
				margin-left: 1em;
			}
		}
		.authors {
			font-style: italic;
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		.tags {
			max-width: 40%;
			overflow: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			-ms-overflow-style: none;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				height: 0 !important;
			}
		}
		.bp3-tag {
			margin-left: 0.5em;
			max-width: none;
		}
		.details {
			display: flex;
			& > div {
				margin-right: 1em;
			}
		}
	}
}
