@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.create-page-dialog-component {
	// Specificity hack
	&.#{$bp}-dialog {
		padding-bottom: 0px;
	}

	.footer-dialog {
		display: flex;
		justify-content: flex-end;
		text-align: end;
	}
}
