@use 'styles/vendor.scss';

.dashboard-pages-container {
	.title-and-subtitle {
		cursor: default;
	}
	.page-row {
		.#{vendor.$bp-namespace}-button {
			margin-right: 1em;
		}
		.privacy-indicator {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 80px;
			.#{vendor.$bp-namespace}-icon {
				margin-right: 4px;
			}
		}
	}
}
