.pub-edge-listing-component {
	display: flex;
	flex-direction: column;

	> .top {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-bottom: 24px;

		> h5 {
			flex: 1 0 auto;
			margin: 0 12px 0 0;
		}
	}

	@media screen and (max-width: 720px) {
		font-size: 12px;
	}
}

.pub-edge-listing-counter-component {
	font-weight: 600;
	margin-right: 6px;
	flex: 0 0 auto;
}
