@import './mixins.scss';

.pub-edge-listing-component {
	display: flex;
	flex-direction: column;

	> .top {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 12px;

		> h5 {
			flex: 1 0 auto;
		}
	}

	.minimal-controls {
		@include hover-top-border();
		right: calc(24px);
		display: flex;
		align-items: center;
	}
}

.pub-edge-listing-counter-component {
	font-weight: 600;
	margin-right: 6px;
}
