@import 'styles/mixins.scss';

.pub-edge-listing-card-component {
	border-color: #a1a1a1;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 30px;
	position: relative;
	transition: all 60ms linear;
	&.in-pub-body {
		> * {
			filter: grayscale(100%);
			transition: all 60ms linear;
		}

		&:hover,
		&:active,
		&:focus {
			> * {
				filter: grayscale(0%);
			}
		}

		> .controls {
			right: 4px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	> .relation,
	> .controls {
		@include bleed-top-border;
		background-color: #fff;
		padding: 0 8px;
		position: absolute;
		top: 0;
		transform: translateY(-50%);
	}

	> .controls {
		align-items: center;
		display: flex;
		right: 24px;

		> *:not(:last-child) {
			margin-right: 6px;
		}
	}

	> .relation {
		left: calc(24px - 8px);
		filter: grayscale(0%);

		.relation-name {
			font-weight: 600;
		}

		.pub-title {
			font-style: italic;
		}

		.drop-return {
			margin-right: 4px;
			position: relative;
			bottom: px;
			transform: rotateY(180deg);
		}
	}

	> .relation.show-icon {
		left: 4px;
	}
}
