.dashboard-team-component {
	max-width: 600px;
	margin: 0 auto;
	.autocomplete-wrapper {
		padding: 2em 0em;
	}
	.admin-wrapper {
		display: flex;
		align-items: center;
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid #CCC;
		.content {
			flex-shrink: 1;
			flex-grow: 1;
			padding: 0em 1em;
			.name {
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
	.pt-popover-target {
		width: 100%;
	}
	
}