$mobile-viewport-cutoff: 750px;

@mixin mobile {
    @media only screen and (max-width: $mobile-viewport-cutoff) {
        @content;
    }
}

.overview-row-skeleton-component {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    box-sizing: border-box;

    &.with-border {
        border-bottom: 1px solid #ddd;
    }

    .center-container {
        margin-left: 30px;
        flex-grow: 1;
        & > :not(:last-child) {
            margin-bottom: 2px;
        }
        .title {
            text-decoration: none;
            font-size: 16px;
            @include mobile {
                font-size: 14px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        .byline {
            font-style: italic;
        }
        .byline,
        .summary-icons {
            font-size: 14px;
            @include mobile {
                font-size: 12px;
            }
        }
        .summary-icons {
            display: flex;
            align-items: center;
            color: #747474;

            > .summary-icon-pair {
                display: flex;
                align-items: center;
                > :first-child {
                    opacity: 0.8;
                    margin-right: 6px;
                }
                &:not(:last-child) {
                    margin-right: 12px;
                }
            }
        }
    }
}
