@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import '../overviewStyles.scss';

$mobile-viewport-cutoff: 750px;

@mixin mobile {
	@media only screen and (max-width: $mobile-viewport-cutoff) {
		@content;
	}
}

.overview-row-skeleton-component {
	position: relative;
	color: var(--community-accent-dark);
	display: flex;
	align-items: center;
	padding: 10px 25px;
	box-sizing: border-box;
	margin-top: -1px;

	&.with-border {
		border: 1px solid $row-border-color;
		border-left: none;
		border-right: none;
	}

	&.with-hover-effect:hover {
		z-index: 1;
		border-color: currentColor;
		.left-icon {
			color: currentColor;
		}
	}

	.left-icon {
		color: $light-grey;
	}

	.right-element {
		display: flex;
		.#{$bp}-icon {
			color: $light-grey;
		}
		&.darker {
			.#{$bp}-icon {
				color: $medium-grey;
			}
		}
	}

	.center-container {
		color: black;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 30px;
		flex-grow: 1;
		.title {
			text-decoration: none;
			font-size: 16px;
			margin-bottom: 2px;
			@include mobile {
				font-size: 14px;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.byline {
			font-style: italic;
			color: $dark-grey;
			.byline-icon svg {
				width: 11px;
				height: auto;
			}
		}
		.summary-icons {
			color: $medium-grey;
			display: flex;
			align-items: center;
			margin-top: 4px;
			> .summary-icon-pair {
				.#{$bp}-icon {
					@include status-colors;
				}
				display: flex;
				align-items: center;
				> :first-child {
					margin-right: 6px;
					transform: translateY(1px);
				}
				&:not(:last-child) {
					margin-right: 15px;
				}
			}
		}
		.byline,
		.summary-icons {
			font-size: 14px;
			@include mobile {
				font-size: 12px;
			}
		}
	}
	@include mobile {
		padding: 10px 10px;
		.center-container {
			margin-left: 20px;
		}
	}
}
