.special-row-component {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    user-select: none;

    .inner {
        display: flex;
        align-items: center;
    }
}
