$viewport-padding: 10px;
$small-viewport-cutoff: 720px;

.legal-banner-component {
    position: fixed;
    bottom: $viewport-padding;
    right: $viewport-padding;
    z-index: 9999;
    display: flex;
    background: #eee;
    padding: 20px;
    width: calc(100vw - #{2 * $viewport-padding});
    border-radius: 2px;
    border: 3px #ddd solid;
    .logo {
        display: none;
        align-items: center;
        @media screen and (max-width: $small-viewport-cutoff) {
            align-items: unset;
        }
        img {
            height: 50px;
            display: block;
        }
        padding-right: 15px;
    }
    .notice {
        flex-grow: 1;
        color: black;
        h3 {
            color: inherit;
        }
        a, a:visited, a:hover {
            color: inherit;
        }
    }
    .legal-buttons {
        .bp3-button {
            flex-shrink: 0;
            min-width: 120px;
        }
        display: flex;
        align-items: center;
        @media screen and (max-width: $small-viewport-cutoff) {
            flex-direction: column;
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 10px;
            & > * {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        & > * {
            margin-left: 10px;
        }
    }
}