.scope-dropdown-component {
	font-size: 12px;
	letter-spacing: 0.5px;
	max-width: 500px;
	min-width: 280px;
	.intro {
		text-transform: uppercase;
		padding: 5px 36px;
		opacity: 0.5;
	}
	.scope-item {
		padding: 5px 30px;
		.top {
			text-transform: uppercase;
			opacity: 0.5;
			display: flex;
			align-items: baseline;
			.bp3-icon {
				margin-right: 20px;
			}
		}
		.bottom {
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.5px;
			display: flex;
			white-space: normal;
			align-items: flex-start;
			.avatar-component {
				margin-right: 12px;
			}
		}
	}
}
