@import '../../containers/DashboardOverview/overviewStyles.scss';

.scope-dropdown-component {
	font-size: 12px;
	letter-spacing: 0.5px;
	max-width: 500px;
	min-width: 280px;
	.intro {
		text-transform: uppercase;
		padding: 5px 36px;
		opacity: 0.5;
	}
	.scope-item {
		display: flex;
		justify-content: space-between;
		padding: 5px 10px;
		.top {
			text-transform: uppercase;
			opacity: 0.5;
			display: flex;
			align-items: baseline;
			.bp3-icon {
				margin-right: 20px;
			}
		}
		.bottom {
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.5px;
			display: flex;
			white-space: normal;
			align-items: flex-start;
			.avatar-component {
				margin-right: 12px;
			}
		}
		.settings {
			display: flex;
			align-items: top;
			justify-content: space-around;
			a {
				padding: 0 3px;
				margin: 0 2px;
				color: $light-grey;
				&:hover {
					color: $medium-grey;
				}
			}
		}
	}
}
