.scope-dropdown-component {
	font-size: 12px;
	letter-spacing: 1px;
	max-width: 500px;
	.intro {
		text-transform: uppercase;
		padding: 5px 36px;
		opacity: 0.75;
	}
	.scope-item {
		padding: 5px 30px;
		&.item-1 {
			padding-left: 40px;
		}
		&.item-2 {
			padding-left: 50px;
		}
		&.item-3 {
			padding-left: 60px;
		}
		.top {
			text-transform: uppercase;
			opacity: 0.5;

			display: flex;
			align-items: baseline;
			.bp3-icon {
				margin-right: 10px;
			}
		}
		.bottom {
			font-size: 16px;
			line-height: 18px;
			letter-spacing: 0.5px;
			display: flex;
			white-space: normal;
			align-items: flex-start;
			.avatar-component {
				margin-right: 12px;
			}
		}
	}
}
