.pub-meta-component {
	position: relative;
	min-height: 250px;
	h3 {
		background: #fff;
		position: absolute;
		bottom: 100%;
		display: inline-block;
		border: 1px solid #d2d2d2;
		padding: 0.2em 1em;
		z-index: 999;
		margin: 0px;
		text-transform: uppercase;
		border-bottom: 1px solid transparent;
		font-size: 18px;
		font-weight: 600;
	}
}
