.dashboard-side-component {
	ul {
		background-color: inherit;
		min-width: 0px;
		padding: 0px;
		background-color: #F4F4F4;
		margin-bottom: 1em;
		padding: 0.5em;
		border: 1px solid #CCC;
		border-radius: 2px;
	}
	.empty {
		text-align: center;
		opacity: 0.75;
		padding: 15px;
		pointer-events: none;
	}
	.title-button {
		float: right;
		margin-top: -3px;
		margin-right: -14px;
	}
	.pt-menu-header {
		border-top: 0px;
		background-color: #dcdcdc;
		margin: -0.5em;
		padding: 0.5em 1em;
		margin-bottom: 0.5em;
	}
	.pt-menu-item {
		word-break: break-word;
	}
}