.dashboard-side-component {
	background-color: #F9F9F9;
	border-right: 1px solid #ECECEC;
	width: 200px;
	height: 100%;
	overflow: hidden;

	.content {
		width: 250px;
		// padding: 1em calc(1em + 50px) 1em 1em;
		padding: 1em calc(1em + 50px) 1em 0em;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	ul {
		background-color: inherit;
		min-width: 0px;
		padding: 0px;
	}
	.empty {
		text-align: center;
		opacity: 0.75;
		padding: 15px;
		pointer-events: none;
	}
	.title-button {
		float: right;
		margin-top: 7px;
	}
	.pt-menu-header {
		border-top: 0px;
	}
}