@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import 'styles/variables.scss';
@import 'styles/mixins.scss';

$hover-background: #f9f9f9;

.dashboard-row-component {
	position: relative;

	&.selected {
		.inner {
			background: darken($hover-background, 10%);
			&:hover {
				background: darken($hover-background, 15%);
			}
		}
	}

	.inner {
		position: relative;
		display: flex;
		align-items: center;
		background: white;
		border-top: 1px solid #ddd;
		min-height: 70px;

		&:hover {
			background: $hover-background;
			text-decoration: none;
		}

		.arrow {
			cursor: pointer;
			background: none;
			border: none;
			padding: 0;
			text-align: left;
			width: 26px;
			flex: 0 0 auto;
			.#{$bp}-icon {
				opacity: 0.5;
				margin-top: -1px;
			}
			&.opened {
				.#{$bp}-icon {
					transform: rotate(90deg);
				}
			}
			&:hover {
				opacity: 1;
			}
		}
		.left {
			display: flex;
			align-items: center;
			flex: 1 1 auto;
			.icon-and-title-container {
				display: flex;
				width: 100%;
				.icon {
					padding-right: 10px;
					margin-top: 2px;
				}
				.title-and-subtitle {
					width: 100%;
					text-decoration: none;
				}
				.title {
					font-weight: 500;
					font-size: 16px;
					line-height: 1em;
					margin-bottom: 2px;
				}
				.subtitle {
					font-style: italic;
				}
			}
		}

		.right {
			height: max-content;
			display: flex;
			flex-wrap: nowrap;
			margin-right: 6px;
		}

		.#{$bp}-icon {
			opacity: 0.5;
		}
	}

	.child-rows {
		position: relative;
		padding: 0;
		margin: 0;
		margin-left: 32px;
		list-style: none;
		&:before {
			content: '';
			position: absolute;
			background: #eee;
			width: 2px;
			z-index: -1;
			top: -1.5em;
			bottom: 1.5em;
			left: -26px;
		}
	}
	@include mobile {
		.inner {
			flex-direction: column;
			align-items: flex-start;
			padding-top: 10px;
			padding-bottom: 10px;
			.left {
				.subtitle {
					font-size: 12px;
				}
			}
			.right {
				display: flex;
				flex-direction: row-reverse;
				font-size: 12px;
				padding-top: 5px;
				.#{$bp}-button {
					margin-right: 0px;
					margin-left: 10px;
					font-size: 12px;
				}
			}
		}
	}
}
