@use 'styles/vendor.scss';

@import 'styles/mixins.scss';

.scope-picker-component {
	border-bottom: 1px solid #ddd;
	.scope-button {
		height: 84px;
		padding: 20px;
		padding-left: 50px;
		letter-spacing: 0.5px;
		display: flex !important;
		:first-child.#{vendor.$bp-namespace}-icon {
			margin-top: -13px;
		}
		.#{vendor.$bp-namespace}-button-text {
			flex: 1 1 auto;
			padding-left: 8px;
		}
		.top {
			font-size: 24px;
			font-weight: 500;
		}
		.bottom {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 300;
			padding-top: 2px;
		}
	}
}
