.side-menu-component {
    .side-title {
        margin: 1em 16px;
        padding-bottom: 1em;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }
    .menu {
        user-select: none;
        &:not(:first-child) {
            margin-top: 1px;
        }
        &.active {
            position: relative;
            background: rgba(200, 200, 200, 0.2);
            &:before {
                position: absolute;
                content: '';
                left: 0px;
                top: 0px;
                bottom: 0px;
                width: 6px;
            }
        }
        .content-title,
        .child {
            text-decoration: none;
            padding: 20px;
            padding-left: 50px;
            display: block;
            font-size: 16px;
            font-weight: 300;
            display: flex;
            align-items: center;
            letter-spacing: 0.5px;
            &.active:not(.has-children) {
                background: rgba(255, 255, 255, 1);
                font-weight: 600;
                .side-icon {
                    opacity: 1;
                }
            }
            &:hover {
                background: #e6e6e6;
            }
            .side-icon {
                opacity: 0.5;
                padding-right: 15px;
            }
        }
        .side-text {
            flex: 1 1 auto;
        }
        .count {
            border: 1px solid #999;
            padding: 2px 4px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            border-radius: 2px;
            min-width: 19px;
            height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0px;
        }
        .child {
            padding-left: 44px;
        }
    }
}
