.content-overview-component {
	.linked-page-select-button {
		max-width: 250px;
		.bp3-button-text {
			white-space: nowrap;
			overflow-x: hidden;
			text-overflow: ellipsis;
		}
	}
}

.primary-collection-swap-popover {
	max-width: 300px;
	.bp3-divider {
		margin: 10px 0;
	}
}