@import '../overviewStyles.scss';

.primary-collection-swap-popover {
	max-width: 300px;
	.bp3-divider {
		margin: 10px 0;
	}
}

.collection-overview-row-is-dragging {
	border: 1px solid $row-border-color !important;
	border-radius: 4px;
	background: white;
	box-shadow: $gentle-shadow;
}

.dashboard-collection-overview-container {
	.collection-empty-state {
		margin-top: $empty-state-margin-top;
	}

	.submissions-banner {
		font-weight: 400;
		font-size: 18px;
		padding-bottom: 10px;
		margin: 24px;
		border-radius: 1px solid;
		// border-color: slategray;
	}
}
