@import '../overviewStyles.scss';
@import 'styles/variables.scss';

.primary-collection-swap-popover {
	max-width: 300px;
	.bp3-divider {
		margin: 10px 0;
	}
}

.collection-overview-row-is-dragging {
	border: 1px solid $row-border-color !important;
	border-radius: 4px;
	background: white;
	box-shadow: $gentle-shadow;
}

.dashboard-collection-overview-container {
	.collection-empty-state {
		margin-top: $empty-state-margin-top;
	}

	.banner {
		display: flex;
		justify-content: initial;
		border: 2px solid var(--community-accent-dark);
		border-radius: 6px;
		margin-bottom: 16px;
		padding: 9px 16px;
		.banner-text {
			font-weight: 400;
			font-size: 14px;
		}
	}
}
