@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import 'styles/mixins.scss';

$bottom-menu-height: 50px;

.bottom-menu-component {
	background: var(--community-accent-dark);
	.side-title {
		margin: 1em 16px;
		padding-bottom: 1em;
		font-size: 14px;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
	}
	.menu {
		user-select: none;
		&:not(:first-child) {
			margin-top: 1px;
		}
		&.active {
			position: relative;
			background: rgba(200, 200, 200, 0.2);
			&:before {
				position: absolute;
				content: '';
				left: 0px;
				top: 0px;
				bottom: 0px;
				width: 6px;
			}
		}
		.content-title,
		.child {
			text-decoration: none;
			padding: 20px;
			padding-left: 50px;
			display: block;
			font-size: 16px;
			font-weight: 300;
			display: flex;
			align-items: center;
			letter-spacing: 0.5px;
			&.active {
				background: rgba(255, 255, 255, 1);
				font-weight: 600;
				.side-icon {
					opacity: 1;
				}
			}
			&:hover {
				background: #e6e6e6;
			}
			.side-icon {
				opacity: 0.5;
				padding-right: 15px;
			}
		}
		.side-text {
			flex: 1 1 auto;
		}
		.count {
			border: 1px solid #999;
			padding: 2px 4px;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			border-radius: 2px;
			min-width: 19px;
			height: 21px;
			display: flex;
			align-items: center;
			justify-content: center;
			letter-spacing: 0px;
		}
		.child {
			padding-left: 44px;
		}
	}
	.content {
		display: flex;
		flex-direction: row;
		.scope-picker-component {
			width: 50%;
			max-width: 48%;
			.scope-button {
				height: 50px;
				.top {
					font-size: 16px;
					font-weight: 400;
					color: #fff;
				}
				padding: 15px;
				padding-left: 25px;
				.#{$bp}-icon {
					color: #fff;
					margin-top: 0px;
				}
				[data-icon='caret-down'] {
					transition: transform 150ms ease-in-out;
				}
				&[aria-expanded='true'] {
					[data-icon='caret-down'] {
						transform: rotate(180deg);
					}
				}
			}
		}
		.mode-menu-component {
			flex-grow: 1;
			width: auto;
		}
		.mode-button {
			height: $bottom-menu-height;
			justify-content: left;
			padding-left: 20px;
			flex-direction: row;
			justify-content: space-between;
			.current-mode {
				font-size: 16px;
				color: #fff;
				text-transform: capitalize;
			}
			.#{$bp}-icon {
				color: #fff;
			}
			[data-icon='caret-down'] {
				transition: transform 150ms ease-in-out;
			}
			&[aria-expanded='true'] {
				[data-icon='caret-down'] {
					transform: rotate(180deg);
				}
			}
		}
	}
}

.mode-menu {
	left: 0 !important;
	top: unset !important;
	bottom: 50px !important;
	transform: none !important;
	padding: 0px !important;
	width: 100%;
	.mode-dropdown-component {
		background: var(--community-accent-dark-faded);
		border-top: 2px solid var(--community-accent-dark);
		a {
			padding: 0px !important;
			.menu {
				height: $bottom-menu-height;
				display: flex;
				flex-direction: row;
				align-items: center;
				.side-icon {
					opacity: 0.5;
					padding-left: 20px;
				}
				.side-text {
					padding-left: 15px;
					font-size: 16px;
				}
				&.active {
					.side-icon {
						opacity: 1;
					}
					.side-text {
						font-weight: 600;
					}
				}
			}
		}
	}
}

@include mobile {
	.scope-dropdown-component.in-dashboard {
		background: var(--community-accent-dark-faded);
	}
	.scope-picker-menu {
		border-top: 2px solid var(--community-accent-dark);
		width: 100%;
		padding: 0px !important;
	}
}
