@use 'styles/vendor';

$bp: vendor.$bp-namespace;

@mixin button-colors {
	.#{$bp}-button.#{$bp}-minimal {
		color: currentColor;
		.#{$bp}-icon {
			color: currentColor;
		}
	}
}

.global-controls-component {
	@include button-colors;

	display: flex;
	align-items: center;

	.#{$bp}-button {
		padding: 0px 10px;
	}
}

// AccentStyle.tsx provides a very specific color selector for buttons under .bp[#]-dark
// so we need to be even more specific about overriding it here.
.#{$bp}-dark {
	.global-controls-component {
		@include button-colors;
	}
}
