.pub-presentation {
	.container.pub {
		max-width: 728px;
	}
	.license-wrapper {
		padding: 4em 0em;
	}
}

@media only screen and (max-width: 45em) {  /* 720px */
	.pub-presentation {
		.container.pub {
			max-width: 100%;
		}
	}
}