.pub-presentation {
	.container.pub {
		max-width: 728px;
	}
	.license-wrapper {
		padding: 4em 0em;
	}
}

.no-snapshots-wrapper {
	padding: 10em 0em;
}
	
@media only screen and (max-width: 720px) {  /* Used to be 45em */
	.pub-presentation {
		.container.pub {
			max-width: 100%;
		}
	}
}