.nav-drag {
	width: 100%;
	overflow: hidden;
	overflow-x: scroll;
	.main-list-style {
		background: lightgrey;
		display: inline-flex;
		padding: 8px;
		&.dragging {
			background: lightblue;
		}
	}
	.item-style {
		user-select: none;
		white-space: nowrap;
		padding: 16px;
		margin-bottom: 8px;
		background: grey;
		&.dragging {
			background: lightgreen;
		}
	}
}