.formatting-bar-media-component {
	display: flex;
	height: 430px;
	max-height: calc(100vh - 75px);
	margin: -20px; /* To undo the padding of the overlay card */
	.options {
		flex: 0 0 auto;
		border-right: 1px solid #DDD;
		overflow: scroll;
	}
	.formatting-bar-media-component-content {
		flex: 1 1 auto;
		&.dropzone {
			background-color: #F7F7F9;
			display: flex;
			justify-content: center;
			align-items: center;
			&.dropzone--isActive {
				background-color: #E7E7E9;
			}
			.drag-message {
				text-align: center;
			}
			.bp3-icon {
				color: #666;
				margin-bottom: 0.5em;
			}
			.drag-title {
				color: #444;
				font-weight: 800;
				font-size: 24px;
			}
			.drag-details {
				padding-top: 1em;
				font-size: 16px;
			}

		}
		.top-input {
			display: flex;
			border-bottom: 1px solid #DDD;
			input {
				box-shadow: none;
			}
		}
		iframe {
			width: 100%;
			height: calc(100% - 41px);
			display: block;
		}
		.splash-panel {
			width: 100%;
			height: calc(100% - 41px);
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.bp3-menu {
		min-width: auto;
	}
	.bp3-menu-item {
		padding-right: 1em;
		align-items: center;
	}
	

}