@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.slider-input-component {
	display: flex;
	align-items: center;
	.#{$bp}-input-group {
		margin-left: 15px;
		width: 50px;
		display: flex;
		align-items: center;
	}
	.left-label {
		user-select: none;
		width: 80px;
		margin-right: 10px;
	}
	.right-label {
		user-select: none;
		margin-left: 3px;
		width: 40px;
	}
}
