@import "~normalize.css";
@import "~pdfjs-dist/web/pdf_viewer.css";

// Override Default blueprint colors here
// ****************************
$dark-gray1: desaturate(#182026, 0%) ;
$dark-gray2: desaturate(#202b33, 0%) ;
$dark-gray3: desaturate(#293742, 0%) ;
$dark-gray4: desaturate(#30404d, 0%) ;
$dark-gray5: desaturate(#394b59, 0%) ;

$gray1: desaturate(#5c7080, 0%) ;
$gray2: desaturate(#738694, 0%) ;
$gray3: desaturate(#8a9ba8, 0%) ;
$gray4: desaturate(#a7b6c2, 0%) ;
$gray5: desaturate(#bfccd6, 0%) ;

$light-gray1: desaturate(#ced9e0, 0%) ;
$light-gray2: desaturate(#d8e1e8, 0%) ;
$light-gray3: desaturate(#e1e8ed, 0%) ;
$light-gray4: desaturate(#ebf1f5, 0%) ;
$light-gray5: desaturate(#f5f8fa, 0%) ;

$blue1: $dark-gray1;
$blue2: $dark-gray2;
$blue3: $dark-gray3;
$blue4: $dark-gray4;
$blue5: $dark-gray5;

// Import blueprint core color and variables
// ****************************
$icon-font-path: "~@blueprintjs/core/resources/icons";
@import "~@blueprintjs/core/src/common/_colors.scss";
@import "~@blueprintjs/core/src/common/_variables.scss";

// Override sass Variables here
// ****************************
$pt-border-radius: floor($pt-grid-size / 5);
$dark-navbar-background-color: $dark-gray2 !default;

// Import Core Blueprint sass
// ****************************
@import "~@blueprintjs/core/src/blueprint.scss";