body {
	/*max-width: 1024px;*/
	// min-width: 800px; // This is a bad band-aid until we get better mobile support.
	margin: 0 auto;
	/*padding: 0em 1em;*/
	/*background-color: #F5F5F5;*/
	/*font-family: 'Helvetica';*/
}

.highlight {
	background-color: green;
	background-color: #cddeea;
}

.light-background-on-hover:hover {
	background-color: rgba(167, 182, 194, 0.3) !important;
}

.verticalNavHover:hover {
	padding: .15em .5em .15em calc(.5em - 3px) !important;
	border-left: 3px solid #2C2A2B !important;
}

.discussion-item .discussion-body div>*:last-child {
	margin-bottom: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.background-button {
	/*background: rgba(255, 255, 255, 0.8) !important;
	&:hover {
		background: rgba(255, 255, 255, 0.9) !important;
	}
	&:active {
		background: rgba(255, 255, 255, 0.95) !important;
	}*/
	opacity: 0.9;
}
/* Input Fields */
/* ------------ */

.prefixed-group.pt-control-group {
	display: table;
}
.input-prefix.pt-button:not([class*="pt-intent-"]):disabled, .input-prefix.pt-button.pt-disabled:not([class*="pt-intent-"]) {
    color: inherit;
    border-color: rgba(16, 22, 26, 0.1) rgba(16, 22, 26, 0.1) rgba(16, 22, 26, 0.17) rgba(16, 22, 26, 0.1);
    cursor: default;
    display: table-cell;
    white-space: nowrap;
    width: 1%;
}
.prefixed-input.pt-intput {
	display: table-cell;
}

.pt-input:focus {
	box-shadow: inset 0 0px 1px 1px rgba(16, 22, 26, 0.85);
}

.pt-input.margin-bottom, .pt-control-group.margin-bottom {
	margin-bottom: 1.2em;
}

form {
	margin-bottom: 0em;
}

label {
	display: block;
	color: #58585B;
}

input[type="text"]:not(.pt-input), input[type="email"]:not(.pt-input), input[type="password"]:not(.pt-input), textarea {
	display: block;
	padding: 5px 10px;
	border: 2px solid #BBBDC0;
	border-radius: 1px;
	font-size: 1.2em;
	margin-bottom: 1em;
	resize: vertical;
}
input[type="text"]:focus:not(.pt-input), input[type="email"]:focus:not(.pt-input), input[type="password"]:focus:not(.pt-input), textarea:focus:not(.pt-input){
	outline: none;
	border: 2px solid #58585B;
}
input[type="file"] {
	display: block;
	padding: 5px 0px;
	border: 0;
	font-size: 1em;
	margin-bottom: 1.2em;
}

input[type="file"]:focus {
	outline: 2px solid #58585B;
}

.inputSubtext {
	font-size: 0.8em;
	text-decoration: none;
	position: relative;
	top: -1.4em;
}

.subtext {
	font-size: 0.8em;
}


.small-button.pt-button-group .pt-button, .small-button.pt-button { 
	min-height: 24px;
	line-height: 24px;
}

/* ------------ */

.pub-body.journal-page-content {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
		border: 1px solid #DDD;
	}
	*:first-child {
	  margin-top: 0;
	  padding-top: 0;
	}

	// h1 {
	// 	font-size: 2em;
	// 	margin: 0.67em 0;
	// }

	// h2 {
	// 	font-size: 1.6em;
	// 	margin: 0.67em 0;
	// }

	// h3 {
	// 	font-size: 1.4em;
	// 	margin: 0.67em 0;
	// }
}

// .pub-body img {
// 	max-width: 100%;
// }

// .pub-body {
// 	h1, h2, h3, h4, h5, h6 {
// 		font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif, "Icons16";
// 		margin-bottom: 1em;
// 	}
// 	h1 {
// 		font-size: 2em;
// 	}
// 	h2 {
// 		font-size: 1.5em;
// 	}
// 	h3 {
// 		font-size: 1.25em;
// 	}
// 	p {
// 		font-size: 16px;
// 		line-height: 1.75;
// 		margin-bottom: 1.5em
// 	}
// }

// .pub-article {
// 	.p-block {
// 		font-size: 16px;
// 		line-height: 1.75;
// 		margin-bottom: 1.5em
// 	}
// }
/*img {
	max-width: 100%;
	display: block;
	position: relative;
	padding: 1em 0em;
}*/

/*.pub-body a {
	position: relative;
	display: block;
}
.pub-body a:hover:after {
	content: 'Edit with DbDb';
	position: absolute;
	color: #fff;
	background-color: #2b2c2d;
	text-decoration: none;
	top: 1em;
	right: 0;
	width: 200px;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 0.85em;
	border-radius: 1px;
}*/
.link {
	text-decoration: none;
	color: inherit;
}

.link:hover {
	text-decoration: underline;
}

.button {
	background-color: black;
	color: white;
	border: 0px;
	cursor: pointer;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	color: #DDD;
}

.button:active {
	transform: translateY(1px);
}

.userLink {
	text-decoration: none;
	color: black;
	padding: .25em 0em .25em 1.5em;
	display: inline-block;
	position: relative;
	max-width: calc(100% - 1.5em);
	word-wrap: break-word;
}
.userLink:hover {
	text-decoration: underline;
}

.userLink:visited {
	color: rgb(85, 26, 139);
}

.userLinkDate {
	opacity: 0;
	transition: .1s linear opacity;
	color: #999;
	font-size: 0.8em; 
	text-decoration: none;
	padding: 0em .5em;
	display: inline-block;
}
.userLink:hover .userLinkDate {
	opacity: 1;
}

.underlineOnHover:hover {
	text-decoration: underline !important;
}

.bottomShadowOnHover:hover {
	box-shadow: inset 0 -3px 0 #556673;
}

.showChildOnHover .hoverChild {
	opacity: 0;
	transition: .1s linear opacity;
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}

.showChildOnHover:hover .hoverChild {
	opacity: 1;
	pointer-events: auto;
	user-select: text;
	-webkit-user-select: text;
}

.opacity-on-hover-parent .opacity-on-hover-child {
	opacity: 0.85;
}

.opacity-on-hover-parent:hover .opacity-on-hover-child {
	opacity: 1;
}

.down-arrow {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	margin-top: 4px;
	content: "";
	border: 4px solid;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
	.hide-on-mobile {
		display: none !important;
	}
	.full-on-mobile {
		display: block !important;
		width: calc(100% - 2em) !important;
		padding-left: 1em !important;
		padding-right: 1em !important;
		margin: .5em auto !important;
	}
}

/* ------------ */
/* Landing Page */
/* ------------ */
.previews-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 1em;
	width: calc(100% + 2em);
	position: relative;
	left: -1em;
}
/* ------------ */

/* ------------ */
/* User Page */
/* ------------ */
@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
	.user-header {
		display: block !important;
	}
	.user-name {
		font-size: 3em !important;
	}
	.user-follow {
		display: inline-block !important;
		width: 100px !important;
	}
}
/* ------------ */



/* ------ */
/* Loader */
/* ------ */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/* ------ */

/* ------ */
/* Button Loader */
/* ------ */
.horizontal-progress {
  -webkit-animation: horizontalMove .75s infinite linear;
  animation: horizontalMove .75s infinite linear;
}

@-webkit-keyframes horizontalMove {
	0% { -webkit-transform: translateX(-100%)}
	100% { -webkit-transform: translateX(100%)}
}

@keyframes horizontalMove {
  0% { 
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  } 
  100% { 
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
}
/* ------ */


/* ------ */
/* About Page Content */
/* ------ */
.journal-about-content {
	h1, h2, h3, h4, h5, h6 {
		color: #444;
		font-size: 1em
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.25em;
	}
	img {
		max-width: 100%;
	}
}
/* ------ */
