body {
	/*max-width: 1024px;*/
	margin: 0 auto;
	/*padding: 0em 1em;*/
	/*background-color: #F5F5F5;*/
	/*font-family: 'Helvetica';*/
}

.highlight {
	background-color: green;
}

.verticalNavHover:hover {
	padding: .15em .5em .15em calc(.5em - 3px) !important;
	border-left: 3px solid #2C2A2B !important;
}

.discussion-item .discussion-body div>*:last-child {
	margin-bottom: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
/* Input Fields */
/* ------------ */
form {
	margin-bottom: 0em;
}

label {
	display: block;
	color: #58585B;
}

input[type="text"]:not(.pt-input), input[type="email"]:not(.pt-input), input[type="password"]:not(.pt-input), textarea {
	display: block;
	padding: 5px 10px;
	border: 2px solid #BBBDC0;
	border-radius: 1px;
	font-size: 1.2em;
	margin-bottom: 1em;
	resize: vertical;
}
input[type="text"]:focus:not(.pt-input), input[type="email"]:focus:not(.pt-input), input[type="password"]:focus:not(.pt-input), textarea:focus{
	outline: none;
	border: 2px solid #58585B;
}
input[type="file"] {
	display: block;
	padding: 5px 0px;
	border: 0;
	font-size: 1em;
	margin-bottom: 1.2em;
}

input[type="file"]:focus {
	outline: 2px solid #58585B;
}

.inputSubtext {
	font-size: 0.8em;
	text-decoration: none;
	position: relative;
	top: -1.4em;
}

.subtext {
	font-size: 0.8em;
}
/* ------------ */

.pub-body img {
	max-width: 100%;
}

/*img {
	max-width: 100%;
	display: block;
	position: relative;
	padding: 1em 0em;
}*/

/*.pub-body a {
	position: relative;
	display: block;
}
.pub-body a:hover:after {
	content: 'Edit with DbDb';
	position: absolute;
	color: #fff;
	background-color: #2b2c2d;
	text-decoration: none;
	top: 1em;
	right: 0;
	width: 200px;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 0.85em;
	border-radius: 1px;
}*/
.link {
	text-decoration: none;
	color: inherit;
}

.link:hover {
	text-decoration: underline;
}

.button {
	background-color: black;
	color: white;
	border: 0px;
	cursor: pointer;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	color: #DDD;
}

.button:active {
	transform: translateY(1px);
}

.userLink {
	text-decoration: none;
	color: black;
	padding: .25em 0em .25em 1.5em;
	display: inline-block;
	position: relative;
	max-width: calc(100% - 1.5em);
	word-wrap: break-word;
}
.userLink:hover {
	text-decoration: underline;
}

.userLink:visited {
	color: rgb(85, 26, 139);
}

.userLinkDate {
	opacity: 0;
	transition: .1s linear opacity;
	color: #999;
	font-size: 0.8em; 
	text-decoration: none;
	padding: 0em .5em;
	display: inline-block;
}
.userLink:hover .userLinkDate {
	opacity: 1;
}

.underlineOnHover:hover {
	text-decoration: underline !important;
}

.bottomShadowOnHover:hover {
	box-shadow: inset 0 -3px 0 #556673;
}

.showChildOnHover .hoverChild {
	opacity: 0;
	transition: .1s linear opacity;
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}

.showChildOnHover:hover .hoverChild {
	opacity: 1;
	pointer-events: auto;
	user-select: text;
	-webkit-user-select: text;
}

.opacity-on-hover-parent .opacity-on-hover-child {
	opacity: 0.85;
}

.opacity-on-hover-parent:hover .opacity-on-hover-child {
	opacity: 1;
}

.down-arrow {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	margin-top: 4px;
	content: "";
	border: 4px solid;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
	.hide-on-mobile {
		display: none !important;
	}
	.full-on-mobile {
		display: block !important;
		width: calc(100% - 2em) !important;
		padding-left: 1em !important;
		padding-right: 1em !important;
		margin: .5em auto !important;
	}
}

/* ------------ */
/* Landing Page */
/* ------------ */
.previews-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 1em;
	width: calc(100% + 2em);
	position: relative;
	left: -1em;
}
/* ------------ */

/* ------------ */
/* User Page */
/* ------------ */
@media screen and (min-resolution: 3dppx), screen and (max-width: 767px) {
	.user-header {
		display: block !important;
	}
	.user-name {
		font-size: 3em !important;
	}
	.user-follow {
		display: inline-block !important;
		width: 100px !important;
	}
}
/* ------------ */



/* ------ */
/* Loader */
/* ------ */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/* ------ */

/* ------ */
/* Button Loader */
/* ------ */
.horizontal-progress {
  -webkit-animation: horizontalMove .75s infinite linear;
  animation: horizontalMove .75s infinite linear;
}

@-webkit-keyframes horizontalMove {
	0% { -webkit-transform: translateX(-100%)}
	100% { -webkit-transform: translateX(100%)}
}

@keyframes horizontalMove {
  0% { 
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  } 
  100% { 
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
}
/* ------ */










/* Copyright 2014 Mozilla Foundation
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1.0;
}

.textLayer > div {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.textLayer .highlight {
  margin: -1px;
  padding: 1px;

  background-color: rgb(180, 0, 170);
  border-radius: 4px;
}

.textLayer .highlight.begin {
  border-radius: 4px 0px 0px 4px;
}

.textLayer .highlight.end {
  border-radius: 0px 4px 4px 0px;
}

.textLayer .highlight.middle {
  border-radius: 0px;
}

.textLayer .highlight.selected {
  background-color: rgb(0, 100, 0);
}

.textLayer ::selection { background: rgb(0,0,255); }
.textLayer ::-moz-selection { background: rgb(0,0,255); }

.textLayer .endOfContent {
  display: block;
  position: absolute;
  left: 0px;
  top: 100%;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.textLayer .endOfContent.active {
  top: 0px;
}


.annotationLayer section {
  position: absolute;
}

.annotationLayer .linkAnnotation > a {
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.annotationLayer .linkAnnotation > a /* -ms-a */  {
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
}

.annotationLayer .linkAnnotation > a:hover {
  opacity: 0.2;
  background: #ff0;
  box-shadow: 0px 2px 10px #ff0;
}

.annotationLayer .textAnnotation img {
  position: absolute;
  cursor: pointer;
}

.annotationLayer .textWidgetAnnotation input,
.annotationLayer .textWidgetAnnotation textarea,
.annotationLayer .choiceWidgetAnnotation select,
.annotationLayer .buttonWidgetAnnotation.checkBox input,
.annotationLayer .buttonWidgetAnnotation.radioButton input {
  background-color: rgba(0, 54, 255, 0.13);
  border: 1px solid transparent;
  box-sizing: border-box;
  font-size: 9px;
  height: 100%;
  padding: 0 3px;
  vertical-align: top;
  width: 100%;
}

.annotationLayer .textWidgetAnnotation textarea {
  font: message-box;
  font-size: 9px;
  resize: none;
}

.annotationLayer .textWidgetAnnotation input[disabled],
.annotationLayer .textWidgetAnnotation textarea[disabled],
.annotationLayer .choiceWidgetAnnotation select[disabled],
.annotationLayer .buttonWidgetAnnotation.checkBox input[disabled],
.annotationLayer .buttonWidgetAnnotation.radioButton input[disabled] {
  background: none;
  border: 1px solid transparent;
  cursor: not-allowed;
}

.annotationLayer .textWidgetAnnotation input:hover,
.annotationLayer .textWidgetAnnotation textarea:hover,
.annotationLayer .choiceWidgetAnnotation select:hover,
.annotationLayer .buttonWidgetAnnotation.checkBox input:hover,
.annotationLayer .buttonWidgetAnnotation.radioButton input:hover {
  border: 1px solid #000;
}

.annotationLayer .textWidgetAnnotation input:focus,
.annotationLayer .textWidgetAnnotation textarea:focus,
.annotationLayer .choiceWidgetAnnotation select:focus {
  background: none;
  border: 1px solid transparent;
}

.annotationLayer .textWidgetAnnotation input.comb {
  font-family: monospace;
  padding-left: 2px;
  padding-right: 0;
}

.annotationLayer .textWidgetAnnotation input.comb:focus {
  /*
   * Letter spacing is placed on the right side of each character. Hence, the
   * letter spacing of the last character may be placed outside the visible
   * area, causing horizontal scrolling. We avoid this by extending the width
   * when the element has focus and revert this when it loses focus.
   */
  width: 115%;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input,
.annotationLayer .buttonWidgetAnnotation.radioButton input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.annotationLayer .popupWrapper {
  position: absolute;
  width: 20em;
}

.annotationLayer .popup {
  position: absolute;
  z-index: 200;
  max-width: 20em;
  background-color: #FFFF99;
  box-shadow: 0px 2px 5px #333;
  border-radius: 2px;
  padding: 0.6em;
  margin-left: 5px;
  cursor: pointer;
  word-wrap: break-word;
}

.annotationLayer .popup h1 {
  font-size: 1em;
  border-bottom: 1px solid #000000;
  padding-bottom: 0.2em;
}

.annotationLayer .popup p {
  padding-top: 0.2em;
}

.annotationLayer .highlightAnnotation,
.annotationLayer .underlineAnnotation,
.annotationLayer .squigglyAnnotation,
.annotationLayer .strikeoutAnnotation,
.annotationLayer .fileAttachmentAnnotation {
  cursor: pointer;
}

.pdfViewer .canvasWrapper {
  overflow: hidden;
}

.pdfViewer .page {
  direction: ltr;
  width: 816px;
  height: 1056px;
  margin: 1px auto -8px auto;
  position: relative;
  overflow: visible;
  border: 9px solid transparent;
  background-clip: content-box;
  /*border-image: url(images/shadow.png) 9 9 repeat;*/
  background-color: white;
}

.pdfViewer.removePageBorders .page {
  margin: 0px auto 10px auto;
  border: none;
}

.pdfViewer.singlePageView {
  display: inline-block;
}

.pdfViewer.singlePageView .page {
  margin: 0;
  border: none;
}

.pdfViewer .page canvas {
  margin: 0;
  display: block;
}

.pdfViewer .page .loadingIcon {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*background: url('images/loading-icon.gif') center no-repeat;*/
}

.pdfPresentationMode:-webkit-full-screen .pdfViewer .page {
  margin-bottom: 100%;
  border: 0;
}

.pdfPresentationMode:-moz-full-screen .pdfViewer .page {
  margin-bottom: 100%;
  border: 0;
}

.pdfPresentationMode:-ms-fullscreen .pdfViewer .page {
  margin-bottom: 100% !important;
  border: 0;
}

.pdfPresentationMode:fullscreen .pdfViewer .page {
  margin-bottom: 100%;
  border: 0;
}