.instructions-tab-component {
	p,li {
		font-size: 18px;
		line-height: 25px;
	}
	li p {
		margin-bottom: 0px;
	}
	p {
		margin-bottom: 18px;
	}
	.begin-submission-button {
		padding: 12px 50px;
		font-weight: 600;
		letter-spacing: 0.03em;

		.begin-submission-icon {
			opacity: 0.45;
			margin-left: -28px;
		}
	}
}
