@import '../PubHeader/themes.scss';
$spub-configuration-width: 1000px;

.spub-header-component {
	padding-top: 26px;

	h1 {
		margin: 0;

		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: 56px;
		letter-spacing: 0em;
		text-align: left;

		box-decoration-break: clone;
		// color: var(--community-accent-dark);
	}
}

.tabs.spub-header-component {
	> .bp3-tab-list {
		max-width: $spub-configuration-width;
		margin: auto;
		> .bp3-tab-indicator-wrapper > .bp3-tab-indicator {
			background: var(--community-accent-dark);
		}
		padding-top: 5px;
		.tab {
			min-width: 200px;
			margin: 0;
			color: var(--community-accent-dark);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 17px;
			letter-spacing: 0.15em;
			text-align: left;
			padding: 15px;
			text-transform: uppercase;
		}
	}
	.tab-panel {
		padding-top: 0;
		margin: 0 auto;
		max-width: $spub-configuration-width;
	}
}
