.submission-tab-component {
	.submission-input input::placeholder {
		font-style: italic;
		letter-spacing: .015em;
		color: #747474;
	}
	.submission-input input {
		background: inherit;
		min-height: unset;
		border: none;
		border-bottom: 1px solid #BDBDBD;
		box-shadow: none;
	}
}
