.pub-meta_download-component {
	display: flex;
	padding-bottom: 2em;
	.buttons-wrapper {
		display: flex;
	}
	.subtext {
		height: 0px;
		position: relative;
		top: 3px;
	}
	.typset-button {
		margin-right: 1em;
	}
	.formatted-download-option {
		padding-right: 50px;
	}
	.export-option {
		min-width: 40%;
	}
}
