.pub-meta-component {
	position: relative;
	.header {
		display: flex;
		align-items: center;
		margin-top: 1em;
		margin-bottom: 1em;
		h3 {
			flex: 1 1 auto;
			margin: 0;
		}
	}
	&.js-is-sticky,
	&.js-is-stuck {
		z-index: 19;
	}
}
