.pub-meta-component {
	position: relative;
	border-bottom: 1px solid #d2d2d2;
	background: #f0f0f0;
	.header {
		display: flex;
	    align-items: center;
		h3 {
			flex: 1 1 auto;
			margin: 0;
		}
	}
	&.js-is-sticky,
	&.js-is-stuck {
		z-index: 19;
	}
}
