.pub-collab-details-component {
	h5 {
		margin-bottom: 2em;
	}
	.pt-callout {
		margin-top: 2em;
		h5 {
			margin-bottom: 5px;
		}
		.delete-button-wrapper {
			padding-top: 1em;
		}
	}
	.pt-form-group {
		max-width: 500px;
	}
	.save-button-wrapper {
		float: right;
	}
}