@import 'styles/mixins.scss';

.inherited-members-block-component {
	background: #f9f9f9;
	padding: 10px;
	border-radius: 4px;
	&:not(:last-child) {
		margin-bottom: 1em;
	}
	.top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		@include mobile {
			margin-bottom: 10px;
		}
	}
	.preview-block {
		.avatar-component {
			margin-right: 5px;
		}
	}
	.explanation-block {
		margin-top: 1em;
	}
	.members-block {
		margin-top: 2em;
	}
}
