.members-dialog-component.bp3-dialog {
    width: 1000px;
    max-width: 90vw;
    max-height: 90vh;

    .bp3-dialog-body {
        overflow-y: auto;
    }

    .user-autocomplete-component {
        flex-shrink: 1;
    }

    .members-container {
        display: flex;
        flex-direction: column;
        max-height: 500px;
        margin-top: 1em;
        overflow: auto;
    }

    .member-row-component {
        margin-top: 0.75em;
        padding-top: 0.75em;
        margin-bottom: 0em;
        padding-bottom: 0em;
    }

    .inherited-members-block-component {
        outline: none;
        background: none;
        margin-top: 2em;
    }
}
