.image-upload-component {
	margin-bottom: 15px;
	.pt-button.pt-icon-media, .pt-button.pt-icon-media.pt-disabled, .image-wrapper {
		display: inline-block;
		margin-top: 0.5em;
		&:before {
			font-size: 30px;
			line-height: inherit;
			opacity: 0.75;
		}
	}
	.pt-button.pt-icon-media, .pt-button.pt-icon-media.pt-disabled{
		background-color: #F0F0F0;
	}
	.image-wrapper {
		position: relative;
		cursor: pointer;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		&:not(.accent-background) {
			background-color: #F0F0F0;
		}
	}
	input {
		display: none;
	}
	.image-options {
		vertical-align: top;
		margin: 0.5em 0em;
		display: inline-block;
		width: 30px;
		.pt-button {
			display: block;
		}
	}
	.helper-text {
		color: #6e6e6e;
		font-size: 12px;
	}
}