@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.community-preview-component {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #f0f0f0;
	padding: 1em;
	// border: 1px solid #E5E5E5;
	border-radius: 2px;
	box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0),
		0 1px 1px rgba(16, 22, 26, 0.2);
	display: block;
	text-decoration: none;
	height: 200px;
	display: flex;
	flex-direction: column;
	&:hover {
		text-decoration: none;
		box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 4px 8px rgba(16, 22, 26, 0.2),
			0 18px 46px 6px rgba(16, 22, 26, 0.2);
	}
	.logo-wrapper {
		margin: auto auto;
		text-align: center;
	}
	.logo {
		max-width: 100%;
		max-height: 55px;
	}
	.stat {
		display: inline-block;
		padding-right: 1em;
		opacity: 0.85;
		margin-top: 1em;
	}
	&.#{$bp}-skeleton {
		padding: 0em;
		.logo {
			width: calc(95% - 1em);
			height: 5em;
			margin: 1em 1em 0px;
		}
		.description {
			height: 1.5em;
			width: calc(95% - 2em);
			margin: 0px 1em 1em;
			overflow: hidden;
		}
	}
}
