.layout-editor-drafts-component {
	.drafts-wrapper {
		// margin: 2em 0em;
		.drafts-header {
			opacity: 0.85;
			border-top: 1px solid #EEE;
			border-bottom: 1px solid #EEE;
			text-align: center;
			padding: 2em 0em;
			background-color: #F9F9F9;
		}
	}
}