.pub-reviews-component {
	margin-top: 2em;
	.review-row {
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 7px 10px;
		margin: 2px -10px;
		border-radius: 2px;
		&:hover {
			background: #F4F4F7;
		}
		.short-id {
			font-weight: 600;
			font-size: 16px;
		}
		.branch-tag {
			margin: 0em 1em;
		}
		.date {
			flex: 1 1 auto;
		}
		.status-tag {
			margin-left: 1em;
			min-width: 95px;
			text-align: center;
		}
	}
}