@import url('https://fonts.googleapis.com/css?family=Raleway:600');

#new-landing-container {
	/***** Globals *****/
	.buttons {
		margin: 3em 0;
		text-align: center;
		button {
			margin: 0 0.5em;
		}
	}

	/***** Jumbotron and Nav *****/
	#jumbotron {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #454F60;
		background-image: url('/static/herobg.png');
		color: #fff;
		font-size: 16px;
		/***** Nav *****/
		nav {
			display: flex;
			align-items: center;
			img {
				height: 35px;
				display: block;
				margin-right: 0.5em;
			}
			.title {
				font-family: 'Raleway', sans-serif;
				font-size: 32px;
			}
			.spacer {
				flex-grow: 1;
				flex-shrink: 1;
			}
			.link, .separator {
				margin-left: 1em;
				color: inherit;
			}
		}

		/***** Header Content *****/
		.content {
			text-align: center;
			h1 {
				color: #fff;
				margin: 1em 0;
			}
			.landing-header {
				min-width: 212px;
				display: inline-block;
				text-align: right;
				text-decoration: underline;
				transition: opacity .75s;
				&.landing-header-exit-active, &.landing-header-enter, &.landing-header-exit {
					opacity: 0;
				}
				&.landing-header-enter {
					position: absolute;
				}
				&.landing-header-enter-done {
					opacity: 1;
					position: relative;
				}
			}
			.subtitle {
				max-width: 500px;
				margin: 0 auto;
			}
			img.hero {
				max-width: 800px;
			}
			.col-12 {
				margin-bottom: 0;
			}
		}


	}

	/***** Main Content *****/
	#main {
		h2, h3, .subtitle, .title, .divider {
			color: #454F60;
			text-align: center;
		}
		.subtitle {
			font-size: 18px;
			font-weight: 300;
			color: #555;
		}
		.divider {
			margin: 1em 0;
		}
		.bg {
			padding: 2em 0;
			&#opensource, &#foryou {
				background-color: #454F60;
				color: #fff;
				h2, .subtitle, .title {
					color: #fff;
				}
				a, a:visited, a:active, a:hover {
					color: #ccc;
				}
			}
			&#foryou, &#opensource {
				p {
					max-width: 350px;
					margin: 0 auto 10px;
				}
			}
		}
		/*** BEGIN type block ***/
		.type-block {
			display: flex;
			margin: 4em 6em;
			&.flipped {
				flex-direction: row-reverse;
				.content {
					margin: auto 0 auto 8em;
				}
			}
			&.centered {
				display: block;
				text-align: center;
				margin: 1em auto;
				max-width: 400px;
				.content {
					margin: 0;
					.title {
						text-align: center;
						}
					.buttons {
						text-align: center;
						button {
							margin: 0 .5em;
						}
					}
				}
			}

			.content {
				margin: auto 8em auto 0;
				.buttons {
					margin: 0;
					text-align: left;
					button {
						margin: 0;
					}
				}
				.title {
					font-size: 20px;
					font-weight: 800;
					text-align: left;
				}
				.description {
					margin: 1em 0;
				}
			}
			.image {
				flex-shrink: 0;
				flex-grow: 1;
				width: 50%;
				min-height: 200px;
				img {
					width: 100%;
				}
			}
		}
	/*** END type block ***/

	#features {
		.feature-list {
			margin: 0 auto;
			padding: 0;
			max-width: 1000px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: auto auto auto auto;
			list-style-type: none;
			li {
				margin: 2em;
				.icon {
					margin: 0 .75em .75em 0;
					float: left;
				}
				.title {
					text-align: left;
					font-weight: 600;
					font-size: 18px;
				}
				.description {
					font-size: 13px;
					font-weight: 300;
					padding: 0 .25em;
					clear: both;
				}
			}
		}
	}
	/***** END Features *****/

	/**** BEGIN Open Source *****/
	#opensource {
		.col-12 {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			> * {
				align-self: center;
			}
			.header {
				h2 {
					text-align: left;
				}
				.pt-icon {
					padding-top: 4px;
				}
			}
			.buttons {
				margin: 1em 0;
			}
			.pubpub-links {
				text-align: center;
				.pt-icon {
					vertical-align: middle;
					a:hover {
						text-decoration: none;
					}
				}
				a {
				margin: 0 1em;
				}
			}
		}
	}
}
/*** End Main Block ***/
	/**** Footer *****/
	.footer {
		background-color: #454F60;
	}

}

/***** Mobile *****/
@media only screen and (max-width: 720px) {
	#new-landing-container {
		#jumbotron {
			img.hero {
				width: 100%;
			}
		}
		#main {
			#features {
				.feature-list {
					grid-template-columns: 1fr 1fr;
					max-width: 100%;
					width: 100%;
				}
			}
			.type-block {
				flex-wrap: wrap-reverse;
				margin: 4em 1em;
				&.flipped {
					.content {
						margin: 2em 0em 0em;
					}
				}
				.content {
					margin: 2em 0em 0em;
				}
				.image {
					width: 100%;
				}
			}
			#opensource {
				.col-12 {
					.header {
						h2 {
							text-align: center;
						}
					}
				}
			}

		}
	}
}
