.user-header-component {
	&:after {
		display: table;
		clear: both;
		content: "";
	}
	.avatar-wrapper {
		float: right;
		width: calc(150px + 4em);
		padding-left: 4em;
		text-align: center;
		a {
			margin: 20px 0px;
		}
	}
	.details {
		margin-right: calc(150px + 2em);
		.title {
			font-style: italic;
		}
		.bio {
			margin: 20px 0px;
			max-width: 700px;
			font-size: 1.2em;
		}
		.links {
			margin: 20px 0px 0px -10px;
		}
	}
	
}

@media only screen and (max-width: 720px) {  /* Used to be 45em */
	.user-header-component {
		.avatar-wrapper {
			float: none;
			width: 100%;
			padding-left: 0em;
			margin-bottom: 20px;
			a {
				margin-bottom: 0px;
			}
		}
		.details {
			margin-right: 0px;
			text-align: center;
			.links {
				margin: 20px 0px 0px;
			}
		}
	}
}