@use 'styles/vendor.scss';

.pub-history-viewer-component {
	display: flex;
	position: relative;
	flex-direction: column;
	max-height: 600px;
	max-width: 400px;
	margin-top: 25px;

	h4 {
		margin-bottom: 0;
	}

	.top-line {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	.title-and-spinner {
		display: flex;
		align-items: center;
		.#{vendor.$bp-namespace}-spinner {
			opacity: 0;
			transition: 0.1s ease-out opacity;
			margin-left: 5px;
		}
	}

	&.loading {
		.title-and-spinner {
			.#{vendor.$bp-namespace}-spinner {
				opacity: 1;
			}
		}
	}

	.playback-button-group {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 5px;
		.#{vendor.$bp-namespace}-popover-wrapper {
			flex: unset;
		}
	}

	.#{vendor.$bp-namespace}-slider {
		margin-bottom: 40px;
		.#{vendor.$bp-namespace}-slider-label {
			white-space: nowrap;
		}
		.#{vendor.$bp-namespace}-slider-axis {
			& > .#{vendor.$bp-namespace}-slider-label {
				transform: translate(0, 20px);
				&:first-child {
					left: 0;
				}
				&:last-child {
					right: 0;
					left: unset !important;
				}
				.date-and-time > .time {
					display: none;
				}
			}
		}
	}

	ul.#{vendor.$bp-namespace}-menu {
		position: relative;
		overflow: auto;
		border-radius: 4px;
		background: darken(white, 4%);
		border: 4px solid darken(white, 4%);
	}
}
