@mixin column {
    .section {
        flex-direction: column;
        align-items: flex-start !important;
        height: auto;
        h6 {
            margin-bottom: 0;
            flex-shrink: 0;
        }
    }
}

@media only screen and (max-width: 1020px) {
    .pub-details-component {
        @include column;
        flex-direction: column;
        .section {
            width: 100%;
            max-width: none;
        }
        .pub-contributors-component {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        & > *:last-child {
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 580px) {
    .pub-contributors-component {
        display: block !important;
    }
}

.pub-details-component {
    @include column;
    position: relative;
    display: flex;
    justify-content: space-between;

    .section {
        display: flex;
        align-items: center;
        max-width: 25%;
        min-width: 15%;
        margin-top: 40px;
        h6 {
            margin: 0;
            margin-right: 10px;
            height: 30px;
            display: flex;
            align-items: center;
            line-height: initial;
            color: #cfcfcf;
            white-space: nowrap;
        }
    }

    .contributors .pub-contributors-component {
        & > :first-child {
            padding-top: 8px;
        }
        overflow: scroll;
    }

    .click-to-copy {
        margin-left: -5px;
    }

    .bp3-button,
    .bp3-button:hover,
    .bp3-icon,
    a {
        color: inherit;
    }

    .publication-dates {
        .full-height-date {
            height: 30px;
            line-height: 30px;
        }
    }

    .collections {
        .collection-list {
            overflow: scroll;
            .collection-list-entry {
                display: block;
                &:not(:last-child) {
                    margin-bottom: 7px;
                }
            }
        }
    }
}
