@import '../themes.scss';
@import 'styles/variables.scss';

.pub-details-component {
    height: 100%;

    .pub-title {
        font-family: $header-font;
        height: $top-bar-total-height;
        line-height: $top-bar-total-height;
        margin-top: 2px;
        width: calc(100% - 120px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: normal;
    }

    .sections-wrapper {
        position: relative;
        height: calc(100% - #{$top-bar-total-height});
        display: flex;
        justify-content: space-between;

        .section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 25%;
            min-width: 15%;
            h6 {
                margin: 0;
                margin-right: 10px;
                height: 30px;
                display: flex;
                align-items: center;
                line-height: initial;
                white-space: nowrap;
            }
        }

        .contributors .pub-contributors-component {
            & > :first-child {
                padding-top: 8px;
            }
            overflow: auto;
        }

        .click-to-copy {
            margin-left: -5px;
        }

        .bp3-button,
        .bp3-button:hover,
        .bp3-icon,
        a {
            color: inherit;
        }

        .publication-dates {
            .full-height-date {
                height: 30px;
                line-height: 30px;
            }
        }

        .collections {
            .collection-list {
                overflow: auto;
                .collection-list-entry {
                    display: block;
                    &:not(:last-child) {
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
}
