.license-select-component__menu-item {
    align-items: center !important;
    .title {
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .full {
        font-size: 0.8em;
        color: #777;
        text-decoration: none;
    }
    .link {
        display: flex;
        margin-left: 5px;
        align-items: center;
        font-size: 0.8em;
        color: #777;
        text-decoration: none;
        .bp3-icon {
            margin-left: 3px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
