#dashboard-container {
	margin-bottom: 2em;
	.content-title {
		margin-bottom: 1em;
	}
	.content-buttons {
		float: right;
		button {
			margin-left: 1em;
		}
	}
}

@media only screen and (min-width: 750px) {
	@supports (display: grid) {
		#dashboard-container {
			.dashboard-columns {
				display: grid;
				grid-template-columns: 200px 1fr;
				grid-template-areas: "side main";
				grid-column-gap: 4%;
				margin-top: 2em;
			}
			.side-content {
				grid-area: side;
			}
			.main-content {
				grid-area: main;
				min-width: 0;
			}
			
		}
	}
}