@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.dashboard-custom-scripts-container {
	.loading-indicator {
		display: flex;
		align-items: center;
		.#{$bp}-spinner {
			margin-right: 4px;
		}
	}
	.#{$bp}-tab-panel {
		height: calc(100vh - 300px);
	}
	.callout-text {
		line-height: 15px;
		padding-bottom: 30px;
	}
}
