.dashboard-custom-scripts-container {
    .loading-indicator {
        display: flex;
        align-items: center;
        .bp3-spinner {
            margin-right: 4px;
        }
    }
    .bp3-tab-panel {
        height: calc(100vh - 300px);
    }
    .callout-text {
        line-height: 15px;
        padding-bottom: 30px;
    }
}
