.spub-header-component {
	border-bottom: 1px solid #d2d2d2;
	padding: 26px;
	height: 550px;

	.tabs {
		max-width: 900px;
		> .bp3-tab-list {
			> .bp3-tab-indicator-wrapper > .bp3-tab-indicator {
				background: var(--community-accent-dark);
			}
			width: 1005.79px;
			height: 0px;
			padding-top: 5px;
			.tab {
				color: var(--community-accent-dark);
				font-weight: 500;
				line-height: 17px;
				padding: 15px;
			}
		}
	}
}
