@import 'styles/variables.scss';
@import './themes.scss';

$header-margin-top: 0px;
$header-margin-bottom: 26px;
$header-margin-bottom-mobile: 13px;
$header-margin-total: $header-margin-top + $header-margin-bottom;
$header-margin-total-mobile: $header-margin-top + $header-margin-bottom-mobile;
$title-elements-spacing: 15px;
$mobile-bottom-buttons-padding-top: 15px;
$mobile-bottom-buttons-spacing: 10px;

.pub-header-component {
	position: relative;
	z-index: 20;
	border-bottom: 1px solid var(--community-accent-dark);
	padding: 200px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: inherit;
	}

	h1 {
		margin: 0;

		font-family: $header-font;
		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: 56px;
		letter-spacing: 0em;
		text-align: left;

		box-decoration-break: clone;
		@include smaller-viewport {
			font-size: 32px;
		}
	}
}

.bp3-tabs {
	color: var(--community-accent-dark);
	max-width: 900px;
}

.bp3-tab-list {
	position: absolute;
	width: 1005.79px;
	height: 0px;
	padding-top: 5px;
}

.bp3-tab {
	color: var(--community-accent-dark);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0.15em;
	text-align: left;
	padding: 15px;
	text-transform: uppercase;
}
