@import 'styles/variables.scss';
@import './themes.scss';

$header-margin-top: 0px;
$header-margin-bottom: 26px;
$header-margin-bottom-mobile: 13px;
$header-margin-total: $header-margin-top + $header-margin-bottom;
$header-margin-total-mobile: $header-margin-top + $header-margin-bottom-mobile;
$title-elements-spacing: 15px;
$mobile-bottom-buttons-padding-top: 15px;
$mobile-bottom-buttons-spacing: 10px;

.pub-header-component {
	position: relative;
	z-index: 20;
	border-bottom: 1px solid #d2d2d2;
	padding: 200px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: inherit;
	}

	h1 {
		margin: 0;
		font-size: 48px;
		line-height: 1.5em;
		font-weight: normal;
		font-family: $header-font;
		box-decoration-break: clone;
		@include smaller-viewport {
			font-size: 32px;
		}
	}

	.bp3-tabs {
		// how access colors of community
		color: #330402;
		max-width: 900px;
		.bp3-tab-list {
			.bp3-tab {
				color: #330402;
			}
		}
	}
}
