.metadata-editor-component {
    .field-entry {
        margin-bottom: 10px;
    }
    .proposed-author {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        .avatar-component {
            margin-right: 4px;
        }
        .author-name {
            flex-grow: 1;
            &.ignored {
                text-decoration: line-through;
            }
        }
        .controls {
            display: flex;
            align-items: center;
            flex-shrink: 0;
        }
    }
}
