@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.pub-file-import-component {
	height: 0px;
	position: relative;
	top: -175px;
	text-align: center;
	.#{$bp}-intent-primary {
		-webkit-appearance: none;
	}
	input {
		display: none;
	}
	.#{$bp}-button-text {
		div:first-child {
			font-size: 1.25em;
			padding: 3px 0px 7px;
		}
		div:last-child {
			font-size: 0.95em;
		}
	}
}
