.pub-collab-collections-component {
	h5 {
		margin-bottom: 2em;
	}
	.details {
		padding-bottom: 0.25em;
	}
	.pt-icon-lock2 {
		margin-right: 0.25em;
	}
	.multiselect-wrapper {
		padding: 2em 0em;
	}
}
.pub-collab-collection-overlay {
	.pt-icon-lock2 {
		margin-right: 0.25em;
	}
}