#new-pricing-container {
	p.subtitle {
			color: #555;
			font-weight: 300;
			font-size: 24px;
			padding: 0;
			margin-bottom: 35px;
			line-height: 1.4;
	}
	.pricing-tiers {
		display: flex;
		.option {
			display: flex;
			flex-direction: column;
			text-align: center;
			position: inline;
			flex: 1;
			margin: 0 2em;
			ul {
				flex-grow: 1;
				text-align: left;
				li {
					font-size: 16px;
					margin: 0.5em 0;
				}
			}
			button {
				margin: 0 auto;
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	#new-pricing-container {
	}
}
