.pub-collab-header-component {
	position: fixed;
	width: 100%;
	z-index: 15;
	background-color: white;
	height: 75px;
	// overflow: hidden;
	border-bottom: 1px solid #CCC;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	display: flex;
	.header-logo {
		// max-width: 150px;
		padding: 0px 10px;
		display: flex;
	    align-items: center;
		img {
			max-width: 150px;
		}
	}
	.header-content {
		flex-grow: 1;
		flex-shrink: 1;
		padding: 8px 20px;
		min-width: 0px;
	}
	.flex-parent {
		width: 100%;
		display: flex;
		align-items: center;
		height: 24px;
		// background-color: red;
		&:first-of-type {
			height: 30px;
			// background-color: fuchsia;
			margin-bottom: 4px;
		}
	}
	.flex-left {
		flex-shrink: 1;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
		&:not(.static):hover {
			cursor: pointer;
			text-decoration: underline;
			text-decoration-color: #AAA;	
		}
	}
	.flex-center {
		flex-grow: 1;
		min-width: 0;
		flex-shrink: 1;
	}
	.flex-right {
		white-space: nowrap;
		display: flex;
		align-items: center;
		.pt-button:not(.avatar-button) {
			margin-left: 1em;
		}
	}	
	
	.title {
		font-size: 1.75em;
		margin: 0;
		line-height: 1;
		padding: 5px 0px;
		font-weight: bold;
	}
	
	.tags {
		overflow: hidden;
		height: 20px;
		.tags-wrapper {
			white-space: nowrap;	
			height: 70px;
			overflow-x: scroll;
			overflow-y: hidden;
			padding-bottom: 50px;
			padding: 0em 1em;
			.pt-tag {
				cursor: pointer;
				margin-right: 0.5em;
				span {
					opacity: .5;
					font-size: 10px;
					padding-left: 0.5em;
					position: relative;
					top: -1px;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.edit {
		flex-shrink: 0;
		padding-left: 0.5em;
		.pt-icon-standard {
			opacity: 0.5;
			cursor: pointer;
			&:hover {
				opacity: 0.75;
			}
		}
	}
	.avatar-button {
		padding: 0px;
		position: relative;
		left: 8px;
		.notification-count {
			position: absolute;
			background-color: red;
			vertical-align: top;
			line-height: 16px;
			height: 15px;
			font-size: 12px;
			padding: 0px 5px;
			border-radius: 10px;
			top: -2px;
			right: -2px;
			color: white;
		}
	}
	.login-button {
		position: relative;
		left: 15px;
	}
	.avatars {
		padding-left: 1em;
		.avatar-wrapper {
			padding-left: 1em;
			display: inline-block;
		}
		.pt-tag {
			text-transform: capitalize;
			flex-shrink: 0;
		}
	}
}

.pt-menu-item-label {
	.notification-count {
		background-color: red;
		color: white;
		padding: 0px 8px;
		border-radius: 19px;
	}
}