.controls-link-component .pub-edge-listing-card-component > .relation {
	color: black;
}

.controls-link-component {
	display: flex;
	flex-direction: column;
	width: 400px;
	max-width: 400px;

	.actions {
		display: flex;
		gap: 5px;
		margin: 5px 0;
		text-transform: uppercase;
		justify-content: start;
		.actions-left {
			margin-left: auto;
		}
		.visit {
			margin-left: 12px;
		}
	}

	.controls-col {
		margin-bottom: 15px;
	}

	.connection {
		> .bp3-control:last-child {
			margin-bottom: 0;
		}
	}

	.preview {
		padding-bottom: 15px;
	}

	.controls-link-pub-edge {
		background-color: white;
	}
}
