@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@mixin text-fields {
	input[type='text'] {
		border-radius: 2px;
		color: white;
		background: rgba(255, 255, 255, 0.2);
		&::placeholder {
			color: rgba(255, 255, 255, 0.9);
		}
	}
}

@mixin small-screen {
	@media screen and (max-width: 750px) {
		@content;
	}
}

@mixin controls-component {
	display: flex;
	height: 100%;
	max-width: 1600px;
	height: 225px;
	margin: 0 auto;

	@include text-fields();

	@include small-screen {
		height: unset;
	}

	.#{$bp}-slider {
		.#{$bp}-slider-track {
			background: rgba(255, 255, 255, 0.2);
		}
		.#{$bp}-slider-progress:not(:last-child) {
			background: white;
		}
		.#{$bp}-slider-handle:focus {
			outline: 1.5px solid white;
		}
	}

	.#{$bp}-spinner {
		.#{$bp}-spinner-track {
			stroke: white;
		}
	}

	.#{$bp}-tabs {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		.#{$bp}-tab {
			&[aria-selected='true'] {
				color: white;
				&:hover {
					color: white;
				}
			}
			&:not([aria-selected='true']) {
				color: white;
				opacity: 0.5;
				&:hover {
					color: white;
				}
			}
		}
		.#{$bp}-tab-indicator {
			background: white;
		}
		.#{$bp}-tab-panel {
			flex-grow: 1;
			margin-top: 9px;
		}
	}

	textarea {
		background: rgba(255, 255, 255, 0.2);
		border: none;
		width: 100%;
		padding: 0.5em;
		color: white;
		box-sizing: border-box;
	}

	.minimal-editor-component {
		width: 100%;
		overflow-y: hidden;
		.editor-wrapper:focus-within {
			box-shadow: inset 0px 0px 0px 2px white !important;
			border-top-color: transparent;
		}
		.editor,
		.editor:not(:disabled) {
			box-shadow: none !important;
		}
	}

	.section {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
		& > *:not(:last-child) {
			label.#{$bp}-control {
				margin-bottom: 0;
			}
			margin-bottom: 9px;
		}
		> .title {
			margin-bottom: 9px;
			user-select: none;
			text-transform: uppercase;
			font-weight: 600;
		}
		textarea {
			flex-grow: 1;
			resize: none;
			overflow: auto;
		}
	}

	.controls-row {
		display: flex;
		align-items: center;
		.left-label {
			user-select: none;
			margin-right: 9px;
			white-space: nowrap;
		}
		.controls {
			display: flex;
			flex-grow: 1;
		}
		.#{$bp}-control.#{$bp}-disabled {
			color: rgba(white, 0.6);
		}
	}

	.controls-button-group {
		& > *:not(:last-child) {
			margin-right: 9px;
		}
		margin-bottom: -9px;
		.controls-button {
			min-width: 150px;
			margin-bottom: 9px;
			padding: 8px;
			border: 1px solid white;
			color: white;
			font: inherit;
			cursor: pointer;
			background: transparent;
			font-weight: 600;
			&:hover:not(:disabled) {
				background: rgba(255, 255, 255, 0.2);
			}
			&:disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}
		}
	}
}

@mixin controls-grid($template: repeat(3, 1fr)) {
	display: grid;
	grid-template-columns: $template;
	grid-column-gap: 18px;

	@include small-screen {
		grid-template-columns: 100%;
		grid-row-gap: 9px;
		max-height: 600px;
	}
}

.controls-citation-component {
	@include controls-component();
	@include controls-grid();

	.structured-data {
		font-family: monospace;
		&::placeholder {
			color: rgba(255, 255, 255, 0.6);
		}
	}
	.preview {
		a {
			color: white !important;
		}
		.pub-note-content-component {
			overflow-y: auto;
			flex-grow: 1;
		}
	}
	.inline-label-editor-component {
		display: flex;
		align-items: center;
		width: 100%;
		.#{$bp}-button.label-type-menu {
			margin-right: 5px;
		}
		.#{$bp}-input-group {
			flex-grow: 1;
		}
	}
}

.controls-media-component {
	@include controls-component();
	@include controls-grid(minmax(300px, 1fr) 2fr);
	max-width: 1200px;

	.source-control {
		.controls {
			.#{$bp}-input-group {
				width: 100%;
			}
		}
	}
}

.controls-link-component,
.controls-reference-component {
	@include text-fields();
	display: flex;
	& > * {
		margin-right: 5px;
	}
}
