// @import 'styles/variables.scss';
@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.controls-link-component {
	display: flex;
	flex-direction: column;

	.controls-col {
		margin-bottom: 20px;
	}

	.control-row {
		padding-bottom: 10px;
	}

	.pub-edge {
		margin-top: 25px;
		background-color: white;
		> .pub-edge-listing-card-component > .relation {
			color: black;
		}
	}
}
