.controls-link-component .pub-edge-listing-card-component > .relation {
	color: black;
}

.controls-link-component {
	display: flex;
	flex-direction: column;
	min-width: 350px;
	max-width: 710px;
	margin: 10px 0;

	.bp3-input-group {
		margin: 0 10px 10px 10px;
	}

	.bp3-collapse-body {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		margin-top: 10px;
	}

	.actions {
		display: flex;
		gap: 12px;
		margin: 0 10px 0 10px;
		justify-content: space-between;

		.bp3-button-text {
			font-size: 12px;
		}
	}

	.controls-col {
		margin-bottom: 15px;
	}

	.save-button {
		display: flex;
		justify-content: center;
	}

	.connection {
		margin-top: 10px;

		> *:not(.controls-link-pub-edge) {
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	.preview {
		padding-bottom: 15px;
	}

	.controls-link-pub-edge {
		background-color: white;
		overflow: hidden;
		margin-bottom: 10px;

		.bp3-card {
			padding: 20px 0 0;
			box-shadow: none;

			.pub-edge-listing-card-component {
				border: none;
			}
		}
	}
}
