.breadcrumbs-component {
	min-height: 40px;
	padding: 16px;
	z-index: 1;
	position: relative;
	background: #fff;
	.avatar-component {
		float: left;
		margin-right: 15px;
	}
	.titles {
		margin-top: -5px;
	}
	.title {
		font-size: 24px;
		line-height: 30px;
		width: calc(100% - 15px - 40px);
		margin-bottom: 1px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.crumbs {
		display: flex;
		align-items: center;
		.crumb {
			display: block;
			text-decoration: none;
			font-size: 12px;
			color: #444;
			white-space: nowrap;
			overflow: hidden;
			display: flex;
			align-items: baseline;
			.bp3-icon {
				margin-right: 5px;
				opacity: 0.5;
			}
			&.capitalize {
				text-transform: capitalize;
			}

			&.truncate {
				min-width: 0;
				.bottom-text {
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.crumb-icon {
			opacity: 0.4;
			padding: 0em 8px;
		}
	}
}
