#page-wrapper-component {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	.page-content {
		flex-grow: 1;
	}
	.duqduq-warning {
		text-align: center;
		color: white;
		line-height: 30px;
		background: #d13913;
	}
	&.dashboard {
		$side-menu-width: 235px;
		display: block;
		.header-component {
			position: fixed;
			width: 100%;
			.container {
				max-width: 100%;
				width: 100%;
			}
			.col-12 {
				margin-left: 16px;
				margin-right: 16px;
				width: calc(100% - 32px);
			}
		}
		.side-content {
			width: $side-menu-width;
			border-right: 1px solid #ddd;
			position: fixed;
			height: calc(100vh - 56px);
			top: 56px;
			overflow: scroll;
		}
		.page-content {
			padding-top: calc(1em + 56px);
			padding-left: calc(16px + #{$side-menu-width});
			padding-right: 16px;
			padding-bottom: 1em;
			max-width: calc(1024px + #{$side-menu-width});
			margin: 0 auto;
			.dashboard-content-title {
				
			}
		}
	}
}
