.pub-inline-import-component {
    height: 0px;
    position: relative;
    top: -175px;
    text-align: center;
	.pt-intent-primary {
		-webkit-appearance: none;
	}
	input {
		display: none;
	}
	.pt-button-text {
		div:first-child {
			font-size: 1.25em;
			padding: 3px 0px 7px
		}
		div:last-child {
			font-size: 0.95em;
		}
	}
}