.pub-side-toc-component {
	border-left: 2px solid #CCC;
	padding-left: 10px;
	font-size: 14px;
	margin-bottom: 4em;
	.section-header, a {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}
	.section-header {
		font-weight: 800;
		margin: 10px 0px 0px -6px;
		opacity: 0.85;
		&.first {
			margin-top: 0px;
		}
	}
	a {
		margin-bottom: 4px;
		&.active {
			font-weight: 800;
		}
		&.subsection-1 {
			padding-left: 1em;
		}
		&.subsection-2 {
			padding-left: 2em;
		}
	}
}
