.pub-side-toc-component {
	margin-top: -3em;
	padding-top: 3em;
	padding-bottom: 3em;
	overflow: auto;
	background-color: white;
	z-index: 1;
	position: relative;
	.toc {
		border-left: 2px solid #CCC;
		padding-left: 10px;
		font-size: 14px;
	}
	.section-header, a {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}
	.section-header {
		font-weight: 800;
		margin: 10px 0px 0px -6px;
		opacity: 0.85;
		&.first {
			margin-top: 0px;
		}
	}
	a {
		margin-bottom: 4px;
		&.active {
			font-weight: 800;
		}
		&.subsection-1 {
			padding-left: 1em;
		}
		&.subsection-2 {
			padding-left: 2em;
		}
	}
}
