.nav-bar {
	height: 40px;
	overflow: hidden;
	a {
		color: inherit;
		margin-right: 2em;
		display: inline-block;
		height: 40px;
		user-select: none;
		&.dropdown {
			text-decoration: none;
			cursor: default;
		}
	}
	.col-12 {
		margin-top: 0em;
		margin-bottom: 0em;
	}
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		height: 90px;
		line-height: 40px;
		overflow-x: scroll;
		overflow-y: hidden;
		width: 100%;
		white-space: nowrap;
	}
	li {
		text-transform: uppercase;
		text-decoration: inherit;
		font-weight: 500;
	}
}