.settings-section-component {
	& > .title {
		font-weight: bold;
		font-size: 16px;
		padding-bottom: 1em;
	}
}

@media only screen and (min-width: 1250px) {
	@supports (display: grid) {
		.settings-section-component {
			display: grid;
			grid-template-columns: 140px 1fr;
			grid-template-areas: 'title content';
			column-gap: 75px;
			padding-top: 20px;
			.title {
				text-align: left;
				grid-area: title;
			}
			.content {
				grid-area: content;
				min-width: 0px;
				font-size: 16px;
				font-weight: 300;
				.bp3-form-group {
					margin: 0 0 20px;
					.bp3-label {
						margin-bottom: 3px;
					}
				}
				.bp3-icon-info-sign {
					padding-left: 5px;
					padding-bottom: 3px;
					opacity: 0.5;
				}
				.bp3-callout {
					font-size: 16px;
				}
			}
		}
	}
}
