@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import './themes.scss';

.byline-edit-button-component {
	@include base-button;
	margin-left: 4px;
	vertical-align: bottom;
	@include mobile {
		vertical-align: middle;
	}
	.icon-box {
		padding: 4px 10px;
		border-radius: 25px;
		font-style: normal;
		font-size: 0.8em;
	}
}

.pub-header-theme-black-blocks,
.pub-header-theme-white-blocks {
	.byline-edit-button-component {
		vertical-align: middle;
		.icon-box {
			padding: 0;
		}
	}
}
