@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import './themes.scss';

.large-header-button-component {
	@include base-button;
	display: inline-flex;
	padding: 0;

	&:disabled {
		pointer-events: none;
		opacity: 0.75;
	}

	.button-box {
		position: relative;
		display: flex;
		flex-shrink: 0;
		align-items: center;
		height: 44px;
		border-radius: 2px;
		padding-left: 12px;
		padding-right: 12px;
		&.no-label {
			padding: 0;
			width: 44px;
			align-items: center;
			justify-content: center;
		}
		&:not(.no-label) {
			min-width: 185px;
		}
		.caret {
			position: absolute;
			top: 30px;
			right: 3px;
		}
		.label {
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 1px;
			&:not(:first-child) {
				margin-left: 10px;
			}
		}
		.stacked-label {
			text-align: left;
			&:not(:first-child) {
				margin-left: 10px;
			}
			.top {
				white-space: nowrap;
				font-size: 14px;
			}
			.bottom {
				white-space: nowrap;
				font-size: 10px;
			}
		}
	}

	.outer-label {
		text-align: left;
		margin-left: 10px;
		font-size: 16px;
		.top {
			font-size: 12px;
			margin-bottom: 1px;
		}
		.bottom {
			line-height: 20px;
		}
	}
}
