@import './themes.scss';

.large-header-button-component {
    @include base-button;
    display: inline-flex;
    padding: 0;
    &:hover {
        .button-box {
            @include shadow-box-hover;
        }
    }
    .button-box {
        @include shadow-box;
        display: flex;
        align-items: center;
        height: 44px;
        border-radius: 2px;
        padding-left: 12px;
        padding-right: 12px;
        &.no-label {
            padding: 0;
            width: 44px;
            align-items: center;
            justify-content: center;
        }
        .label {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
        .stacked-label {
            text-align: left;
            &:not(:first-child) {
                margin-left: 10px;
            }
            .top {
                font-size: 14px;
                margin-bottom: 2px;
            }
            .bottom {
                color: $off-white;
                font-size: 10px;
            }
        }
    }
    .outer-label {
        text-align: left;
        margin-left: 10px;
        .top {
            color: $off-white;
            font-size: 12px;
            margin-bottom: 1px;
        }
        .bottom {
            font-size: 16px;
        }
    }
}
