@import 'styles/variables.scss';
@import './themes.scss';

$header-border-color: #d2d2d2;
$header-margin-top: 0px;
$header-margin-bottom: 26px;
$header-margin-bottom-mobile: 13px;
$header-margin-total: $header-margin-top + $header-margin-bottom;
$header-margin-total-mobile: $header-margin-top + $header-margin-bottom-mobile;
$title-elements-spacing: 15px;
$mobile-bottom-buttons-padding-top: 15px;
$mobile-bottom-buttons-spacing: 10px;

.pub-header-popover {
	z-index: 21;
}

.pub-header-component {
	position: relative;
	z-index: 20;
	border-bottom: 1px solid $header-border-color;

	.pub-header-sticky-component {
		opacity: 0;
		visibility: hidden;
	}

	&.js-is-sticky,
	&.js-is-stuck {
		.pub-header-content-component {
			opacity: 0;
		}
		.pub-header-sticky-component {
			opacity: 1;
			visibility: unset;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: inherit;
	}

	h1 {
		margin: 0;
		font-size: 48px;
		line-height: 1.5em;
		font-weight: normal;
		font-family: $header-font;
		box-decoration-break: clone;
		@include smaller-viewport {
			font-size: 32px;
		}
	}

	.details-button {
		position: absolute;
		top: $top-bar-total-height * 0.5;
		transform: translateY(-50%);
		right: 0;
		.icon-container {
			transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
		}
		&.showing-details {
			.icon-container {
				transform: rotate(90deg);
			}
		}
	}

	> .container,
	> .container > .row {
		height: 100%;
	}

	.row > .pub-header-column {
		position: relative;
		margin-top: $header-margin-top;
		margin-bottom: $header-margin-bottom;
		@include mobile {
			margin-bottom: $header-margin-bottom-mobile;
		}
	}

	&.showing-details {
		.pub-header-column {
			height: calc(100% - #{$header-margin-top});
			margin-bottom: 0;
		}
	}

	.description {
		padding-top: $title-elements-spacing;
		margin: 0;
		font-size: 18px;
		font-weight: normal;
		font-family: $header-font;
	}

	.byline-component {
		padding-top: $title-elements-spacing;
		margin: 0;
		font-size: 18px;
		font-style: italic;
		font-weight: normal;
		font-family: $header-font;
		letter-spacing: 0.5px;
		.byline-icon svg {
			width: 14px;
			height: auto;
		}
	}

	@include mobile {
		h1 {
			font-size: 24px;
		}
		.description {
			font-size: 14px;
		}
		.byline-component {
			font-size: 14px;
			letter-spacing: unset;
		}
		.details-button {
			display: none;
		}
	}

	@include in-blocks-theme {
		.pub-header-content-component {
			column-gap: 20px;
			.title-group-component {
				margin-right: 20px;
			}
		}
	}

	.pub-header-content-component {
		display: grid;
		grid-template-rows: $top-bar-total-height auto auto;
		grid-template-columns: 1fr 120px;
		grid-template-areas:
			'top top'
			'middle-left middle-right'
			'bottom bottom';

		.pub-header-top-area {
			overflow: hidden;
			grid-area: top;
			display: flex;
			justify-content: space-between;

			.basic-details {
				display: flex;
				flex-shrink: 0;
				align-items: center;
				justify-content: flex-end;
				&:first-child {
					width: 100%;
				}
				&:not(:first-child) {
					margin-left: 20px;
				}
				& > *:not(:last-child) {
					margin-right: 45px;
				}
				.metadata-pair {
					& > :first-child {
						margin-right: 10px;
					}
					white-space: nowrap;
					display: flex;
					align-items: center;
				}
				.doi-pair {
					@media only screen and (max-width: 1000px) {
						display: none;
					}
				}
				.click-to-copy {
					.bp3-button {
						color: inherit;
					}
				}
				.details-button {
					width: 120px;
				}
			}
			.show-details-placeholder {
				width: 120px;
			}
		}

		.title-group-component {
			grid-area: middle-left;
			padding-top: 20px;
			.byline-component {
				a,
				a:visited {
					color: inherit !important;
				}
			}
			.published-date {
				margin-top: $title-elements-spacing;
				display: none;
			}
		}

		.utility-buttons-component {
			grid-area: middle-right;
			padding-top: 20px;
			& > * {
				width: 100%;
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
			.show-header-details-button {
				display: none;
			}
		}

		.draft-release-buttons-component {
			grid-area: bottom;
			display: flex;
			margin-top: 35px;
			& > *:not(:last-child) {
				margin-right: 30px;
			}
		}
	}

	@include mobile {
		.background-safety-layer:not(.full-height) {
			display: none;
		}

		@include not-in-blocks-theme {
			.small-header-button-component .icon-container {
				width: 30px;
				height: 30px;
			}
		}

		.pub-header-content-component {
			grid-template-rows: min-content auto auto;
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				'top top'
				'middle middle'
				'bottom-left bottom-right';

			.pub-header-top-area {
				grid-area: top;
				height: unset;
				padding-top: 12px;
				padding-bottom: 10px;

				&.has-bottom-hairline {
					border-bottom: none;
				}
				.show-details-placeholder {
					display: none;
				}
				.basic-details {
					display: none;
				}
				.collections-bar-button-component {
					font-size: 12px;
				}
			}

			.title-group-component {
				padding: 0;
				grid-area: middle;
				.published-date {
					display: flex;
					justify-content: space-between;
				}
			}

			.draft-release-buttons-component {
				grid-area: bottom-left;
				margin-top: 0;
				padding-top: $mobile-bottom-buttons-padding-top;
				& > :not(:last-child) {
					margin-right: $mobile-bottom-buttons-spacing;
				}
				.draft-history-button {
					display: none;
				}
			}

			.utility-buttons-component {
				display: flex;
				justify-content: flex-end;
				grid-area: bottom-right;
				padding-top: $mobile-bottom-buttons-padding-top;

				.small-header-button-component {
					flex-basis: 0;
					.label {
						display: none;
					}
				}
				.cite-button {
					display: none;
				}
				.members-button {
					display: none;
				}
				.show-header-details-button {
					display: flex;
				}
				& > :not(:last-child) {
					margin-bottom: 0;
					margin-right: $mobile-bottom-buttons-spacing;
				}
			}
		}
	}
}

@media print {
	.pub-header-component {
		.tags-buttons-wrapper {
			display: none;
		}
		.wrapper {
			padding: 20px;
		}
		h1 {
			padding: 10px 0px;
		}
	}
}
