@import 'styles/variables.scss';
@import './themes.scss';

$mobile-cutoff-width: 500px;
$header-margin-top: 0px;
$header-margin-bottom: 26px;
$header-margin-total: $header-margin-top + $header-margin-bottom;

@mixin mobile {
    @media only screen and (max-width: $mobile-cutoff-width) {
        @content;
    }
}

.pub-header-popover {
    z-index: 21;
}

.pub-header-main-component {
    & > .top {
        display: flex;
        justify-content: space-between;
        height: $top-bar-total-height;
        .collections-bar-component {
            @include mobile {
                display: none;
            }
        }
        .basic-details {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: right;
            &:first-child {
                width: 100%;
            }
            @include mobile {
                width: 100%;
                justify-content: left;
            }
            &:not(:first-child) {
                margin-left: 20px;
                @include mobile() {
                    margin-left: 0px;
                }
            }
            & > *:not(:last-child) {
                margin-right: 45px;
            }
            .metadata-pair {
                & > :first-child {
                    margin-right: 10px;
                }
                white-space: nowrap;
                display: flex;
                align-items: center;
            }
            .doi-pair {
                @media only screen and (max-width: 1000px) {
                    display: none;
                }
            }
            .click-to-copy {
                .bp3-button {
                    color: inherit;
                }
            }
            .details-button {
                width: 120px;
            }
        }
        .show-details-placeholder {
            width: 120px;
        }
    }
    & > .hairline {
        width: 100%;
        height: 1px;
    }
    & > .middle {
        margin-top: 20px;
        display: flex;
        @include mobile {
            flex-direction: column;
        }
        & > .left {
            flex-grow: 1;
            .byline {
                a,
                a:visited {
                    color: inherit !important;
                }
            }
        }
        & > .right {
            margin-left: 30px;
            flex-shrink: 0;
            width: 120px;
            & > * {
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 12px;
                    @include mobile {
                        margin-bottom: 0;
                    }
                }
            }
            @include mobile {
                display: flex;
                .small-header-button-component {
                    flex-direction: row;
                    .label {
                        display: none;
                    }
                }
            }
        }
    }
    & > .bottom {
        display: flex;
        margin-top: 35px;
        & > *:not(:last-child) {
            margin-right: 30px;
        }
        .branch-selector-button {
            .button-box {
                position: relative;
            }
            .branch-icon-caret {
                position: absolute;
                top: 24px;
                right: 8px;
            }
        }
    }
}

.pub-header-component {
    position: relative;
    z-index: 20;
    border-bottom: 1px solid #d2d2d2;

    .pub-header-sticky-component {
        opacity: 0;
        visibility: hidden;
    }

    &.js-is-sticky,
    &.js-is-stuck {
        .pub-header-main-component {
            opacity: 0;
        }
        .pub-header-sticky-component {
            opacity: 1;
            visibility: unset;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
    }

    h1 {
        margin: 0;
        font-size: 48px;
        line-height: 68px;
        font-weight: normal;
        font-family: $header-font;
        box-decoration-break: clone;
        @include mobile {
            font-size: 32px;
            line-height: 36px;
        }
    }

    .details-button {
        position: absolute;
        top: $top-bar-total-height / 2;
        transform: translateY(-50%);
        right: 0;
        .icon-container {
            transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &.showing-details {
            .icon-container {
                transform: rotate(90deg);
            }
        }
    }

    .row > .pub-header-column {
        position: relative;
        margin-top: $header-margin-top;
        margin-bottom: $header-margin-bottom;
        height: calc(100% - #{$header-margin-total});
    }

    &.showing-details {
        .pub-header-column {
            height: calc(100% - #{$header-margin-top});
            margin-bottom: 0;
        }
    }

    .description {
        padding-top: 15px;
        margin: 0;
        font-size: 18px;
        font-weight: normal;
        font-family: $header-font;
    }

    .byline {
        padding-top: 15px;
        margin: 0;
        font-size: 18px;
        font-style: italic;
        font-weight: normal;
        font-family: $header-font;
        letter-spacing: 0.5px;
    }

    .bp3-editable-text {
        &:hover:before {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 0 rgb(255, 255, 255),
                inset 0 0 0 1px rgba(247, 252, 255, 0.54);
            background-color: transparent;
        }
        &.bp3-editable-text-editing:before {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 0 rgb(255, 255, 255),
                inset 0 0 0 1px rgba(247, 252, 255, 0.54);
            background-color: rgba(0, 0, 0, 0.35);
        }
        &.bp3-editable-text-placeholder > .bp3-editable-text-content,
        ::placeholder {
            color: inherit;
            opacity: 0.75;
        }
    }
}

.pub-header-branch-selector-menu {
    min-width: 100px;
    .label {
        font-weight: bold;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 750px) {
    .pub-header-component.new {
        .tags-buttons-wrapper {
            .buttons {
                display: none;
            }
        }
        h1 {
            font-size: 36px;
        }
        .actions-bar .left {
            display: none;
        }
        .actions-bar .right {
            justify-content: flex-start;
            .action-button-component {
                margin-left: 0px;
                margin-right: 22px;
            }
        }
    }
}

@media print {
    .pub-header-component {
        .tags-buttons-wrapper {
            display: none;
        }
        .wrapper {
            padding: 20px;
        }
        h1 {
            padding: 10px 0px;
        }
    }
}
