@import 'styles/variables.scss';

.pub-header-compact-component {
    a,
    a:hover,
    a:visited {
        color: inherit;
    }

    .inner {
        display: flex;
        align-items: center;
        height: 80px;
        font-size: 24px;
        font-family: $header-font;
    }

    .breadcrumb {
        margin-left: 0.5em;
        padding-left: 0.5em;
        display: inline-block;
        &:before {
            content: '›';
            position: relative;
            left: -0.5em;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
