@import 'styles/variables.scss';
@import './themes.scss';

$mobile-cutoff-width: 500px;
$smaller-screen-cutoff-width: 1000px;
$header-margin-top: 0px;
$header-margin-bottom: 26px;
$header-margin-total: $header-margin-top + $header-margin-bottom;

@mixin mobile {
    @media only screen and (max-width: $mobile-cutoff-width) {
        @content;
    }
}

@mixin smaller-screen {
    @media only screen and (max-width: $smaller-screen-cutoff-width) {
        @content;
    }
}

.pub-header-popover {
    z-index: 21;
}

.pub-header-main-component {
    display: grid;
    grid-template-rows: 54px auto auto;
    grid-template-columns: 1fr 120px;
    grid-template-areas:
        'top top'
        'left right'
        'bottom bottom';

    .pub-header-top-area {
        grid-area: top;
        display: flex;
        justify-content: space-between;
        height: $top-bar-total-height;

        .basic-details {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: right;
            &:first-child {
                width: 100%;
            }
            &:not(:first-child) {
                margin-left: 20px;
            }
            & > *:not(:last-child) {
                margin-right: 45px;
            }
            .metadata-pair {
                & > :first-child {
                    margin-right: 10px;
                }
                white-space: nowrap;
                display: flex;
                align-items: center;
            }
            .doi-pair {
                @media only screen and (max-width: 1000px) {
                    display: none;
                }
            }
            .click-to-copy {
                .bp3-button {
                    color: inherit;
                }
            }
            .details-button {
                width: 120px;
            }
        }
        .show-details-placeholder {
            width: 120px;
        }
    }

    .title-group-component {
        grid-area: left;
        padding-top: 20px;
        .byline {
            a,
            a:visited {
                color: inherit !important;
            }
        }
    }

    .utility-buttons-component {
        grid-area: right;
        padding-top: 20px;
        & > * {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    .draft-release-buttons-component {
        grid-area: bottom;
        display: flex;
        margin-top: 35px;
        & > *:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.pub-header-component {
    position: relative;
    z-index: 20;
    border-bottom: 1px solid #d2d2d2;

    .pub-header-sticky-component {
        opacity: 0;
        visibility: hidden;
    }

    &.js-is-sticky,
    &.js-is-stuck {
        .pub-header-main-component {
            opacity: 0;
        }
        .pub-header-sticky-component {
            opacity: 1;
            visibility: unset;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
    }

    h1 {
        margin: 0;
        font-size: 48px;
        line-height: 68px;
        font-weight: normal;
        font-family: $header-font;
        box-decoration-break: clone;
        @include smaller-screen {
            font-size: 32px;
            line-height: 36px;
        }
    }

    .details-button {
        position: absolute;
        top: $top-bar-total-height / 2;
        transform: translateY(-50%);
        right: 0;
        .icon-container {
            transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
        }
        &.showing-details {
            .icon-container {
                transform: rotate(90deg);
            }
        }
    }

    .row > .pub-header-column {
        position: relative;
        margin-top: $header-margin-top;
        margin-bottom: $header-margin-bottom;
        height: calc(100% - #{$header-margin-total});
    }

    &.showing-details {
        .pub-header-column {
            height: calc(100% - #{$header-margin-top});
            margin-bottom: 0;
        }
    }

    .description {
        padding-top: 15px;
        margin: 0;
        font-size: 18px;
        font-weight: normal;
        font-family: $header-font;
    }

    .byline {
        padding-top: 15px;
        margin: 0;
        font-size: 18px;
        font-style: italic;
        font-weight: normal;
        font-family: $header-font;
        letter-spacing: 0.5px;
    }

    .bp3-editable-text {
        &:hover:before {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 0 rgb(255, 255, 255),
                inset 0 0 0 1px rgba(247, 252, 255, 0.54);
            background-color: transparent;
        }
        &.bp3-editable-text-editing:before {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 0 rgb(255, 255, 255),
                inset 0 0 0 1px rgba(247, 252, 255, 0.54);
            background-color: rgba(0, 0, 0, 0.35);
        }
        &.bp3-editable-text-placeholder > .bp3-editable-text-content,
        ::placeholder {
            color: inherit;
            opacity: 0.75;
        }
    }
}

@media print {
    .pub-header-component {
        .tags-buttons-wrapper {
            display: none;
        }
        .wrapper {
            padding: 20px;
        }
        h1 {
            padding: 10px 0px;
        }
    }
}
