@import 'styles/variables.scss';
@import '../pub.scss';

.review-header-sticky-component {
	position: absolute;
	bottom: 0px;
	line-height: 37px;
	width: 100%;
	transition: 0.2s linear opacity;
	display: flex;
	color: inherit;

	.sticky-title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		flex: 1 1 auto;
		font-family: $header-font;
		font-size: 18px;
		padding-right: 2em;
	}

	.sticky-buttons {
		white-space: nowrap;
		display: flex;
		align-items: center;

		.bp3-button,
		.bp3-icon {
			color: inherit;
		}

		.dot {
			padding: 0em 0.3em;
			height: 24px;
			line-height: 24px;
			display: block;
		}
	}

	.sticky-review-buttons {
		display: flex;
	}

	.sticky-review-text {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
}

/* This selector is a IE 10+ kludge */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.sticky-grid {
		width: 100%;
		.main-content {
			max-width: $pub-max-width;
			margin: 0 auto;
		}
		.side-content {
			max-width: $pub-max-width;
			margin: 0 auto;
		}
	}
}

@supports (display: grid) {
	.sticky-grid {
		@include has-grid('. title . review .');
		width: 100%;
		.main-content {
			grid-area: title;
		}
		.side-content {
			grid-area: review;
		}
	}
	@include pub-full-view {
		.pub-document-component {
			.pub-columns {
				margin-top: 3em;
			}
			.side-content {
				.header-title {
					display: block;
					font-weight: 600;
					font-size: 16px;
					margin-bottom: 10px;
				}
			}
		}
	}

	@include pub-compact-view {
		.sticky-grid {
			.side-content > * {
				display: none;
			}
		}
	}
}

@media print {
	#pub-old-container {
		.container.pub {
			max-width: 100%;
		}
	}
}