@import './themes.scss';

.small-header-button-component {
    display: flex;
    color: inherit;
    align-items: center;
    text-decoration: none;
    user-select: none;
    background: unset;
    border: unset;
    cursor: pointer;
    .label {
        text-transform: uppercase;
        white-space: nowrap;
        letter-spacing: 0.05em;
        margin-left: 9px;
        font-size: 10px;
    }
    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        @include shadow-box;
    }
    &.label-left {
        flex-direction: row-reverse;
        .label {
            margin-left: 0;
            margin-right: 9px;
        }
    }
    &:hover {
        .label {
            text-decoration: underline;
        }
        .icon-container {
            @include shadow-box-hover;
        }
    }
}
