.formatting-bar-suggested-edits {
	display: flex;
	.reject-button {
		margin-right: 21px;
		max-height: 27px;
		background-color: #444;
		color: white;
		border-radius: 5px;
	}
	.accept-button {
		margin-left: 21px;
		max-height: 27px;
		background-color: #444;
		border-radius: 5px;
		color: white;
	}

	.accept-button:hover {
		filter: brightness(85%);
	}
	.reject-button:hover {
		filter: brightness(85%);
	}
}
