.formatting-bar-suggested-edits {
	display: flex;
	.reject-button {
		margin-right: 17px;
		max-height: 27px;
		background-color: #444;
		color: white;
		border-radius: 4px;
	}
	.accept-button {
		margin-left: 17px;
		max-height: 27px;
		background-color: #444;
		border-radius: 4px;
		color: white;
	}

	.accept-button:hover {
		filter: brightness(85%);
	}
	.reject-button:hover {
		filter: brightness(85%);
	}
}
