.formatting-bar-component {
	button {
	    min-width: auto;
	    min-height: auto;
	    padding: 5px 14px;
	    margin: 0em 1px;
	}
	&.small {
		button {
			padding: 5px 10px;
		}
		.dropdown-button {
			padding: 3px;
			// font-size: 12px;
		}
		.separator {
			height: 22px;
		}
	}
	.dropdown-button {
		padding: 5px;
		min-height: auto;
	}
	.separator {
		display: inline-block;
		width: 1px;
		height: 26px;
		vertical-align: middle;
		background: #CCC;
		margin: 0px 3px;
	}
}