.pub-review-component {
	margin: 2em 0em;
	.review-header {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		h2 {
			display: inline;
			margin: 0em 1em 0em 0em;
		}
	}
	.merge-arrow {
		margin: 0em 0.25em;
		opacity: 0.75;
	}
	.bp3-tab-list {
		margin-top: 2em;
		border-bottom: 1px solid #ccc;
		display: none;
	}
	.actions-block {
		flex: 1 1 auto;
		justify-content: flex-end;
		display: flex;
		button {
			margin-left: 1em;
			white-space: nowrap;
		}
	}
}
