.review-event-component {
	margin-bottom: 1em;
	display: flex;
	.event-content {
		margin-left: 0.5em;
		flex: 1 1 auto;
	}
	.user {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.comment-wrapper {
		margin: 0.2em 0em;
		background: #F7F7F9;
		padding: 0.5em;
	}
}