@import './shared.scss';

.submission-workflow-editor-component {
    .step-content {
        margin: 10px 0;

        h2 {
            margin: 10px 0;
            font-size: 20px;
            font-weight: 500;
        }
    }

    .banner-step {
        .banner-skeleton {
            h2 {
                margin: 0;
                font-size: 28px;
                font-weight: 800;
                margin-bottom: 0.5em;
            }
            .minimal-editor-component {
                .editor-wrapper {
                    font-size: 16px;
                }
            }
        }
    }

    .email-step {
        .target-email-input {
            display: flex;
            max-width: 600px;
            > .bp3-input-group {
                flex-grow: 1;
                margin-right: 10px;
            }
        }
    }
}
