@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import 'styles/variables.scss';

.pub-settings-container_doi-component {
	a.doi-link {
		font-family: 'Courier', monospace;
	}

	.#{$bp}-callout {
		margin-bottom: 20px;

		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	> .doi {
		max-width: 416px;

		.#{$bp}-input-group {
			font-family: 'Courier', monospace;
			font-size: 14px;
			margin-bottom: 12px;

			line-height: 30px;
			height: 30px;

			::placeholder {
				font-family: $base-font;
			}

			.doi-prefix {
				display: flex;
				margin-left: 5px;
				line-height: 31px;
				height: 30px;
			}
		}

		.#{$bp}-button {
			margin-right: 8px;
		}
	}
}
