.node-label-editor-component {
	> table {
		tr.disabled td {
			color: #ccc;
		}

		td:nth-child(2) {
			text-align: center;
		}

		td {
			line-height: 30px;

			.bp3-checkbox {
				position: relative;
				top: 10px;
			}
		}
	}

	.toggle-all {
		margin: 1em 0;
	}
}
