@import "~normalize.css";

$navBackground: white;
$navColor: black;
$background: #F3F3F4;

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
	background-color: $background;
	font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

.no-script {
	display: block;
	padding: 2em;
	text-align: center;
}

h1 {
	font-size: 2em;
}

.page {
	padding: 0em 2em;
	word-break: break-all;
}

// While there is some elegance to having components import their own .scss files,
// and while this compiles just fine with webpack - I choose to import all of the scss files
// into this main app.scss so that constants (e.g. $darkColor) can be used throughout.
@import "./grid.scss";
@import "../NoMatch/nomatch.scss";
@import "../LandingMain/landingMain.scss";
@import "../LandingCommunity/landingCommunity.scss";

@import "../../components/Nav/nav.scss";
