@import "~normalize.css";

$navBackground: white;
$navColor: black;
$background: #F3F3F4;

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
	// background-color: $background;
	font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

.no-script {
	display: block;
	padding: 2em;
	text-align: center;
}

h1 {
	font-size: 2em;
}

.page {
	padding: 0em 2em;
	word-break: break-all;
}

.subtext {
	color: #A2A2A2;
	font-size: 0.85em;
}

// While there is some elegance to having components import their own .scss files,
// and while this compiles just fine with webpack - I choose to import all of the scss files
// into this main app.scss so that constants (e.g. $darkColor) can be used throughout.
@import "./blueprint.scss";
@import "./grid.scss";
@import "../NoMatch/nomatch.scss";
@import "../LandingMain/landingMain.scss";
@import "../LandingCommunity/landingCommunity.scss";

// Import Custom Icon Fonts
// ****************************
// @font-face {
// 	font-family: 'fontello';
// 	src: url('/icons/fontello.eot?14194274');
// 	src: url('/icons/fontello.eot?14194274#iefix') format('embedded-opentype'),
// 		url('/icons/fontello.woff2?14194274') format('woff2'),
// 		url('/icons/fontello.woff?14194274') format('woff'),
// 		url('/icons/fontello.ttf?14194274') format('truetype'),
// 		url('/icons/fontello.svg?14194274#fontello') format('svg');
// }
// 
// .pt-icon-admin:before { font-family: 'fontello' !important; content: '\e900'; } /* '' */
// .pt-icon-dashboard:before { font-family: 'fontello' !important; content: '\e901'; } /* '' */
