@import "~normalize.css";
@import "./blueprint.scss";
@import "./grid.scss";

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
	color: #333;
	font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

.no-script {
	display: block;
	padding: 2em;
	text-align: center;
}

.subtext {
	color: #555;
	font-size: 0.85em;
}

.no-click {
	pointer-events: none;
}

// Import Custom Icon Fonts
// ****************************
@font-face {
	font-family: 'pubpub-icons';
	src:  url('/icons/pubpub-icons.eot');
	src:  url('/icons/pubpub-icons.eot#iefix') format('embedded-opentype'),
		url('/icons/pubpub-icons.ttf') format('truetype'),
		url('/icons/pubpub-icons.woff') format('woff'),
		url('/icons/pubpub-icons.svg#pubpub-icons') format('svg');
}

.pt-icon-team:before { font-family: 'pubpub-icons' !important; content: "\e903"; }
.pt-icon-edit2:before { font-family: 'pubpub-icons' !important; content: "\e904"; }
.pt-icon-doc:before { font-family: 'pubpub-icons' !important; content: "\e902"; }
.pt-icon-admin:before { font-family: 'pubpub-icons' !important; content: "\e900"; }
.pt-icon-lock2:before { font-family: 'pubpub-icons' !important; content: "\e901"; }
.pt-icon-google-scholar:before { font-family: 'pubpub-icons' !important; content: "\e828"; }
.pt-icon-orcid:before { font-family: 'pubpub-icons' !important; content: "\e840"; }
.pt-icon-facebook:before { font-family: 'pubpub-icons' !important; content: "\ea90"; }
.pt-icon-twitter:before { font-family: 'pubpub-icons' !important; content: "\ea96"; }
