@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import 'styles/variables.scss';
.discussion-component {
	position: relative;
	z-index: 1;
	background: white;
	padding: 1em 0em;
	font-size: 14px;
	text-align: left;
	&.is-author-spam {
		opacity: 0.9;
		border-left: 3px solid #d9534f;
		padding-left: calc(1em - 3px);
		background: rgba(217, 83, 79, 0.03);
	}
	.spam-badge {
		display: inline-block;
		font-size: 10px;
		font-weight: 600;
		line-height: 1;
		padding: 2px 5px;
		margin-left: 6px;
		background: #d9534f;
		color: white;
		border-radius: 2px;
		vertical-align: middle;
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}
	.discussion-spam-banner {
		margin-bottom: 0.75em;
		padding: 0.4em 0.6em;
		font-size: 12px;
		background: #fcf3cd;
		color: #856404;
		border-radius: 2px;
		border-left: 3px solid #ffc107;
	}
	.collapse-button {
		position: absolute;
		top: 0;
		right: 0;
		.#{$bp}-icon {
			transform: rotate(45deg);
		}
	}
	.manage-tools-component {
		margin-bottom: 1em;
		direction: ltr;
	}
	.anchor-text {
		padding: 0.25em;
		background: #f0f0f7;
		font-family: $body-font;
		margin: -0.25em 0em 1em;
		color: #888;
		line-height: 1.3;
		.exact {
			color: #000;
		}
	}
	.item-header {
		display: flex;
		align-items: flex-start;
		line-height: 1em;
		margin-bottom: 0.25em;
		font-size: 13px;
		direction: ltr;

		.name {
			font-weight: 600;
			margin-right: 1em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			min-height: 17px;
			flex: 0 0 auto;
		}
		.time {
			margin-right: 1em;
			color: #888;
			flex: 1 1 auto;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			min-height: 17px;
		}
		.actions {
			white-space: nowrap;
		}
		.#{$bp}-button {
			min-height: 17px;
		}
	}
	.overflow-listing:not(:last-child) {
		margin-bottom: 1.5em;
	}
}
