@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

.label-list-component {
	margin-bottom: 5px;
	.#{$bp}-tag {
		margin: 0px 3px 3px 0px;
		min-height: 16px;
		padding: 2px 6px;
		line-height: 12px;
	}
}
