#about-container {
	padding-bottom: 2em;
	h1,
	h2 {
		margin-top: 1em;
		line-height: 1;
	}
	h2 {
		font-size: 1.6em;
		line-height: 1.2;
	}
	p {
		margin-top: 2em;
		font-size: 18px;
		line-height: 1.6;
	}
}
