.discussion-figure-wrapper {
	text-align: center;
	user-select: none;
	pointer-events: none;
	.discussion-preview-component {
		color: inherit;
		text-decoration: none !important;
	}
	&.editable {
		.discussion-preview-component {
			pointer-events: none;
		}
	}
	figure.discussion {
		pointer-events: auto;
		position: relative;
		text-align: left;
		display: inline-block;
		padding: 0px;
		&.isSelected {
			outline: 3px solid #BBBDC0;
			// background-color: #F0F0F0;
		}
		.empty-discussion {
			background-color: #F0F0F0;
			border-radius: 2px;
			display: block;
			padding: 2em;
			.pt-button {
				padding: 2em 0em;
				width: 100%;
			}
		}
		.options-wrapper {
			width: 100%;
			border-top: 1px solid #CCC;
			background-color: #F9F9F9;
			padding: 5px;
			overflow: hidden;
			.top-row {
				display: flex;	
				.right-wrapper {
					flex-grow: 1;
					flex-shrink: 1;
					text-align: right;
					white-space: nowrap;
					.pt-button {
						text-decoration: none;
					}
				}
			}
			.pt-input {
				margin: 5px 0px 0px;
			}
		}
		input.file-input {
			display: none;
		}
	}
	.discussion-autocomplete {
		.pt-popover-target {
			width: 100%;
		}
	}	
}

@media only screen and (max-width: 720px) {  /* 45em or 720px */
	.discussion-figure-wrapper {
		figure.discussion {
			margin: 1em 0em !important;
			width: 100% !important;
			float: none !important;
		}
	}
}