.discussion-bubble-component {
	display: flex;
	flex: 0 1 auto;
	align-items: center;
	cursor: pointer;
	user-select: none;
	min-width: 0;
	.bubble {
		width: 18px;
		height: 18px;
		line-height: 16px;
		border-radius: 18px;
		font-size: 11px;
		display: flex;
		text-align: center;
		justify-content: center;
		font-weight: 800;
		margin-right: 5px;
		position: relative;
		flex: 0 0 auto;
		.bubble-dot {
			position: absolute;
			bottom: -4px;
			left: -4px;
			width: 6px;
			height: 6px;
			border-radius: 6px;
		}
	}
	.label {
		font-size: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
