.order-picker-component {
	display: flex;
	background: white;
	border: 1px solid #ccc;
	border-radius: 2px;

	.column {
		width: 50%;
		&:first-of-type {
			border-right: 1px solid #ccc;
		}
	}

	.column-header {
		background: #eee;
		border-bottom: 1px solid #ccc;
		font-weight: bold;
		padding: 0.5em 1em;
		display: flex;
		align-items: center;
		svg {
			margin-left: 0.5em;
			opacity: 0.5;
		}
	}

	.items-listing {
		height: 350px;
		overflow-y: auto;
		> ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.more-spinner {
			margin: 7px 0;
		}
	}

	.search-bar {
		background: #f5f5f5;
		border-bottom: 1px solid #ccc;
		position: sticky;
		top: 0;
		padding: 8px;
	}
}

.order-picker-component_item {
	display: flex;
	> .drag-handle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	> .content {
		flex-grow: 1;
	}
	&.is-dragging {
		opacity: 0.5;
	}
	border-bottom: 1px solid #eee;
}
