.order-picker-component {
	display: flex;
	.column {
		width: 50%;
		&:first-of-type {
			border-right: 1px solid #ccc;
		}
	}
	.column-header {
		background: #eee;
		border-bottom: 1px solid #ccc;
		font-weight: bold;
		padding: 0.5em 1em;
		display: flex;
		align-items: center;
		svg {
			margin-left: 0.5em;
			opacity: 0.5;
		}
	}
	.droppable {
		overflow-y: auto;
		overflow-x: hidden;
		height: 350px;
		max-height: 85vh;
		padding: 1em;
		min-height: 1px;
	}
	.draggable {
		padding: 0.25em 0em;
	}
	.drag-title {
		display: flex;
		align-items: center;
		svg {
			margin-right: 0.5em;
		}
		.text {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
