$mobile-viewport-cutoff: 750px;

@mixin mobile {
	@media screen and (max-width: $mobile-viewport-cutoff) {
		@content;
	}
}

.dashboard-settings-container_custom-css-popover {
	max-width: 400px;
}

.image-upload-row {
	@include mobile {
		flex-direction: column;
	}
}
