@import 'styles/mixins.scss';

.dashboard-settings-container-nope {
	h2 {
		margin-bottom: 1em;
	}
	.settings-section-component {
		margin-top: 3em;
		@include mobile {
			margin-top: 2em;
			label .bp3-popover-target {
				margin-left: 5px;
				padding-bottom: 3px;
				opacity: 0.5;
				.bp3-icon-info-sign svg {
					height: 12px;
					width: 12px;
				}
			}
		}
	}
	.content-buttons {
		float: right;
		button {
			margin-left: 1em;
		}
	}
	.row-wrapper {
		display: flex;
		.input-field-component:not(:first-of-type) {
			margin-left: 10px;
		}
	}
	.disable-block {
		opacity: 0.5;
		pointer-events: none;
	}
	.bp3-card {
		margin-bottom: 15px;
	}
	.settings-section-component .bp3-label .bp3-popover-wrapper {
		display: inline-block;
	}
	.custom-css-tooltip-target {
		margin-left: 5px;
	}
	@include mobile {
		margin-bottom: 2em;
	}
}
