@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

#search-container {
	padding: 2em 0em;
	.search-header {
		display: flex;
		align-items: center;
		h2 {
			flex: 1 1 auto;
			font-weight: 800;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		a {
			white-space: nowrap;
			flex: 0 0 auto;
			margin-left: 1em;
			text-decoration: none;
		}
	}
	.#{$bp}-input-group input {
		margin-bottom: 1em;
		font-size: 35px;
		font-weight: 200;
		height: 70px;
		line-height: 70px;
	}
	.#{$bp}-input-action {
		margin-top: 7px;
	}
	.#{$bp}-tabs {
		border-bottom: 1px solid #ccc;
	}
	.#{$bp}-spinner {
		width: 35px;
		margin: 13px;
	}
	.result {
		margin-bottom: 3em;
		display: flex;
		font-size: 16px;
		a {
			text-decoration: none;
		}
		&.pubs {
			.banner-image {
				width: 100px;
				height: 100px;
			}
		}
		&.pages {
			.banner-image {
				width: 100px;
				height: 125px;
				box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 2px 4px rgba(16, 22, 26, 0.2),
					0 8px 24px rgba(16, 22, 26, 0.2);
			}
		}
		.banner-image {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: #f0f0f0;
			margin-right: 1em;
			border-radius: 2px;
		}
		.content {
			flex: 1 1 auto;
		}
		.title {
			font-weight: 800;
			display: flex;
			svg {
				margin: -5px 0px 0px 5px;
			}
			.pub-title {
				flex: 1 1 auto;
				font-size: 22px;
				word-break: break-word;
			}
			.community-title {
				max-width: 40%;
				font-size: 14px;
				margin-left: 1em;
				a {
					padding: 0.5em;
					white-space: nowrap;
					border-radius: 2px;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
		.byline {
			font-style: italic;
			margin: 0.5em 0em;
		}
	}
}
