#search-container {
	.page-content {
		padding: 2em 0em;
		.pt-input-group input {
			margin-bottom: 1em;
			font-size: 35px;
			font-weight: 200;
			height: 70px;
			line-height: 70px;
		}
		.pt-input-action {
			margin-top: 7px;
		}
		.pt-spinner {
			width: 35px;
			margin: 13px;
		}
		.pub-result {
			margin-bottom: 3em;
			display: flex;
			font-size: 16px;
			.banner-image {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: #F0F0F0;
			    width: 100px;
			    height: 100px;
			    margin-right: 1em;
			    border-radius: 2px;
			}
			.title {
				font-size: 22px;
				font-weight: 800;
			}
			.byline {
				font-style: italic;
				margin: 0.5em 0em;
			}
			.description {
				
			}
		}
	}
}