@use 'styles/vendor';
@use 'sass:color';
@use '../overviewStyles';

$bp: vendor.$bp-namespace;

.kind-toggle-component[type='checkbox'] {
	cursor: pointer;
	display: flex;
	user-select: none;
	align-items: center;
	border-radius: 2px;
	padding: 4px 8px;

	.#{$bp}-icon {
		margin-right: 4px;
		margin-top: 1px;
	}

	&[aria-checked='true'] {
		.count {
			color: overviewStyles.$dark-grey;
		}
	}

	&[aria-checked='false'] {
		color: color.adjust(overviewStyles.$dark-grey, $lightness: 20%);
	}

	&:hover {
		background: rgba(black, 0.05);
	}
}
