@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import '../overviewStyles.scss';

.overview-section-component {
	color: $darkest-grey;

	&.spaced {
		margin-bottom: 20px;
	}

	> .title {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 16px;

		&.descending {
			position: absolute;
		}

		&:not(.descending) {
			margin-bottom: 10px;
		}

		.#{$bp}-icon {
			margin-right: 8px;
			color: $light-grey;
		}
	}
	@include mobile {
		> div.title.descending {
			position: relative;
			margin: 10px 0;
			display: none;
		}
	}
}
