.overview-frame-component {
    display: grid;
    grid-template-areas: 'primary secondary';
    grid-template-columns: 1fr 250px;
    column-gap: 75px;

    & > .primary {
        grid-area: primary;
    }

    & > .secondary {
        grid-area: secondary;
    }
}
