@use 'styles/vendor.scss';

$bp: vendor.$bp-namespace;

@import '../overviewStyles.scss';

$accent-color: $light-grey;
$active-color: #aaa;
$transition-duration: 100ms;

.overview-search-group-component {
	display: flex;
	flex-direction: column;

	> .filter-controls {
		user-select: none;
		margin-bottom: 6px;
		align-self: flex-end;
	}

	> .search-bar {
		display: flex;
		position: relative;
		align-items: center;
		border: 1px solid $accent-color;
		border-radius: 2px;
		padding: 12px;
		transition: box-shadow $transition-duration, color $transition-duration;

		.#{$bp}-icon.search-icon {
			transition: color $transition-duration;
			> svg {
				fill: $accent-color;
			}
		}

		&.search-focused {
			border-color: $active-color;
			box-shadow: 0 4px 2px -2px rgba(black, 0.1);
			.search-icon > svg {
				fill: $active-color;
			}
		}

		> .right-controls {
			display: flex;
			& > :not(:last-child) {
				margin-right: 10px;
			}
		}

		> input {
			font-size: 16px;
			flex-grow: 1;
			border: none;
			outline: none;
			margin-left: 6px;
			&::placeholder {
				font-style: italic;
			}
		}
		@include mobile {
			display: block;
			border: 0;
			padding-top: 5px;
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 10px;
			.#{$bp}-icon.search-icon {
				margin-top: -5px;
				margin-left: 9px;
				> svg {
					width: 14px;
					height: 14px;
				}
			}
			.right-controls {
				margin-top: 5px;
				padding-top: 10px;
				border-top: 1px solid $accent-color;
				> div {
					border: 1px solid $accent-color;
				}
			}
			input {
				width: 90%;
				font-size: 14px;
			}
		}
	}
	@include mobile {
		> .filter-controls {
			align-self: flex-start;
		}
	}
}
