#user-container {
	.page-content {
		padding-top: 3em; 
		.content .row {
			margin: 1em 0em;
		}
		.pt-non-ideal-state {
			margin: 2em auto;
		}
		.external-pubs-wrapper {
			.pt-button {
				float: right;
				margin-left: 1em;
			}
		}
	}
}