#user-container {
	padding-top: 3em;
	.content .row {
		margin: 1em 0em;
	}
	.bp3-non-ideal-state {
		margin: 2em auto;
	}
	.external-pubs-wrapper {
		.bp3-button {
			float: right;
			margin-left: 1em;
		}
	}
}
