.avatar-component {
	color: white;
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	border-style: solid;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-weight: bold;
	vertical-align: middle;
	user-select: none;
}
