.pub-pres-side-user-component {
	display: flex;
	margin-bottom: 30px;
	font-size: 12px;
	.avatar-wrapper {
		flex-shrink: 0;
	}
	.details-wrapper {
		flex-grow: 1;
		padding-left: 7px;
		width: calc(100% - 40px);
		.name {
			font-weight: 600;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}